{% set classes = [
  'jcc-hero--cards',
  'jcc-hero--cards--' ~ hero_cards.background_variant|default('has-background-color--transparent')
]|merge(tile_section.classes|default([''])) %}

<div class="{{ classes|join(' ')|trim }}">
  {% include '@molecules/blocks/hero/hero.twig' with { hero: hero_cards.hero } %}
  {% include '@organisms/sections/card-section/card-section.twig' with { 
    headergroup: hero_cards.headergroup,
    card_section: hero_cards.card_section 
  } %}
</div>