$_config_schemes: (
  base: (
    default-background: $theme-color-base-lighter,
    default-spacing: 6,
    default-spacing-mobile: 4,
    alt-background: primary,
    alt-background-icon: "white",
    alt-background-text: "white",
    alt-main-link: (
      "jcc-button--inverse",
    ),
    default-main-link: (
      "jcc-button--primary",
    ),
    alt-aside-link: (
      "jcc-button--inverse",
    ),
    default-aside-link: (
      "jcc-button--primary",
    ),
  ),
  local: (),
  pro: (
    default-background: "transparent",
    default-spacing: 4,
    default-spacing-mobile: 3,
  ),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);

.jcc-hero {
  @include u-bg(map-get($_config, default-background));

  &--background-alt {
    @include u-bg(map-get($_config, alt-background));

    svg {
      @include u-color(map-get($_config, alt-background-icon));
    }
  }
}

.jcc-hero__container {
  @include grid-container(widescreen);
  @include u-padding-top(map-get($_config, default-spacing-mobile));
  @include u-padding-bottom(map-get($_config, default-spacing-mobile));

  @include at-media(tablet-lg) {
    @include u-padding-top(map-get($_config, default-spacing));
    @include u-padding-bottom(map-get($_config, default-spacing));
  }
}

.jcc-hero__content {
  @include at-media(tablet-lg) {
    @include grid-row();
    @include grid-gap(6);
  }
}

.jcc-hero__main {
  @include u-position(relative);

  @include at-media(tablet-lg) {
    @include grid-col(8);

    .jcc-hero--layout-full-main & {
      @include grid-col(12);
    }
  }

  .icon {
    @include u-position(relative);
    @include u-top(1);
  }
}

.jcc-hero__main-title {
  @include at-media(tablet-lg) {
    @include u-margin-bottom(3);
  }

  .jcc-hero--background-alt & {
    @include u-color(map-get($_config, alt-background-text));
  }
}

.jcc-hero__main-lead {
  @extend .jcc-lead;

  .jcc-hero__main-title + & {
    @include u-margin-top(3);
  }

  .jcc-hero--background-alt & {
    @include u-color(map-get($_config, alt-background-text));
    @include text-color(map-get($_config, alt-background-text));
  }

  &.usa-prose a.ext {
    &::after {
      .jcc-hero--background-alt & {
        @include u-bg(map-get($_config, alt-background-text));
      }
    }
  }
}

.jcc-hero__main-trail {
  @include u-margin-bottom(1);

  .usa-breadcrumb--container {
    @include u-padding-x(0);
    @include u-padding-y(1);
    @include at-media(tablet-lg) {
      @include u-padding-y(2);
    }
  }
}

.jcc-hero__main-brow {
  @extend .jcc-brow;
  @include u-margin-bottom(1.5);
  @include u-text(uppercase);
}

.jcc-hero__main-actions {
  @include u-margin-top(4);

  a {
    .jcc-hero--background-default & {
      @each $button in map-get($_config, default-main-link) {
        @extend .#{$button};
      }
    }

    .jcc-hero--background-alt & {
      @each $button in map-get($_config, alt-main-link) {
        @extend .#{$button};
      }
    }
  }
}

.jcc-hero__aside {
  @include at-media-max(tablet-lg) {
    @include u-margin-top(2);
  }

  @include at-media(tablet-lg) {
    @include grid-col(4);
    @include u-padding-top(1.5);
  }

  .jcc-hero--layout-full-main & {
    @include u-display(none);
  }
}

.jcc-hero__aside-title {
  @include u-margin-bottom(2);

  .jcc-hero--background-alt & {
    @include u-color(map-get($_config, alt-background-text));
  }
}

.jcc-hero__aside-text {
  @include u-margin-bottom(2.5);
  @extend .jcc-lead;

  .jcc-hero--background-alt & {
    @include text-color(map-get($_config, alt-background-text));
  }

  &.usa-prose a.ext {
    &::after {
      .jcc-hero--background-alt & {
        @include u-bg(map-get($_config, alt-background-text));
      }
    }
  }
}

.jcc-hero__aside-link {
  a {
    .jcc-hero--background-default & {
      @each $button in map-get($_config, default-aside-link) {
        @extend .#{$button};
      }
    }

    .jcc-hero--background-alt & {
      @each $button in map-get($_config, alt-aside-link) {
        @extend .#{$button};
      }
    }
  }
}

// Preserve inverse style for embedded buttons.
.jcc-button--primary,
.jcc-button--inverse {
  .jcc-hero--background-alt & {
    @extend .jcc-button--inverse;
    @include u-color("primary", !important);
  }
}

// CSS for background signature title
.jcc-signature-bottom-right {
  @include u-position(absolute);
  color: #f3f3f3;
  font-size: 9px;
  line-height: 22px;
  font-family: Lato, Helvetica, sans-serif;
}

.jcc-hero-tiles__background .jcc-signature-bottom-right {
  bottom: 0;
  right: 0;
  text-orientation: mixed;
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
  background: rgba(69,69,69,0.7);
  padding: 8px 0;
}

.jcc-hero-tiles__background::before {
  z-index : 0 !important;
}

.jcc-hero-tiles__side{
  position: relative;
}

.jcc-hero-tiles__side .jcc-signature-bottom-right {
  bottom: 0;
  right: 0;
  background: rgba(45, 45, 45, 0.7);
  padding: 0 8px;
}
