.usa-nav__secondary {
  @include u-display(flex);
  @include u-flex("justify-end");

  .usa-accordion {
    width: auto;

    @include at-media(desktop) {
      @include u-margin-right(1);
    }
  }

  .usa-accordion li {
  }

  .usa-accordion__button {
    @include u-padding-y(0);
    height: 3.25rem;
  }
}

.usa-header--extended .usa-nav__secondary .usa-nav__link:hover::after {
  height: 0;
}
