.usa-select,
.usa-range,
.usa-input,
.usa-textarea {
  @include u-border(2px);
  height: 3.25rem;
}

.form-required::after {
  @include u-text("error");
  content: " *" !important;
  display: inline;
  font-size: 2rem;
  background-color: transparent !important;
}
