$_config_schemes: (
  base: (
    field-border-size: 2px,
    field-border-radius: 0,
    field-border-color: gray-60,
    icon-color: "primary",
  ),
  local: (),
  pro: (
    field-border-size: 2px,
    field-border-radius: md,
    field-border-color: gray-60,
  ),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);

.usa-input,
.usa-select,
.usa-textarea {
  @include u-padding(1.5);
}

.usa-input,
.usa-select,
.usa-range,
.usa-textarea {
  @include u-border(map-get($_config, field-border-size));
  @include u-radius(map-get($_config, field-border-radius));
  @include u-border-color(map-get($_config, field-border-color));
}

.usa-select,
.usa-range,
.usa-input {
  height: 3.25rem;
}

.usa-select {
  background-image: url("../icons/fa/chevron-down.svg");
  background-size: 1.5rem auto;
}

.usa-form-group {
  margin-top: 0;
}

.jcc-fieldset-search {
  @include u-maxw("mobile-lg");
  @include u-minw(15);
  @include u-width("full");

  .usa-fieldset {
    @include u-position("relative");
  }

  .usa-input {
    @include u-margin-top(0);
  }

  button {
    @include u-position("absolute");
    @include u-right(0);
    @include u-top(1);
    @include u-padding-top(2px);
    @include u-border(0);
    @include u-bg("transparent");

    .icon-search {
      @include u-height(3);
      @include u-width(3);
      fill: color(map-get($_config, icon-color));
    }
  }
}

.usa-paragraph-webform {
  .usa-form-item,
  .usa-form-fieldset {
    @include u-padding-top(2);
    @include u-padding-bottom(2);
  }
  .usa-form-fieldset.usa-fieldset {
    @include u-margin-top(2);
    @include u-padding-bottom(2);
  }
  .usa-form-fieldset {
    .usa-form-item {
      @include u-padding-top(2px);
      @include u-padding-bottom(2px);
    }
  }
  .form-actions {
    @include u-padding-top(2);
  }

  label.form-required:after {
    @include u-color(error);
    @include u-margin-x(0.5);
    content: "*";
    display: inline;
    position: relative;
  }

  .webform-multiple-table {
    @extend .usa-prose;
  }
  .webform-multiple-table table {
    @extend .usa-table;
  }
}
