.usa-select,
.usa-range,
.usa-input,
.usa-textarea {
  @include u-border(2px);
}

.usa-select {
  background-image: url(../images/icomoon/svg/expand_more.svg);
  background-size: 1.5rem auto;
}

.jcc-select--big {
  @include u-padding(2.5);
  height: auto;
  background-size: 2rem auto;
}

.required::after {
  @include u-text("error");
  content: " *" !important;
  display: inline;
  font-size: 2rem;
  background-color: transparent !important;
}
