.jcc-radio--bordered {
  .usa-radio__label {
    @include u-border(2px);
    @include u-padding-y(1.5);
    @include u-padding-left(6);
    @include u-padding-right(3);
    @include u-radius("pill");
  }

  .usa-radio__input:focus + .usa-radio__label::before {
    @include u-outline(0);
  }

  .usa-radio__input:checked + .usa-radio__label {
    @extend .bg-jcc-cyan;
    @extend .border-jcc-cyan;
    @include u-text("white");

    &::before {
      // @include u-bg("white");
      // box-shadow: 0 0 0 2px color("cyan-40v");
    }
  }

  .usa-radio__input:focus + .usa-radio__label {
    @include u-outline("05");
    @include u-outline-color("yellow-20v");
    outline-offset: 0;
  }
}
