.usa-select {
  background-image: url(../images/icomoon/SVG/expand_more.svg);
  background-size: 1.5rem auto;
}

.jcc-select--big {
  @include u-padding(2.5);
  height: auto;
  background-size: 2rem auto;
}
