{#
/**
 * Available variables:
 * - iframe - primary variable
 *   - heading: the heading (title & lead)
 *   - url: iframe url
 *   - classes: array of classes to add to component
 */
#}

{% set classes = [
  'jcc-iframe',
]|merge(iframe.classes|default([])) %}

{% set content %}
  <div class="{{ classes|join(' ')|trim }}">
    {% if iframe.url %}
      <iframe width="100%" height="500" src="{{ iframe.url }}" frameborder="0"></iframe>
    {% endif %}
  </div>
{% endset %}

{% include "@molecules/section/section.twig" with {
  section: {
    heading: iframe.heading,
    content: content,
  }
} %}
