{% set classes = [
  'usa-footer',
  'jcc-footer-base',
  'usa-footer--' ~ footer_base.height_variant|default('simple'),
  'jcc-footer--' ~ footer_base.background_variant|default('default'),
]|merge(text_section.classes|default([''])) %}

<footer class="{{ classes|join(' ')|trim }}">
  
  <div class="usa-footer__primary-section">
  {% if footer_base.height_variant == 'simple' %} 
    <nav class="usa-footer__nav" aria-label="Footer navigation">
      <ul class="grid-row grid-gap">
        <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="javascript:void(0);">Primary link</a>
        </li>
        <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="javascript:void(0);">Primary link</a>
        </li>
        <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="javascript:void(0);">Primary link</a>
        </li>
        <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="javascript:void(0);">Primary link</a>
        </li>
        <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="javascript:void(0);">Primary link</a>
        </li>
      </ul>
    </nav>
  {% endif %}

  {% if footer_base.height_variant == 'big' %}
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-8">
          <nav class="usa-footer__nav" aria-label="Footer navigation">
            <div class="grid-row grid-gap-4">
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Topic</h4>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="#">Secondary link</a></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Topic</h4>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="#">Secondary link that's pretty long</a></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Topic</h4>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="#">Secondary link</a></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Topic</h4>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="#">Secondary link</a></li>
                  </ul>
                </section>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  {% endif %}
  </div>

  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
          {% if footer_base.logo %}
          <div class="mobile-lg:grid-col-auto">
            <img class="usa-footer__logo-img" src="/assets/img/logo-img.png" alt="">
          </div>
          {% endif %}
          <div class="mobile-lg:grid-col-auto">
            <h3 class="usa-footer__logo-heading">Name of Agency</h3>
          </div>
        </div>
        <div class="usa-footer__contact-links grid-col-12 desktop:grid-col-6">
          <div class="usa-footer__social-links">
            {% include '@molecules/blocks/social-links/social-links.twig' with {
              social_links: footer_base.social_links
            } %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include '@molecules/navigation/global-bar/global-bar.twig' with {
    global_bar: footer_base.global_bar
  } %}
</footer>