.jcc-hero-box-nav {
  @include u-padding-bottom(8);
  .jcc-hero-box-nav__nav {
    width: 92%;
    z-index: 2;
    @include grid-container(widescreen);
    @include at-media(desktop) {
      //@include u-margin-bottom(70px);
    }
    .jcc-hero-box-nav__block {
      @include grid-row;
      @include grid-gap(sm);
      @include at-media(desktop) {
        @include u-margin-top(0);
      }
      align-items: stretch;
      .jcc-tile {
        @include u-bg(primary-lighter);
        @include u-text(center);
        @include u-border("05");
        @include u-border(primary-light);
        @include u-padding(2);
        margin: 1em 1% 0 1%;
        //padding-top: 45px;
        float: left;
        box-shadow: none;
        border-radius: 0px;
        transition: 0.4s all;
        @include grid-col(12);
        height: auto;
        &:hover {
          @include u-border(primary);
          transition: 0.4s border;
        }
        .jcc-tile__title a {
          @include u-color(primary);
          @include u-font(sans, 9);
        }
        .jcc-tile__brow {
          text-transform: uppercase;
        }
        @include at-media(widescreen) {
          @include grid-col(3);
          width: 23%;
        }
        @include at-media(desktop) {
          @include grid-col(6);
          width: 48%;
        }
      }
      &.tile-box {
        .jcc-tile {
          @include grid-col(3);
          margin-right: 1%;
          padding-top: 45px;
          .jcc-tile__box {
            @include u-bg("white");
            @include u-width(10);
            @include u-height(10);
            @include u-top(0);
            left: 50%;
            @include u-position(absolute);
            @include u-margin-right(auto);
            border-radius: 80px;
            transform: translate(-50%, -50%);
          }
          img {
            height: 33px;
            @include u-margin-top(3);
          }
          &:nth-child(even) {
            @include u-margin-right(0);
          }
        }
      }
      &.tile-button {
        .jcc-tile {
          @include u-bg("white");
        }
      }
    }
  }
}
