.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.i-name {
  font-size: 32px;
  color: red;
}
========================================== */

.i-globe-2 {
  width: 0.9521484375em;
}

.i-list {
  width: 1.1337890625em;
}
