.jcc-forms-filter__input {
  background-position-y: 4px;
  background-position-x: 0.3rem;
  background-size: 1.8rem;
  background-image: url(../images/icomoon/SVG/search.svg);
  background-repeat: no-repeat;
  padding-left: 2.4rem;
}

.jcc-forms-filter__results-container {
  background: white;
  border-radius: 4px;
  margin-top: 20px;
  color: #333;
  width: 800px;
  max-width: 100%;
}

.jcc-forms-filter__results-header {
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  @include u-text(bold);
  @include u-text(primary);
  @include u-font(sans, md);
}

.jcc-forms-filter__no-results,
.jcc-forms-filter__loading {
  padding: 10px 20px;
  text-align: center;
}

.jcc-forms-filter__no-results--guides,
.jcc-forms-filter__loading--guides {
  border-bottom: 1px solid #eee;
}

.jcc-forms-filter__guide-result-row {
  display: flex;
}

.jcc-forms-filter__guide-result {
  flex-grow: 1;
  width: 50%;
  box-sizing: border-box;

  &:first-child {
    border-right: 1px solid #eee;
  }

  a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    color: #333;

    &:hover {
      text-decoration: underline;
    }
  }
}

.jcc-forms-filter__form-result {
  border-bottom: 1px solid #eee;

  &:last-child {
    border-bottom: none;
  }
}

.jcc-forms-filter__form-result-content {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  color: #333;
  cursor: pointer;

  &:hover {
    .form-title {
      text-decoration: underline;
    }
  }
}

.jcc-forms-filter__expand-button {
  width: 1.8rem;
  height: 1.8rem;
  background-size: 1.8rem;
  background-image: url("../images/icomoon/SVG/remove.svg");

  &[aria-expanded="false"] {
    background-image: url("../images/icomoon/SVG/add.svg");
  }
}

.jcc-forms-filter__form-number-and-title {
  flex-grow: 1;
  .form-number {
    text-transform: uppercase;
    color: #333;
    font-size: 12px;
  }

  .form-title {
  }
}

.jcc-forms-filter__form-links {
  display: none;
  padding: 4px 20px 10px 20px;

  &.visible {
    display: block;
  }
}
