{% include '@organisms/global/header/header.twig' %}
{% include '@molecules/blocks/hero/hero.twig'  with {
  title: 'Find Your Court Forms',
  lead: '',
  body: '
    <label for="srl-filter-input">Search for any topic or form number, or view all forms</label>
    <input placeholder="E.g. divorce, name change, fl-100, restraining order" class="usa-input" id="srl-filter-input" name="input-type-text" type="text">
    <div class="search-results">
      <div class="results-header">Guides</div>
      <div class="guide-results"></div>
      <div class="results-header">Forms</div>
      <div class="form-results"></div>
    </div>
  ',
  background_variant: 'has-background-color--dark',
  height_variant: 'viewport-height',
  breadcrumbs: 'top.breadcrumbs'
} %}
