{% include '@organisms/global/header/header.twig' with {
  menu_items: []
} %}
{% include '@molecules/blocks/hero/hero.twig' with {
  hero: {
    title: 'Find Your Court Forms',
    lead: '',
    body: '
      <div class="jcc-forms-filter__input-container">
        <label for="jcc-forms-filter__input">Search for any topic or form number, or <a class="text-white" href="../05-pages-form-lookup-all-forms/05-pages-form-lookup-all-forms.html">view all forms</a></label>
        <input type="text"
               id="jcc-forms-filter__input"
               placeholder="E.g. divorce, name change, fl-100, restraining order"
               class="usa-input jcc-forms-filter__input"
               name="input-type-text"
               autocomplete="off">
      </div>
      <div class="jcc-forms-filter__results-container">
        <div class="jcc-forms-filter__results-header">Guides</div>
        <div class="jcc-forms-filter__guide-results">
          <div class="jcc-forms-filter__loading--guides">...</div>
        </div>
        <div class="jcc-forms-filter__results-header">Forms</div>
        <div class="jcc-forms-filter__form-results">
          <div class="jcc-forms-filter__loading">...</div>
        </div>
      </div>',
    background_variant: 'has-background-color--dark',
    height_variant: 'viewport-height',
    breadcrumbs: 'top.breadcrumbs'
  }
} %}
