<div class="jcc-dropdown">
  <select>
    {% for option in options %}
    <option value="{{ option.value }}">{{ option.label }}</option>
    {% endfor %}
  </select>   
 </div>


<div class="jcc-styleguide-spacer"></div> <!-- only for Pattern Lab -->

<div class="jcc-dropdown jcc-dropdown--jumbo">
<select>
  {% for option in options %}
  <option value="{{ option.value }}">{{ option.label }}</option>
  {% endfor %}
</select>