<div class="jcc-dropdown{% if size_variant %} jcc-dropdown--{{size_variant}}{% endif %}" title="{{ title }}">
  <select>
    {% for option in options %}
    <option value="{{ option.value }}">{{ option.label }}</option>
    {% endfor %}
  </select>   
</div>