{% set classes = [
  'jcc-link-list-with-button__container',
]|merge(link_list_with_button.classes|default([''])) %}

<div class="{{ classes|join(' ')|trim }}"{% if cards_with_button.id %} id="{{ cards_with_button.id }}"{% endif %}>
  {% if link_list_with_button.headergroup %}
    {% include '@molecules/text/header-group/header-group.twig' with {
      headergroup: link_list_with_button.headergroup
    } %}
  {% endif %}

  {% include '@molecules/blocks/link-list-simple/link-list-simple.twig' with {
    link_list: {
      items: link_list_with_button.items,
      button: link_list_with_button.button,
      columns: link_list_with_button.columns,
      files_list: link_list_with_button.files_list
    }
  } %}
</div>
