.jcc-timeline-dual-section {
  @include section-wrapper;
  @include u-position(relative);

  .jcc-header-group__title {
    @include u-text(primary-dark);
    @include has-dash();
  }
}

.jcc-timeline-dual__title-bar {
  @include section-wrapper;
  @include grid-row;
  padding-bottom: 80px;
}

.jcc-timeline-dual__title-bar-title {
  @include grid-col(4);
  @include u-font(body, 6);
  @include u-color(primary);
  text-align: center;
  float: none;

  @include at-media(tablet-lg) {
    @include u-font(body, 9);
  }
}

.jcc-timeline-dual__title-bar-previous,
.jcc-timeline-dual__title-bar-next {
  @include grid-col(4);
  @include u-font(body, 5);

  @include at-media(tablet-lg) {
    @include u-font(body, 6);
  }

  &:hover {
    @include u-text("cyan-40v");
  }
}

.jcc-timeline-dual__title-bar-previous {
  float: left;
}

.jcc-timeline-dual__title-bar-next {
  float: right;
  text-align: right;
}

.jcc-timeline-dual-section__container {
  @include section-container;
}

.jcc-timeline-dual__wrapper {
  @include u-position(relative);
  display: block;

  @include at-media-max(tablet-lg) {
    margin-top: 60px;
  }

  @include at-media(tablet-lg) {
    display: flex;
  }
}

.jcc-timeline-dual__titles {
  @include at-media-max(tablet-lg) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
  }

  @include at-media(tablet-lg) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 343px; // 150px + 43px + 150px
    min-width: 145px;
  }
}

.jcc-timeline-dual__top-title {
  @include u-color(primary);
  @include u-font(body, 7);
  line-height: 1.3;

  @include at-media-max(mobile-lg) {
    width: 30%;
  }

  @include at-media-max(mobile) {
    width: 40%;
  }

  @include at-media(mobile-lg) {
    width: 23%;
  }

  @include at-media(tablet-lg) {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: auto;
    height: 150px;
    padding-bottom: 50px;
  }

  // Large/light bar
  &::before {
    @include u-position("absolute");
    @include u-bg(primary-lighter);
    left: 0;
    content: "";

    @include at-media(tablet-lg) {
      width: 100%;
      height: 28px;
      bottom: 0;
    }
  }

  // Thin/dark bar
  &::after {
    @include u-position("absolute");
    @include u-bg(primary);
    left: 0;
    content: "";

    @include at-media(tablet-lg) {
      width: 100%;
      height: 2px;
      bottom: 28px;
    }
  }
}

.jcc-timeline-dual__bottom-title {
  @include u-color(accent-warm-dark);
  @include u-font(body, 7);
  line-height: 1.3;
  text-align: right;

  @include at-media-max(mobile-lg) {
    width: 30%;
  }

  @include at-media-max(mobile) {
    width: 40%;
  }

  @include at-media(mobile-lg) {
    width: 23%;
  }

  @include at-media(tablet-lg) {
    position: relative;
    width: auto;
    height: 150px;
    padding-top: 50px;
    text-align: left;
  }

  // Large/light bar
  &::before {
    @include u-position("absolute");
    @include u-bg(accent-warm-light);
    right: 0;
    content: "";

    @include at-media(tablet-lg) {
      width: 100%;
      height: 28px;
      top: 0;
    }
  }

  // Thin/dark bar
  &::after {
    @include u-position("absolute");
    @include u-bg(accent-warm-dark);
    right: 0;
    content: "";

    @include at-media(tablet-lg) {
      width: 100%;
      height: 2px;
      top: 28px;
    }
  }
}

.jcc-timeline-dual__slider-wrapper {
  @include at-media(tablet-lg) {
    position: relative;
    overflow: hidden;
  }
}

.jcc-timeline-dual__slider-scroller {
  @include at-media(tablet-lg) {
    margin-bottom: -30px; // Hide scrollbar
    overflow-x: auto;
  }
}

.jcc-timeline-dual__slider {
  @include at-media(tablet-lg) {
    display: inline-flex;
    flex-wrap: nowrap;
    padding-bottom: 30px; // Hide scrollbar
  }

  &:focus {
    outline: none;
  }
}

.scroll-button {
  .jcc-timeline-dual__slider-wrapper & {
    position: absolute;
    top: 120px;
    height: 103px;
    z-index: 15;

    @include at-media-max(tablet-lg) {
      display: none;
    }
  }

  &.hidden {
    display: none;
  }
}

.scroll-button--left {
  .jcc-timeline-dual__slider-wrapper & {
    left: 0;
  }
}

.scroll-button--right {
  .jcc-timeline-dual__slider-wrapper & {
    right: 0;
  }
}
