.jcc-header {
  @include u-bg(primary-darker);
  @include u-position(relative);
  @include u-border-bottom(accent-warm-dark);
  @include u-border-bottom("05");
  z-index: 10;
  box-shadow: 0px 16px 0px 0px rgba(0, 0, 0, 0.05);
}

.jcc-header__container {
  @include at-media(desktop) {
    @include grid-container(widescreen);
    @include clearfix;
    @include u-padding-top(2);
    @include u-padding-bottom(2);
    @include grid-row;
    @include u-flex(justify);
    @include u-minh(10);
  }
}

.jcc-header_menu--desktop {
  @include at-media(desktop) {
    @include u-position(relative);
    @include u-flex(justify-end);
    @include u-flex(fill);
  }

  &.slicknav_menu.slicknav_menu--desktop {
    @include at-media(desktop) {
      @include u-display(flex);
    }
  }
}

.jcc-header__logo {
  @include at-media("desktop") {
    @include grid-col(3);
    @include u-position(relative);
  }

  .jcc-logo {
    @include u-position(absolute);
  }
}
