<header class="jcc-header">
  <div class="jcc-header__container">
    <div class="jcc-header__logo">
      {% include '@atoms/icons/logo.twig' with  {
        icon: logo.icon,
        title: logo.title,
        icon_file: logo.icon_file,
        decorative: logo.decorative
      } %}
    </div>
    {% include '@molecules/navigation/header-nav/header-nav.twig' with {
      menu_items: menu_items
    } %}
  </div>
</header>