<header class="jcc-header-group">
	{% if brow is not empty %}
	<p class="jcc-header-group__brow">{{ headergroup.brow }}</p>
	{% endif %}
	<h2 class="jcc-header-group__title">{{ headergroup.title }}</h2>
	{% if lead is not empty %}
	<p class="jcc-header-group__lead">{{ headergroup.lead }}</p>
	{% endif %}
</header>
