// SCHEME PROPERTIES

$schemes: (
        sans: (
                label-font: sans,
                counter-font: sans,
                counter-border: #ffffff,
                header-font: sans,
                current-elem-color: color($theme-color-primary),
                header-counter-fill: color($theme-color-primary),
                header-counter-border: transparent,
                header-counter-font-color: #ffffff
        ),
        serif: (
                label-font: serif,
                counter-font: serif,
                counter-border: #ffffff,
                header-font: serif,
                current-elem-color: color($theme-color-primary),
                header-counter-fill: color($theme-color-primary),
                header-counter-border: transparent,
                header-counter-font-color: #ffffff
        ),
        simple :(
                label-font: sans,
                counter-font: serif,
                counter-border: color($theme-color-accent-warm),
                header-font: serif,
                current-elem-color: color($theme-color-accent-warm),
                header-counter-fill: #ffffff,
                header-counter-border: color($theme-color-accent-warm),
                header-counter-font-color: color($theme-color-primary)

        )
);

// Generate a style for each scheme
@each $scheme, $map in $schemes {
  $theme-jcc-label-font: map-get($map, label-font);
  $theme-jcc-counter-font: map-get($map, counter-font);
  $theme-jcc-counter-border: map-get($map, counter-border);
  $theme-jcc-header-font: map-get($map, header-font);
  $theme-jcc-current-color: map-get($map, current-elem-color);
  $theme-jcc-header-counter-fill: map-get($map, header-counter-fill);
  $theme-jcc-header-counter-border: map-get($map, header-counter-border);
  $theme-jcc-header-counter-font-color: map-get($map, header-counter-font-color);


  .step-indicator-base-scheme-#{$scheme} {
    .usa-step-indicator__header h2 {
      @include u-font-family($theme-jcc-header-font);
    }
    .jcc-step-indicator-base li{
      @include u-font-family($theme-jcc-label-font);
      &:before {
        @include u-font-family($theme-jcc-counter-font);
      }
    }
    .usa-step-indicator__segment--current:after {
      background-color: $theme-jcc-current-color;
    }
    .usa-step-indicator__current-step {
        background-color: $theme-jcc-header-counter-fill;
        color: $theme-jcc-header-counter-font-color;
        box-shadow: 0 0 0 units($theme-step-indicator-counter-gap) $theme-jcc-header-counter-border;
    }
    .jcc-step-indicator-base.usa-step-indicator--counters .usa-step-indicator__segment--current::before{
      background-color: $theme-jcc-header-counter-fill;
      box-shadow: 0 0 0 units($theme-step-indicator-counter-gap) $theme-jcc-counter-border;
      color: $theme-jcc-header-counter-font-color;
    }
  }
}