.jcc-step-indicator-base{
  .item-alignment-center {
    .usa-step-indicator__segment-label {
      text-align: center;
    }
  }
  &.usa-step-indicator--counters .usa-step-indicator__segment--complete{
    &::before {
      background-color: color($theme-step-indicator-segment-color-complete);
      box-shadow: 0 0 0 units($theme-step-indicator-counter-gap)
      color($step-indicator-background-color);
      color: color($step-indicator-background-color);
    }
  }
  &.usa-step-indicator--counters .usa-step-indicator__segment--current{
    &::before {
      background-color: color($theme-step-indicator-segment-color-current);
      box-shadow: 0 0 0 units($theme-step-indicator-counter-gap)
      color($step-indicator-background-color);
      color: color($step-indicator-background-color);
    }
  }
}
