.jcc-step-indicator-base{
  .item-alignment-center {
    .usa-step-indicator__segment-label {
      text-align: center;
    }
  }
  &.usa-step-indicator--counters,
  &.usa-step-indicator--counters-sm {
    .usa-step-indicator__segment--complete {
      &::before {
        background-color: color($theme-step-indicator-segment-color-complete);
        box-shadow: 0 0 0 units($theme-step-indicator-counter-gap) color($step-indicator-background-color);
        color: color($step-indicator-background-color);
      }
    }

    .usa-step-indicator__segment--current {
      &::before {
        background-color: color($theme-step-indicator-segment-color-current);
        box-shadow: 0 0 0 units($theme-step-indicator-counter-gap) color($step-indicator-background-color);
        color: color($step-indicator-background-color);
      }
    }
  }

  &.usa-step-indicator--center {
    margin-left: units($theme-step-indicator-segment-gap) / -2;
    margin-right: units($theme-step-indicator-segment-gap) / -2;

    .usa-step-indicator__segment {
      margin-left: units($theme-step-indicator-segment-gap) / 2;
      margin-right: units($theme-step-indicator-segment-gap) / 2;

      &:before {
        @if $theme-step-indicator-counter-gap == 0 {
          left: calc(50% - ((#{units($step-indicator-counter-size)}) / 2));
        } @else {
          left: calc(
                  50% -
                  (
                  (
                  #{units($step-indicator-counter-size)} +
                  #{units($theme-step-indicator-counter-gap)}
                  ) /
                  2
                  )
          );
        }
      }
    }

    .usa-step-indicator__segment-label {
      // Balance label padding
      @include u-padding-x(1);
      // Center labels
      text-align: center;
    }

    &.usa-step-indicator--no-labels {
      .usa-step-indicator__segment {
        // Use full-width segments
        &:first-child {
          &:after {
            left: 0;
          }
        }
        &:last-child {
          &:after {
            right: 0;
          }
        }
      }
    }

    &.usa-step-indicator--counters-sm {
      .usa-step-indicator__segment {
        &:before {
          @if $theme-step-indicator-counter-gap == 0 {
            left: calc(50% - ((#{units($step-indicator-counter-size-sm)}) / 2));
          } @else {
            left: calc(
                    50% -
                    (
                    (
                    #{units($step-indicator-counter-size-sm)} +
                    #{units($theme-step-indicator-counter-gap)}
                    ) /
                    2
                    )
            );
          }
        }
      }
    }
  }
}
