<header class="jcc-header-group">
  {% if brow %}
  <p class="jcc-header-group__brow">{{ brow }}</p>
  {% endif %}
  <h2 class="jcc-header-group__title">{{ title }}</h2>
  {% if lead %}
  <p class="jcc-header-group__lead">{{ lead }}</p>
  {% endif %}
</header>
