{% if id and content %}
  <div class="jcc-read-more">
    <button class="jcc-read-more__trigger usa-button usa-button--unstyled" data-a11y-toggle="{{ id }}">
      {{ title ?? 'Read more'|t }}
    </button>

    <div id="{{ id }}" class="jcc-read-more__content">
      {{ content }}
    </div>
  </div>
{% endif %}
