{% if id and content %}
  <div class="jcc-read-more {% if block_variant %} jcc-read-more--block{% endif %}">   
    <button class="jcc-read-more__trigger usa-button usa-button--unstyled" data-a11y-toggle="{{ id }}">
      {{ title ?? 'Read more'|t }}

      {% include '@atoms/icons/icon.twig' with  {
        icon: left_icon.icon,
        title: left_icon.title,
        icon_file: left_icon.icon_file,
        decorative: left_icon.decorative
      } %}

    </button>

    <div id="{{ id }}" class="jcc-read-more__content">
      {{ content }}
    </div>

  </div>
{% endif %}
