{% if tooltip %}
<span class='jcc-tooltip jcc-tooltip-primary tooltip'>
  {{ tooltip.highlight }}
  <span class='top'>
    <span>{{ tooltip.tool_text }}</span>
    <i></i>
  </span>
</span>
{% endif %}
