{#
/**
 * Available variables:
 * - news_full - primary variable
 *   - title: the title of the page
 *   - type: the type (taxonomy term)
 *   - date: date of news item
 *   - byline: author/etc
 *   - components: pre-rendered components
 *   - classes: array of classes to add to component
 */
#}

{% set metadata %}
  {% include "@molecules/date-byline/date-byline.twig" with {
    date_byline: {
      date: news_full.date,
      byline: news_full.byline,
    }
  } %}
{% endset %}

{% set main_content %}
  <div class="jcc-news-full__main">
    {% include "@molecules/section/section.twig" with {
      section: {
        content: metadata,
        spacing: 'none',
        classes: ['jcc-news-full__meta']
      }
    } %}

    <div class="jcc-news-full__content">
      {% for item in news_full.components %}
        {{ item }}
      {% endfor %}
    </div>
  </div>
{% endset %}


{% set classes = [
  'jcc-news-full',
]|merge(news_full.classes|default([])) %}

<div class="{{ classes|join(' ')|trim }}">
  {% include "@molecules/hero/hero.twig" with {
    hero: {
      main: {
        brow: news_full.type,
        title: news_full.title,
      },
      layout: 'full-main',
    }
  } %}

  {% include "@molecules/section/section.twig" with {
    section: {
      content: main_content,
      container: 'no-container',
    }
  } %}
</div>
