{#
/**
 * Available variables:
 * - breadcrumb - primary variable
 *   - items: array of breadcrumb items
 *     - label: label of breadcrumb item
 *     - url: url of breadcrumb item
 *   - classes: array of classes to add to component
 */
#}

{% set classes = [
  'usa-breadcrumb',
]|merge(breadcrumb.classes|default([''])) %}

{% if breadcrumb.items|length > 0 %}
  <nav class="{{ classes|join(' ')|trim }}" aria-label="Breadcrumbs">
    <ol class="usa-breadcrumb__list">
      {% for crumb in breadcrumb.items %}
        {% if crumb.url %}
          <li class="usa-breadcrumb__list-item">
            <a href="{{ crumb.url }}" class="usa-breadcrumb__link">
              <span>{{ crumb.label }}</span>
            </a>
          </li>
        {% else %}
          <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
            <span>{{ crumb.label }}</span>
          </li>
        {% endif %}

      {% endfor %}
    </ol>
  </nav>
{% endif %}
