@import "../../../00-protons/00-global";

.jcc-steps {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

.jcc-steps__step {
	@include custom-counter();
	@include custom-counter-line();
	@include u-measure('5');
	@include u-line-height('body', 4);
	padding-left: 3.5rem;
}
