{% set url_attributes = url_attributes ? url_attributes : create_attribute() %}
<div class="jcc-tile">
  <p class="jcc-tile__brow">{{ brow }}</p>
  <h3 class="jcc-tile__title"><a href="{{ url }}"{% if url_attributes %}{{ url_attributes }}{% endif %}>{{ title }}</a></h3>
</div>
