.jcc-content-stream {
  @include u-margin-bottom(8);

  .jcc-section__inner {
    @include u-padding-left(0);
  }

  .jcc-cards {
    @include u-margin-top(0, !important);
    @include u-padding-left(1, !important);
  }

  .jcc-cards__item {
    @include u-width(full);
    @include u-margin-x(0);
    @include u-padding-left(0);
    @include u-padding-right(0);
    @include u-padding-bottom(2);

    &:first-child {
      .usa-card__media {
        @include u-width(full);
        @include u-margin-right(4);

        @include at-media(tablet) {
          @include u-width(mobile-lg);
        }

        div {
          @include add-aspect("16x9");
        }
      }

      .usa-card--media-placeholder {
        .usa-card__media {
          img {
            object-fit: unset;
            height: 85%;
            margin: 0.8rem 0;
          }
        }
      }
    }

    &:not(:first-child) {
      .usa-card--media-placeholder {
        .usa-card__media {
          img {
            @include u-position(relative);
          }
        }
      }
    }

    .usa-card__media {
      @include u-margin-right(3);
      width: 8.75rem;

      div {
        @include add-aspect("1x1");
      }
    }

    .usa-card__container {
      @include u-padding-x(0);
    }
  }

  .usa-card__media {
    div {
      @include u-display(inline-block);
      @include u-position(relative);
      @include u-width(full);
      @include u-overflow(hidden);

      img {
        @include u-position(absolute);
        @include u-width(full);
        @include u-height(full);
        @include u-top(0);
        @include u-left(0);
        object-fit: cover;
      }
    }
  }

  .usa-card__brow + .usa-card__heading {
    @include u-padding-top(0);
  }

  .usa-card--media-placeholder {
    .usa-card__media {
      div {
        @include u-height(auto);
        @include u-padding(1);
        @include u-bg("blue-warm-70v");

        img {
          @include u-display(block);
          top: unset;
          left: unset;
        }
      }
    }
  }
}
