// Disables non-native backdrop
.jcc-modal__backdrop {
  @include u-display(none);
}

.jcc-modal[data-a11y-dialog-native] .jcc-modal__backdrop {
  @include u-display(none);
}

.jcc-modal[aria-hidden="true"] .jcc-modal__backdrop {
  @include u-display(none);
}

// Shows the dialog window. This attr is added by the A11yDialog script.
.jcc-modal__dialog[open] {
  @include u-display(block);
}

// Hides the dialog window. This attr is added by the A11yDialog script.
.jcc-modal[aria-hidden="true"] {
  @include u-display(none);
}

.jcc-modal__backdrop,
.jcc-modal__dialog::backdrop {
  // Structural Attributes
  @include u-position(fixed);
  @include u-top(0);
  @include u-bottom(0);
  @include u-left(0);
  @include u-right(0);

  // Visual Attributes
  background-color: rgba(black, 0.2);
}

.jcc-modal__dialog {
  // Structural Attributes
  @include u-padding-y(6);
  @include u-padding-x(2);
  @include u-margin-x(auto);
  @include u-position(relative);
  box-sizing: border-box;
  margin-top: 5%;
  margin-bottom: 5%;
  min-height: 80%;
  width: 90%;
  max-width: 70rem;

  dialog::backdrop {
    /* native */
    background-color: white;
  }
  dialog + .backdrop {
    /* polyfill */
    background-color: gray;
  }

  @include at-media(desktop) {
    @include u-padding(6);
  }

  // Visual Attributes
  @include u-border(0);
  @include u-shadow(4);
}

.jcc-modal__close-button {
  @include u-position(absolute);
  top: 0.5rem;
  right: 0.5rem;

  @include at-media(desktop) {
    top: 1rem;
    right: 1rem;
    -webkit-appearance: none;
  }

  svg {
    height: 2rem;
    width: 2rem;
  }
}

.jcc-modal .jcc-modal__dialog .jcc-modal__content {
  @extend .usa-prose;
}

.jcc-modal__trigger {
  @include button-unstyled;
  @include u-font-size(sans, md);
}

.jcc-modal__dialog {
  @include u-bg("white");
  @include u-color("black");
}

.jcc-modal--full {
  .jcc-modal__dialog {
    @include u-minh(full);
    @include u-width(full);
    @include u-margin(0);
    @include u-maxw(full);
    @include u-padding-x(0);
    @include u-padding-top(0);
  }

  .jcc-modal__footer {
    @include section-container;
    @include u-padding-x(2);

    @include at-media(desktop) {
      @include u-padding-x(4);
    }
  }
}
