// Disables non-native backdrop
.jcc-modal[data-a11y-dialog-native] .jcc-modal__backdrop {
  @include u-display('none');
}

// Shows the dialog window. This attr is added by the A11yDialog script.
.jcc-modal__dialog[open] {
  @include u-display('block');
}

// Hides the dialog window. This attr is added by the A11yDialog script.
.jcc-modal [aria-hidden="true"] {
  @include u-display('none');
}

.jcc-modal__backdrop,
.jcc-modal__dialog::backdrop {
  // Structural Attributes
  @include u-position('fixed');
  @include u-top(0);
  @include u-bottom(0);
  @include u-left(0);
  @include u-right(0);

  // Visual Attributes
  background-color: rgba(black, 0.2);
}

.jcc-modal__dialog {
  // Structural Attributes
  @include u-padding(2);
  @include u-margin-y(5%);
  @include u-margin-x('auto');
  @include u-minh(80%);
  @include u-width(90%);
  @include u-maxw(70rem);
  @include u-position('relative');
  box-sizing: border-box;

  @include at-media(desktop) {
    @include u-padding(6);
  }

  // Visual Attributes
  @include u-border(0);
  @include u-shadow(4);
}

.jcc-modal__close-button {
  webkit-appearance: none;
  @include u-position('absolute');
  @include u-top(0);
  @include u-right(0);

  @include at-media(desktop) {
    @include u-top(32px);
    @include u-right(32px);
  }
}

.jcc-modal__content {
}

.jcc-modal__trigger {
  @include button-unstyled;
  @include u-font-size("sans", "md");
  text-decoration: none;
}

.jcc-modal--full {
  .jcc-modal__dialog {
    @include u-minh('full');
    @include u-width('full');
    @include u-margin(0);
    @include u-maxw('full');
  }
}
