.jcc-footer-tall__container {
  @include section-wrapper(9);
  @include u-bg(primary-dark);
  @include centerer();

  .jcc-footer-tall {
    @include section-container();

    &__site_name {
      @include u-text-align(center);
      @include u-color(base-lightest);
      @include u-font(heading, 11);
      @include u-text(uppercase);
      letter-spacing: 2px;
    }

    .jcc-social-links {
      @include u-text-align(center);

      &__item,
      &__item *,
      &__item:visited {
        @include u-color(base-lightest);
        @include u-margin-x(1);
        transition: 0.4s all;
      }
      &__item:hover * {
        @include u-color(base-light);
      }

      svg {
        width: 2em;
        height: 2em;
      }
    }

    &__links {
      @include centerer();
      @include u-font(mono, 4);
      @include u-text(uppercase);
      @include u-color(base-lightest);
      letter-spacing: 3px;

      a {
        @include u-text-decoration(no-underline);
        &:hover {
          @include u-text-decoration(underline);
          @include u-color(base-light);
        }
      }
    }

    .jcc-inline-nav {
      @include u-flex-direction(column);
      @include u-text-align(center);

      @include at-media(desktop) {
        @include u-flex-direction(row);

        li + li:before {
          content: " | ";
          @include u-color(base-lightest);
          @include u-padding-right(1);
        }
      }
    }
  }
}
