{% set tag = footer_tall.tag|default('h2') %}

<div class="jcc-footer-tall__container">
    <div class="jcc-footer-tall">
        <{{ tag }} class="jcc-footer-tall__site_name">{{ footer_tall.site_name }}</{{ tag }}>

        {% include '@molecules/blocks/social-links/social-links.twig' with {
            social_links: footer_tall.social_links
        } %}

        <div class="jcc-footer-tall__links">
            {% if patternlab %}
                {% include '@molecules/navigation/inline-nav/inline-nav.twig' with {
                    inline_nav: footer_tall.inline_nav
                } %}
            {% else %}
                {{ content }}
            {% endif %}
        </div>
    </div>
</div>