.usa-accordion--full {
}

.jcc-accordion__heading-container {
  @include u-bg(base-lightest);
  @include u-border-bottom(base-lighter);
  @include u-border-bottom(1px);

  .usa-accordion__heading {
    @include section-container;
  }

  .usa-accordion__button,
  .usa-accordion__button[aria-expanded="false"] {
    background-size: 2rem;
  }

  .usa-accordion__button {
    @include u-padding-y(5);
    @include u-padding-x(0);
    @include responsive-h4($responsive-font-family: heading);
    @include u-text(normal);
    @include u-text(italic);
    @include u-bg("transparent");
  }
}

.jcc-accordion__content-container {
  .usa-accordion__content {
    @include section-container;
  }
}

.usa-accordion__button,
.usa-accordion__button[aria-expanded="false"] {
  background-size: 1.5rem;
}

.usa-accordion__button {
  background-image: url("../images/icomoon/svg/remove.svg");
}

.usa-accordion__button[aria-expanded="false"] {
  background-image: url("../images/icomoon/svg/add.svg");
}
