.jcc-postcard {
  @include section-wrapper;

  .jcc-header-group__title {
    @include u-text(primary-dark);
    @include has-dash();
  }
}

.jcc-postcard__image {
  @include u-position(relative);

  @include at-media(desktop) {
    @include u-text(right);
    @include u-display(flex);
    justify-content: flex-end;
  }

  img {
    @include u-display(block);
    @include u-border(1px, base-light);
  }
}

.jcc-postcard--has-background-image {
  @include u-padding-y(6);
  @include u-position(relative);

  .jcc-postcard__media {
    @include cover-image();
  }

  .jcc-postcard__image {
    @include u-position(absolute);
    @include u-top(0);
    @include u-right(0);
    @include u-bottom(0);
    @include u-left(0);
    @include u-width(full);
    @include u-height(full);
    @include u-overflow(hidden);
  }

  .jcc-postcard__content {
    @include u-bg("white");
  }

  .jcc-header-group {
    @include u-padding(6);
    padding: 18px;
  }

  .jcc-postcard__row {
    > * {
      @include u-padding(0);
    }
  }
}

.jcc-postcard--has-background-color--light,
.jcc-postcard--has-background-color--dark,
.jcc-postcard--has-background-color--light--secondary,
.jcc-postcard--has-background-color--dark--secondary {
  @include section-wrapper-bg;
}

.jcc-postcard--has-background-color--light,
.jcc-postcard--has-background-color--light--secondary {
  @include light-background($light-background-color: secondary-lighter);
}

.jcc-postcard--has-background-color--dark,
.jcc-postcard--has-background-color--dark--secondary {
  @include dark-background($dark-background-color: secondary);
}

.jcc-postcard__media {
  @include u-margin-bottom(4);

  @include at-media(desktop) {
    $car: 0;
    @include u-margin-bottom($car);
    @include u-order(last);
  }
}

.jcc-postcard--has-header-left {
  .jcc-postcard__media {
    @include at-media(desktop) {
      @include u-order(last);
    }
  }

  .jcc-header-group {
    @include at-media(desktop) {
      @include u-padding-right(2);
    }
  }
}

.jcc-postcard--has-header-right {
  .jcc-postcard__media {
    @include at-media(desktop) {
      @include u-order(first);
    }
  }
}

.jcc-postcard__container {
  @include grid-container(widescreen);
}

.jcc-postcard__tag {
  @extend .usa-tag;
  @include u-pin-bottom;
  @include u-font-size(body, 8);
  @include u-padding-y("0.5");
  @include u-padding-x(2);
  @include u-bg(primary-dark);
  @include u-left(0);
  @include u-bottom(0);
  @include u-display(none);

  @include at-media(tablet) {
    @include u-display(block);
  }

  @include at-media(desktop) {
    @include u-right(0);
    @include u-left(auto);
    @include u-display(block);
  }
}

.jcc-postcard__content {
  @include u-line-height(body, 4);
  @include u-position(relative);

  @include at-media(desktop) {
    // @include u-display(flex);
    // align-items: center;
  }
}

.jcc-postcard__row {
  @include at-media(desktop) {
    @include grid-row;
    @include grid-gap;
  }
}

.jcc-postcard__media,
.jcc-postcard__content {
  @include u-width(full);
  @include u-position(relative);

  @include at-media(desktop) {
    @include grid-col(6);
  }
}
