.jcc-postcard {
  @include u-padding-top(1);
  @include u-padding-bottom(6);

  .jcc-header-group__title {
    @include u-text(primary-dark);
  }

  .jcc-header-group__body {
  }
}

.jcc-postcard__image {
  position: relative;

  @include at-media(desktop) {
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }

  img {
    display: block;
  }
}

.jcc-postcard--has-background-image {
  @include u-padding-y(6);
  @include u-margin-bottom(6);
  position: relative;

  .jcc-postcard__media {
    @include cover-image();
  }

  .jcc-postcard__content {
    @include u-bg("white");
  }

  .jcc-header-group {
    @include u-padding(6);
  }
}

.jcc-postcard--has-background-color--light,
.jcc-postcard--has-background-color--dark {
  @include section-wrapper-bg;
}

.jcc-postcard--has-background-color--light {
  @include u-bg("blue-cool-5");
}

.jcc-postcard--has-background-color--dark {
  @include dark-background($dark-background-color: "cyan-50");
}

.jcc-postcard__media {
  @include u-margin-bottom(2);

  @include at-media(desktop) {
    @include u-margin-bottom(0);
    @include u-order("last");
  }
}

.jcc-postcard--has-header-left {
  .jcc-postcard__media {
    @include at-media(desktop) {
      @include u-order("last");
    }
  }
}

.jcc-postcard--has-header-right {
  .jcc-postcard__media {
    @include at-media(desktop) {
      @include u-order("first");
    }
  }
}

.jcc-postcard__container {
  @include grid-container("widescreen");
}

.jcc-postcard__tag {
  @extend .usa-tag;
  @include u-pin-bottom;
  left: 0rem;
  bottom: 0rem;

  @include at-media(desktop) {
    right: 0rem;
    left: auto;
  }
}

.jcc-postcard__content {
  @include u-line-height("body", 4);
  position: relative;

  @include at-media(desktop) {
    display: flex;
    align-items: center;
  }
}

.jcc-postcard__row {
  @include at-media("desktop") {
    @include grid-row;
    @include grid-gap;
  }
}

.jcc-postcard__media,
.jcc-postcard__content {
  @include u-width(full);
  position: relative;

  @include at-media(desktop) {
    @include grid-col(6);
  }
}
