{% set classes = [
  'jcc-postcard',
  'jcc-postcard--' ~ postcard.background_variant|default('has-background-color--transparent'),
  'jcc-postcard--' ~ postcard.headergroup.tag == 'h2' ? 'has-header-left' : 'has-header-right',
]|merge(postcard.classes|default([''])) %}

<div class="{{ classes|join(' ')|trim }}"{% if postcard.id %} id="{{ postcard.id }}"{% endif %}>
  <div class="jcc-postcard__container">
    <div class="jcc-postcard__row">
      {% if postcard.img %}
        <div class="jcc-postcard__media">
          <div class="jcc-postcard__image">
            {% include '@atoms/image/image.twig' with { image: postcard.img } %}

            {% if postcard.tag %}
              <span class="jcc-postcard__tag">{{ postcard.tag }}</span>
            {% endif %}
          </div>
        </div>
      {% endif %}

      <div class="jcc-postcard__content">
        {% include '@molecules/text/header-group/header-group.twig' with {
          headergroup: postcard.headergroup,
        } %}
      </div>
    </div>
  </div>
</div>
