.jcc-read-more {
  
}

.jcc-read-more__trigger {
  @include button-unstyled;
  text-decoration: none;
  vertical-align: bottom; // Temporary Styles for icon
}

.jcc-read-more__content {
  @include u-padding-y(3); 
}

.jcc-read-more__content[aria-hidden="true"] {
  display: none;
}

.jcc-read-more__trigger[aria-expanded="true"] .icon {
  transform: rotate(180deg);
  margin-bottom: -4px;
}


// Temporary Styles for icon
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-bottom: -4px;
}