.usa-button {
  @include u-padding-y(2);
  @include u-padding-x(3);

  &:disabled {
    @include u-text(gray-70);
  }
}

a.usa-button {
  &:focus {
    @include u-text("white");
  }
}

.usa-button--big {
  @include u-padding-y(2.5);
  @include u-padding-x(4);
  @include u-font-size(body, 8);
  @include u-radius(0);
}

.external-button {
  @include u-padding-y(2);
  @include u-padding-left(3);
  @include u-padding-right(5);
  @include u-font-size(body, 7);
  @include u-font-weight(normal);
  @include u-radius("pill");
  @include u-bg(secondary);
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
  }
}

.usa-button--external {
  @include u-padding-left(3);
  @include u-padding-right(5);
  &:after {
    background-image: url("../images/graphics/right-arrow-white.svg");
    right: 8px;
    top: 19px;
    width: 20px;
    height: 20px;
  }
}

.usa-button--form {
  @include u-padding-left(7);
  @include u-padding-right(3);
  &:before {
    content: "";
    background-image: url("../images/graphics/form.svg");
    left: 17px;
    top: 11px;
    width: 30px;
    height: 25px;
    background-size: cover;
  }
}

.external-explainer {
  @include u-font-size(body, 4);
  @include u-color(primary);
  @include u-text("italic");
}

.usa-button--unstyled {
  @include u-padding(0);
}

.usa-button--accent-warm {
  @include u-text(ink);
  background-color: color(accent-warm);

  &:hover,
  &.usa-button--hover {
    @include u-text(ink);
    background-color: color(accent-warm-dark);
  }

  &:active,
  &.usa-button--active {
    @include u-text(gray-90);
    background-color: color(accent-warm-darker);
  }
}
