.usa-button {
  @include u-padding-y(2);
  @include u-padding-x(3);

  &:disabled {
    @include u-text(gray-70);
  }
}

.usa-button--big {
  @include u-padding-y(2.5);
  @include u-padding-x(4);
  @include u-font-size(body, 8);
  @include u-radius(0);
}

.usa-button--exterior {
  @include u-padding-y(4);
  @include u-padding-left(4);
  @include u-padding-right(5);
  @include u-font-size(body, 6);
  @include u-font-weight(normal);
  @include u-radius("pill");
  @include u-bg(secondary);
  &:after {
    content: "";
    display: block;
    background-image: url("../images/graphic/right-caret-white.svg");
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

.usa-button--unstyled {
  @include u-padding(0);
}

.usa-button--accent-warm {
  @include u-text(ink);
  background-color: color(accent-warm);

  &:hover,
  &.usa-button--hover {
    @include u-text(ink);
    background-color: color(accent-warm-dark);
  }

  &:active,
  &.usa-button--active {
    @include u-text(gray-90);
    background-color: color(accent-warm-darker);
  }
}
