{% set classes = [
  'usa-button',
  'usa-button--back',
  back_button.style ? 'usa-button--' ~ back_button.style,
  back_button.style != 'unstyled' ? 'usa-button--accent-warm',
]|merge(back_button.classes|default([''])) %}

<a class="{{ classes|join(' ')|trim }}" href="{{ back_button.url|default('javascript:history.back()') }}">
  {% include '@atoms/icons/icon.twig' with {
    icon: {
      name: 'chevron_left',
      decorative: true,
      color: 'text-ink'
    }
  } %}
  {{- back_button.text|default('Previous') -}}
</a>
