{% set attributes = button.attributes ? button.attributes : create_attribute() %}

{% set classes = [
  'usa-button',
  'usa-button--' ~ button.style|default('primary'),
]|merge(button.classes|default([''])) %}

<button {{ attributes.addClass(classes) }} {% if button.aria_label %}aria_label="{{ button.aria_label }}"{% endif %}{% if button.action %}{% endif %}>
  {{- button.text -}}
</button>
