{% set classes = [
  'usa-button',
  'usa-button--' ~ external_button.style|default('external'),
]|merge(classes|default([''])) %}
<div class="">
<a class="{{ classes|join(' ')|trim }} external-button" href="{{ external_button.url }}">
  {{- external_button.text -}}
</a>
{% if external_button.explainer %}
  <span class="external-explainer">{{- external_button.explainer -}}</div>
{% endif %}
</div>
