{% set classes = [
  'usa-button',
  'usa-button--index',
  'usa-button--unstyled'
]|merge(index_button.classes|default([''])) %}

<a class="{{ classes|join(' ')|trim }}" href="{{ index_button.url|default('#') }}">
  {% include '@atoms/icons/icon.twig' with {
    icon: {
      name: 'list',
      decorative: true,
      color: 'text-ink'
    }
  } %}
  {{- index_button.text|default('Click') -}}
</a>
