{% set classes = [
  'usa-button',
  'usa-button--index',
  'usa-button--' ~ index_button.style|default('unstyled'),
]|merge(index_button.classes|default([''])) %}

<a class="{{ classes|join(' ')|trim }}" href="{{ index_button.url|default('#') }}">
  {% include '@atoms/icons/icon.twig' with {
    icon: {
      name: button.icon.name|default('list'),
      decorative: true
    }
  } %}
  {{- index_button.text|default('Click') -}}
</a>
