{% set attributes = attributes ? attributes : create_attribute() %}

{% set classes = [
  'usa-button',
  'usa-button--' ~ link_button.style|default('primary'),
]|merge(classes|default([''])) %}

<a{{ attributes.addClass(classes) }} href="{{ link_button.url }}">
  {{- link_button.text -}}
</a>
