{% set attributes = scroll_button.attributes ? scroll_button.attributes : create_attribute() %}

{% set classes = [
  'scroll-button',
  'scroll-button--' ~ scroll_button.direction|default('right'),
  scroll_button.style ? 'scroll-button--' ~ scroll_button.style,
]|merge(scroll_button.classes|default([''])) %}

<button {{ attributes.addClass(classes) }}>
  <span class="usa-sr-only">{{ 'Scroll ' ~ scroll_button.direction|default('right') }}</span>
  {% include '@atoms/icons/icon.twig' with {
    icon: {
      name: 'chevron_' ~ scroll_button.direction|default('right'),
      decorative: true,
      color: 'white'
    }
  } %}
</button>
