{% if action_list.items|length > 0 %}
  <ul class="jcc-action-list"{% if action_list.id %} id="{{ action_list.id }}"{% endif %}>

    {% for item in action_list.items %}
      <li class="jcc-action-list__item">
        <div class="jcc-action-list__content">
          {% if item.title %}
            <p><strong>{{ item.title }}</strong></p>
          {% endif %}

          {% if item.description %}
            <p>{{ item.description }}</p>
          {% endif %}
        </div>

        {% if item.button %}
          <div class="jcc-action-list__action">

            {# Use 'secondary' button style, unless explicitly provided. #}
            {% set button = item.button|merge({
              style: item.button.style|default('secondary')
            }) %}

            {% include "@atoms/buttons/link-button.twig" with {
              link_button: button
            } only %}
          </div>
        {% endif %}
      </li>
    {% endfor %}

  </ul>
{% endif %}
