.jcc-header-group {
  overflow: hidden;
}

.jcc-header-group__title {
  @include u-margin-bottom(3);

  @include at-media-max(desktop) {
    @include add-dash($dash-position: "above-left", $dash-width: 5rem);
  }

  .has-alt-background & {
    @include at-media(desktop) {
      @include add-dash(
        $dash-position: "left-right",
        $inner-spacing: 150px,
        $inner-color: color($theme-color-section-alt)
      );
    }
  }

  :not(.has-alt-background) & {
    @include at-media(desktop) {
      @include add-dash(
        $dash-position: "left-right",
        $inner-spacing: 150px,
        $inner-color: color($theme-body-background-color)
      );
    }
  }
}

.jcc-header-group__lead {
  @include u-margin-bottom(2);
  @extend .jcc-lead;
}
