{% set tag = headergroup.tag|default('h2') %}

{% if headergroup.title or headergroup.lead %}
  <header class="jcc-header-group">
    {% if headergroup.title %}
      <{{ tag }} class="jcc-header-group__title">
        <span>{{ headergroup.title }}</span>
      </{{ tag }}>
    {% endif %}

    {% if headergroup.lead %}
      <div class="jcc-header-group__lead">{{ headergroup.lead }}</div>
    {% endif %}
  </header>
{% endif %}
