.jcc-wayfinder-section {
  @include section-wrapper;
  text-align: center;

  .jcc-header-group__title {
    @include u-text(primary-dark);
    @include has-dash-position($dash-position: below-center, $dash-width: 3rem);
  }

  .jcc-header-group__lead {
    text-align: left;
  }

  .jcc-header-group {
    @include u-padding-bottom(4);
  }

  .jcc-header-group__body {
    text-align: left;
  }
}

.jcc-wayfinder-section__container {
  @include u-maxw(tablet-lg);
  @include u-margin-x(auto);
  @include u-padding-x(3);
}

.jcc-wayfinder-section__content {
  @include u-line-height(body, 4);
  @include u-margin-bottom(4);
  @extend .usa-prose;

  .jcc-form {
    text-align: left;
  }
}
