.jcc-wayfinder-section {
  @include section-wrapper;

  .jcc-header-group__title {
    @include u-text(primary-dark);
    @include has-dash-position($dash-position: below-center, $dash-width: 3rem);
    @include u-font(heading, 11); // 32
    text-align: center;

    @include at-media(desktop) {
      @include u-font(heading, 14); // 40
    }
  }

  .jcc-lead {
    @include u-font(body, 7); // 22
    text-align: left;

    @include at-media(desktop) {
      @include u-font(body, 10); // 24
    }
  }

  .jcc-header-group {
    @include u-padding-bottom(4);
  }

  .jcc-header-group__body {
    text-align: left;
  }
}

.jcc-wayfinder-section__container {
  @include u-maxw(tablet-lg);
  @include u-margin-x(auto);
  @include u-padding-x(3);
}

.jcc-wayfinder-section__content {
  @include u-line-height(body, 4);
  @include u-margin-bottom(1);
  @extend .usa-prose;

  @include at-media(desktop) {
    @include u-margin-bottom(4);
  }
}

.jcc-modal {
  .jcc-wayfinder-section {
    @include u-padding-y(0);

    @include at-media(desktop) {
      @include section-wrapper;
    }
  }
}
