<div class="jcc-wayfinder-section"{% if wayfinder_section.id %} id="{{ wayfinder_section.id }}"{% endif %}>
  <div class="jcc-wayfinder-section__container">
    <form class="usa-form jcc-form">
      {% include '@molecules/text/header-group/header-group.twig' with {
        headergroup: wayfinder_section.headergroup
      } %}
      {% if wayfinder_section.content_first or  wayfinder_section.content_second %}
        <div class="jcc-wayfinder-section__content">
          {{ wayfinder_section.content_first }}
          {{ wayfinder_section.content_second }}
        </div>
      {% endif %}
      <div class="jcc-wayfinder-section__pager">
        {% include '@molecules/navigation/button-pager/button-pager.twig'with {
          button_pager: button_pager
        } %}
      </div>
    </form>
  </div>
</div>
