<div class="jcc-switchboard jcc-switchboard--{{ modifier }} {{ bg_modifier }}">
	<div class="jcc-switchboard__container">
		<header class="jcc-header-group">
			<h2 class="jcc-header-group__title">{{ title }}</h2>
			<p class="jcc-header-group__lead">{{ lead }}</p>
		</header>
		<div class="jcc-switchboard__content">
			<ul class="jcc-switchboard__tiles">
				<li class="jcc-switchboard__tile">
						<div class="jcc-tile">
							<p class="jcc-tile__brow">One</p>
							<h3 class="jcc-tile__title"><a href="#">Someone took money from my paycheck</a></h3>
						</div>
					</li>
					<li class="jcc-switchboard__tile">
						<div class="jcc-tile">
							<p class="jcc-tile__brow">One</p>
							<h3 class="jcc-tile__title"><a href="#">Someone took money from my paycheck</a></h3>
						</div>
					</li>
					<li class="jcc-switchboard__tile">
						<div class="jcc-tile">
							<p class="jcc-tile__brow">One</p>
							<h3 class="jcc-tile__title"><a href="#">Someone took money from my paycheck</a></h3>
						</div>
					</li>
			</ul>
			<ul class="jcc-switchboard__tiles">
				<li class="jcc-switchboard__tile">
						<div class="jcc-tile">
							<p class="jcc-tile__brow">One</p>
							<h3 class="jcc-tile__title"><a href="#">Someone took money from my paycheck</a></h3>
						</div>
					</li>
					<li class="jcc-switchboard__tile">
						<div class="jcc-tile">
							<p class="jcc-tile__brow">One</p>
							<h3 class="jcc-tile__title"><a href="#">Someone took money from my paycheck</a></h3>
						</div>
					</li>
					<li class="jcc-switchboard__tile">
						<div class="jcc-tile">
							<p class="jcc-tile__brow">One</p>
							<h3 class="jcc-tile__title"><a href="#">Someone took money from my paycheck</a></h3>
						</div>
					</li>
			</ul>
		</div>
	</div>
</div>
