$amt: 10%; // amount to darken in percent
$c1: #008480;
$c2: #0b4778;
$c3: #2378c3;
$c4: #162e51;

.jcc-hero-icon-nav {
  @include u-margin-bottom(4);

  .jcc-hero {
    @include u-bg("transparent");

    &__column-left {
      @include u-maxw("full");
      @include u-text-align("center");
    }

    &__content {
      @include u-padding-top(4);
      @include u-padding-bottom(5);
    }

    &__brow {
      @include u-margin-bottom(2);
      @include u-font-size("body", 11);
      @include u-font-weight("bold");
      @include u-color("primary");
      @include has-dash-position($dash-position: "below-center", $dash-width: 6rem);
    }

    &__title {
      @include u-color("black");
    }
  }
}

.jcc-hero-icon-nav__nav {
  @include grid-container(desktop);
  max-width: 83.5rem;

  a {
    @include u-text-decoration("no-underline");
  }

  .jcc-cards {
    @include u-margin-x(0);

    &__container {
      @include at-media("tablet-lg") {
        @include u-padding-x(0);
      }
    }
  }

  .usa-card {
    @media all and (-ms-high-contrast: none) and (min-width: 1024px) {
      width: 33.4%;
    }
    @media all and (-ms-high-contrast: none) and (min-width: 1112px) {
      width: 35.7%;
    }
    height: 10rem;
    @include at-media("tablet") {
      height: 15rem;
    }
    @include u-margin-bottom(0, !important);

    &:nth-child(1) {
      z-index: 4;

      .usa-card__container {
        background-color: $c1;

        &:hover {
          background-color: darken($c1, $amt);
        }
      }
    }
    &:nth-child(2) {
      z-index: 3;

      .usa-card__container {
        background-color: $c2;

        &:hover {
          background-color: darken($c2, $amt);
        }
      }
    }
    &:nth-child(3) {
      z-index: 2;

      .usa-card__container {
        background-color: $c3;

        &:hover {
          background-color: darken($c3, $amt);
        }
      }
    }
    &:nth-child(4) {
      z-index: 1;

      .usa-card__container {
        background-color: $c4;

        &:hover {
          background-color: darken($c4, $amt);
        }
      }
    }

    h2,
    h3 {
      @include u-font("sans", 5);
      @include u-font-weight("bold");
      @include at-media("tablet") {
        @include u-font("sans", 8);
      }
      @media only screen and (min-width: 1200px) {
        @include u-font("sans", 10);
      }
    }

    &__container {
      @extend .jcc-border--borderless;
      @include background-color();
      @include u-margin(0);
      @include u-padding-y(4);
      @include at-media("tablet") {
        @include u-padding-top(7);
        @include u-padding-bottom(5);
      }
      -webkit-box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.3);
    }

    &__media {
      @media all and (-ms-high-contrast: none) {
        margin: 0;
        padding: 0 40% !important;
      }

      @include u-margin-x("auto");
    }

    &__header {
      @include u-padding-x(0, !important);
      @include u-text-align("center");
      @include at-media("tablet") {
        @include u-padding-top(3);
        @include u-padding-x(2, !important);
      }
    }
  }

  .jcc-image--media-icon {
    @include at-media("tablet") {
      @include u-width(8);
      @include u-height(8);
    }

    img {
      @include at-media("tablet") {
        @include u-width(8);
        @include u-height(8);
      }
    }
  }

  .jcc-hero-icon-nav__block--image {
    @include u-display("none");
    @include at-media("desktop") {
      @include u-display("block");
      @include u-overflow("hidden");
      height: 30rem;

      img {
        @include u-width("full");
        @include u-height("full");
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
  }
}
