.jcc-hero-icon-nav.jcc-hero-icon-nav-style--variant-three {
  .jcc-hero-img-banner__hero {
    @include at-media(desktop) {
      height: 420px;
      @include u-padding-y(9);
      @include u-text-align(center);

      &-divider {
        @include u-display(none);
      }

      &-subtitle {
        @include u-display(none);
      }
    }
  }

  .jcc-hero-icon-nav__nav {
    @include at-media(desktop) {
      margin-top: -200px;
    }
  }

  .jcc-hero-icon-nav__block {
    @include at-media(desktop) {
      @include u-display(flex);
      @include u-flex-direction(row);
      @include u-justify-content(justify-center);
    }
  }

  .tile-icon {
    .jcc-tile {
      @include u-display(flex);
      @include u-flex-direction(row);

      @include at-media(desktop) {
        @include u-display(block);
        @include u-width(card);
        @include u-height(15);
        @include u-text-align(center);
        @include u-margin-x(0);
        @include u-position(relative);
        background-color: transparent;
        @include u-border(0);
        @include u-padding-x(1);
        @include link-hover-slide;
      }

      &__icon {
        @include at-media(desktop) {
          @include u-bg(base-lightest);
          @include u-radius(pill);
          @include u-width(7);
          @include u-height(7);
          @include u-padding(1);
          @include u-margin-x(auto);
          @include u-margin-bottom(1);
        }

        img {
          @include at-media(desktop) {
            @include u-height(4);
          }
        }
      }

      &__title {
        @include u-padding-left(4);

        @include at-media(desktop) {
          @include u-padding-left(0);
          @include u-font-size(heading, 5);
        }

        a {
          @include at-media(desktop) {
            @include u-color(base-lightest);
            @include u-font-family(code);
            @include u-font-size(code, md);
            @include u-text-decoration(underline);
          }

          &:hover {
            @include at-media(desktop) {
              @include u-color(ink);
              @include u-text-decoration(no-underline);
            }
          }
        }
      }
    }
  }

  .tile-button {
    @include at-media(desktop) {
      @include u-margin-top("05");
    }

    .jcc-tile {
      @include at-media(desktop) {
        @include u-height(8);
        background-color: transparent;
        @include u-border(0);
        @include u-margin-y(1);
        @include u-padding-top("05");
      }

      &__title {
        @include at-media(desktop) {
          @include u-font-size(body, 5);
        }

        a {
          @include at-media(desktop) {
            @include u-color(base-lightest);
            @include u-text-decoration(underline);
            @include u-font-family(code);
            @include u-font-size(code, sm);
          }

          &:hover {
            @include at-media(desktop) {
              @include u-color(accent-warm);
            }
          }
        }
      }
    }
  }
}
