.jcc-hero-icon-nav {
  @include u-padding-bottom(9);

  .jcc-hero-icon-nav__hero {
    @include u-text("center");
    @include u-color("white");
    height: 430px;
    @include u-width(full);
    @include u-position(relative);
    background-color: #01223e;
    z-index: -1;
    padding: 6em 2em;
    object-fit: cover;

    &-brow {
      text-transform: uppercase;
      z-index: 1;
      font-size: 20px;
    }
    &-title {
      z-index: 1;
      @include u-font(heading, 12);
      @include at-media(desktop) {
        @include u-font(heading, 16);
      }
    }
    &-divider {
      @include u-width(10);
      border-bottom: 2px solid white;
      margin: 20px auto;
      z-index: 1;
    }
    &-subtitle {
      @include u-font(heading, 10);
      font-style: italic;
      z-index: 1;
      @include at-media(desktop) {
        @include u-font(heading, 12);
      }
    }
    img {
      @include u-position(absolute);
      @include u-left(0);
      @include u-top(0);
      @include u-width(full);
      opacity: 0.3;
      z-index: -1;
      object-fit: cover;
      height: 100%;
    }
  }
  .jcc-hero-icon-nav__nav {
    width: 92%;
    z-index: 2;
    margin-top: -80px;
    @include grid-container(widescreen);
    @include at-media(desktop) {
      margin-top: -136px;
      //@include u-margin-bottom(70px);
    }
    .jcc-hero-icon-nav__block {
      @include grid-row;
      @include grid-gap(sm);
      @include at-media(desktop) {
        @include u-margin-top(0);
      }
      .jcc-tile {
        @include u-bg(primary-lighter);
        @include u-text(center);
        @include u-border("05");
        @include u-border(primary-light);
        @include u-padding(2);
        margin: 1em 1% 0 1%;
        padding-top: 45px;
        float: left;
        box-shadow: none;
        border-radius: 0px;
        transition: 0.4s all;
        &:hover {
          @include u-border(primary);
          transition: 0.4s border;
        }
        .jcc-tile__title a {
          @include u-color(primary);
          @include u-font(sans, 9);
        }
      }
      &.tile-icon {
        .jcc-tile {
          @include grid-col(6);
          margin-right: 1%;
          @include u-margin-top(10);
          padding-top: 45px;
          width: 48%;
          @include at-media(desktop) {
            @include grid-col(3);
            width: 23%;
          }
          .jcc-tile__icon {
            @include u-bg("white");
            @include u-width(10);
            @include u-height(10);
            @include u-top(0);
            left: 50%;
            @include u-position(absolute);
            @include u-margin-right(auto);
            border-radius: 80px;
            transform: translate(-50%, -50%);
          }
          img {
            height: 33px;
            @include u-margin-top(3);
          }
          &:nth-child(even) {
            @include u-margin-right(0);
          }
        }
      }
      &.tile-button {
        @include at-media(desktop) {
          @include u-margin-top(3);
        }
        .jcc-tile {
          padding-top: 20px;
          width: 100%;
          @include u-bg("white");
          @include at-media(desktop) {
            @include grid-col(4);
            width: 31%;
            @include u-margin-top(0);
          }
        }
      }
    }
  }
}
