<div class="jcc-hero-icon-nav">
  {% if hero_icon_nav.hero_img_banner %}
    {% include '@molecules/blocks/hero-img-banner/hero-img-banner.twig' %}
  {% endif %}
  <div class="jcc-hero-icon-nav__nav">
    <div class="jcc-hero-icon-nav__block tile-icon">
        {% for tile in hero_icon_nav.links.icons %}
            {% include '@molecules/blocks/tile/tile.twig' with { tile: tile } %}
        {% endfor %}
    </div>
    <div class="jcc-hero-icon-nav__block tile-button">
      {% for tile in hero_icon_nav.links.buttons %}
          {% include '@molecules/blocks/tile/tile.twig' with { tile: tile } %}
      {% endfor %}
    </div>
  </div>
</div>
