<div class="jcc-filelist">
  <h2 class="jcc-filelist__title">{{ title }}</h2>
  <ul class="jcc-filelist__list">
    {% for file in files %}
      <li class="jcc-filelist__item">
        <span class="jcc-filelist__icon" title="Download File">[&nbsp;&nbsp;&nbsp;]</span>
        <a download href="{{file.url}}" title="{{file.name}}">{{file.name}}</a>
      </li>
    {% endfor %}
  </ul>

</div>