@import "../../node_modules/slicknav/scss/slicknav.scss";

// Hide slick nav display on desktop. There's an alternate.
#slick-menu {
  @include u-display(none);
}

.slicknav_menu {
  @include u-display(block);

  @include at-media(desktop) {
    @include u-display(none);
  }
}

.slicknav_menu.slicknav_menu--desktop {
  @include u-display(none);

  @include at-media(desktop) {
    @include u-display(block);
  }
}

.slicknav_nav {
  @include at-media(desktop) {
    @include u-display(flex);
  }
}

.slicknav_menu {
  @include u-color(primary-darker);
}

nav.jcc-primary-nav {
  text-align: left;
  @include u-bg("base-lightest");

  @include at-media(desktop) {
    .usa-nav__primary.usa-accordion {
      @include u-margin-top(0);
    }
  }
}

.jcc-primary-nav__container {
  @include at-media(desktop) {
    @include grid-container(widescreen);
    @include clearfix;
    @include grid-row;
  }
}

.jcc-primary_menu--desktop {
  background-color: #f9f9f9;
  padding: 0;
}

.jcc-primary-nav .usa-nav__primary-item {
  @include at-media(desktop) {
    border-top: none;
    margin-right: 4px;
  }
  .usa-nav__link {
    padding: 1rem 3.5rem 1rem 1.25rem;
    border: 0;
    @include u-bg(primary-dark);
    &[aria-expanded="true"] {
      @include u-bg(primary-dark);
      span {
        @include u-color("white");
      }
      & + .usa-nav__submenu {
        display: block;
      }
    }
    &:hover {
      &:after {
        display: none !important;
      }
      span {
        @include at-media(desktop) {
          @include u-color("white");
        }
        @include u-color(primary-lighter);
      }
    }
    @include at-media(desktop) {
      @include u-padding(3);
      @include u-bg("base-lightest");
      padding-left: 20px;
      &:hover {
        @include u-bg(primary-dark);
        @include u-color("white");
        cursor: pointer;
      }
      &:hover[aria-expanded="true"] {
        background-image: url(../images/icomoon/SVG/expand_less_white.svg);
      }
      &:hover[aria-expanded="false"] {
        @include u-bg(primary-dark);
        background-image: url(../images/icomoon/SVG/expand_more_white.svg);
      }
    }
    span {
      @include at-media(desktop) {
        @include u-color(primary);
        @if $trial {
          @include jcc-text-color(primary-blue-vivid-dark);
        }
      }
      @include u-color("white");
      @include u-font-size("body", 7);
      @include u-text(uppercase);
      font-weight: 400;
    }
  }
}

.jcc-primary-nav .jcc-primary-nav__sub {
  margin-left: 0;
  @include u-display(block);
  @include at-media(desktop) {
    padding-right: 10%;
  }
  li {
    & .jcc-primary-nav__sub-sub--item {
      @include at-media(desktop) {
        @include u-display(block);
        width: 100%;
        padding-left: 1.7em;
        @include u-padding-y(2);
        @include u-font("body", 7);
        letter-spacing: 1px;
        background-color: transparent;
      }

      a:hover {
        @include u-text-decoration(underline);
      }
    }
    @include u-display(block);
    padding: 0 70px;
    text-align: left;
    @include u-bg(primary-lighter);
    @include at-media(desktop) {
      @include u-display(inline-flex);
      flex-direction: column;
      width: 33%;
      @include u-padding(1);
      @include u-bg(primary-dark);
    }
    &:hover {
      @include u-bg(primary-light);
      @include at-media(desktop) {
        background-color: #283e62;
      }
    }
    a {
      padding: 0;
      margin: 0;
      text-align: left;
      text-decoration: none;
      @include u-color(primary);
      @include u-padding(2);
      @include at-media(desktop) {
        @include u-color(primary-light);
      }
      &:hover {
        background-color: transparent;
      }
      .jcc-primary-nav__sub--title {
        position: relative;
        padding: 15px 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        @include u-font-size("body", 7);
        @include u-text("bold");
        @include at-media(desktop) {
          padding: 0;
          &:hover {
            background-color: transparent;
          }
        }
        &:after {
          @include u-display(none);
          content: "";
          background-image: url("../images/graphics/arrow-right.svg");
          height: 15px;
          width: 15px;
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          margin-left: 10px;
          margin-top: 1px;
          @include at-media(desktop) {
            @include u-display(inline);
          }
        }
      }
      .jcc-primary-nav__sub--description {
        @include at-media(desktop) {
          @include u-display(block);
        }
        @include u-display(none);
        @include u-color("white");
        @include u-text("normal");
        @include u-font-size("body", 5);
        margin-top: 1em;
        line-height: 1.4em;
        text-transform: none;
        letter-spacing: 1px;
      }
    }
  }
}
.usa-nav__primary > .usa-nav__primary-item > a.jcc-primary-nav__top_link {
  @include at-media(desktop) {
    @include u-padding(0);
  }
}

.jcc-primary-nav .usa-header--extended .usa-nav__primary-item .jcc-primary-nav__button-single {
  background-image: none !important;
  & [aria-expanded="true"] {
    background-image: none !important;
  }
  & [aria-expanded="false"] {
    background-image: none !important;
  }
}

.usa-header--extended [aria-expanded="true"]::after {
  display: none !important;
}

.jcc-primary-nav .usa-nav__submenu {
  @include u-display(none);
}

.jcc-primary-nav .usa-accordion__button + .usa-nav__submenu {
  @include u-display(none);
  @include u-bg(primary-lighter);
  @include at-media(desktop) {
    @include u-bg(primary-dark);
  }
  &:after {
    @include u-bg(primary-dark);
  }
  &:before {
    @include u-bg(primary-dark);
  }
}

.usa-header-extended .usa-nav {
  @include u-display(none);
}

//mobile
.jcc-primary-nav {
  #js-header_menu--mobile,
  #js-header_menu--mobile-2 {
    .slicknav_menu {
      @include u-bg("white");
    }
    .slicknav_btn {
      @include u-bg("white");
    }
    .slicknav_menutxt {
      @include u-display(none);
    }
    .slicknav_nav {
      @include u-bg(primary-dark);
    }
    .slicknav_nav a {
      @include u-padding(0);
      @include u-margin(0);
    }

    .slicknav_nav .usa-nav__primary-item {
      border-top: 1px solid #7283a0;
    }

    .slicknav_menu {
      .jcc-primary-nav__sub--item {
        .slicknav_arrow {
          display: none;
        }

        ul.jcc-primary-nav__sub--1 {
          display: block !important;

          li {
            padding: 10px 0;
          }
        }
      }
    }
    .jcc-primary-nav__sub--item {
      ul.jcc-primary-nav__sub--1 {
        .jcc-primary-nav__sub--item {
          @include at-media(desktop) {
            @include u-display(block);
            width: 100%;
            padding-left: 1.7em;
            @include u-padding-y(2);
            @include u-font("body", 7);
            letter-spacing: 1px;
            background-color: transparent;
          }
        }
      }
    }

    .slicknav_menu .slicknav_icon-bar {
      display: block;
      width: 27px;
      height: 3px;
      border-radius: 10px;
      -webkit-box-shadow: none;
      margin-bottom: 5px;
      @include u-bg(primary-dark);
    }
    .slicknav_icon {
      margin: 0;
    }
    .usa-accordion__button {
      background-image: url();
    }
    .usa-accordion__button[aria-expanded="true"] {
      background-image: url(../images/icomoon/SVG/expand_less_white.svg);
    }
    .usa-accordion__button[aria-expanded="false"] {
      background-image: url(../images/icomoon/SVG/expand_more_white.svg);
    }
  }
}

/* remove uppercase titles if lowercase_titles = true */
.jcc-primary-nav--lowercase-titles {
  .usa-nav__primary-item {
    .usa-nav__link {
      span {
        text-transform: none;
      }
    }
  }
  .jcc-primary-nav__sub {
    li {
      a {
        .jcc-primary-nav__sub--title {
          font-size: 1.37rem !important; /* equates to system token 9 ... u-font does not support !important */
          @include u-text(no-uppercase, ls-1, !important);
        }
      }
    }
  }
}
