.jcc-step {
  @include t-intro();
  @include u-measure("6");
  @include u-line-height("body", 4);
  padding-bottom: 2.5rem;
  margin-bottom: 0;

  .jcc-read-more__content {
  }
}

.jcc-step__title {
  @include responsive-h4();
  @include u-font-family("sans");
  @include u-text("bold");
  @include u-text("blue-70v");
  @include u-margin-y(1.5);
}

.jcc-step__excerpt {
  margin-bottom: 1rem;
}
