{% set tag = tag|default('h3') %}

<div class="jcc-step">
  <{{tag}} class="jcc-step__title">{{ title }}</{{tag}}>

  {% if excerpt %}
    <div class="jcc-step__excerpt">{{ excerpt }}</div>
  {% endif %}

  {% if read_more %}
    <div class="jcc-step__read-more">
      {% include "@molecules/interactive/read-more/read-more.twig" with {
        id: read_more.id,
        title: read_more.title,
        content: read_more.content
      } %}
    </div>
  {% endif %}
</div>
