iframe {
  @include u-maxw(full);
  @include u-width(full);
  @include u-border(0);
}

.embed-responsive {
  @include u-position(relative);
  @include u-maxw(full);
  @include u-overflow(hidden);
  aspect-ratio: 16/9;
  height: 100%;

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    @include u-pin(top, left);
    position: relative;
    height: inherit;
    z-index: 1;
  }
}
