.jcc-global-bar {
  @include u-padding-y(0.5);
  @include u-text("white");
  @include u-bg(primary-darker);

  @include at-media(desktop) {
    height: 2.5rem;
  }

  .jcc-inline-nav {
    @include at-media-max(desktop) {
      flex-wrap: wrap;
    }

    .jcc-inline-nav__item {
      @include u-margin-right(4);
      @include at-media-max(desktop) {
        @include u-margin(0);
        width: 50%;
      }

      &:last-child {
        @include u-margin-right(0);
      }
    }

    a {
      @include u-text("white"); // theme
      @include u-font(sans, 5);
      @include u-text(no-underline);

      @include at-media-max(desktop) {
        @include u-display(block);
        @include u-padding(2);
      }

      @include at-media(desktop) {
        @include u-text("white");
      }
    }
  }
}

.jcc-global-bar__container {
  @include u-maxw(widescreen);
  @include u-margin-x(auto);

  @include at-media(desktop) {
    @include u-padding-x(4);
    @include u-display(flex);
    @include u-flex("justify");
  }
}

.jcc-global-bar-logo {
  @include at-media-max(desktop) {
    @include u-padding-x(2);
  }

  a {
    @include u-text("white", no-underline, no-italic);
    @include u-display(block);
  }
}

.jcc-global-bar-logo__graphic {
  @include u-display(block);
  @include u-padding-y(1);

  img {
    @include u-display(block);
  }
}

.jcc-global-bar-logo__text {
  @include u-text("white", no-italic);
  @include u-font-family(serif);
}
