.jcc-header--base {
  @include u-border-top("05", accent-warm);
  @include u-border-bottom(1px, base-light);

  .usa-logo {
    @include u-display(flex);

    @include at-media(desktop) {
      @include u-margin(0);
      height: 5.625rem;
    }
  }

  .usa-logo__text {
    @include u-text(normal);
    @include u-font-family(serif);
  }

  .usa-logo__text {
    align-self: center;
  }

  .usa-nav {
    align-self: center;
  }

  .usa-nav-container {
    @include at-media(desktop) {
      @include u-maxw(widescreen);
    }
  }

  .usa-nav__primary button,
  .usa-nav__primary > .usa-nav__primary-item > a {
    @include u-text(normal);
    @include u-font(sans, 6);
    @include u-font-family(sans);

    @include at-media(desktop) {
      height: 5.625rem;
    }
  }

  .usa-nav__primary > .usa-nav__primary-item > a {
    @include u-display(flex);

    span {
      @include u-display(inline-block);
      align-self: center;
    }
  }

  &.usa-header--basic .usa-current::after,
  &.usa-header--basic .usa-nav__link:hover::after,
  &.usa-header--extended .usa-current::after,
  &.usa-header--extended .usa-nav__link:hover::after {
    @include at-media(desktop) {
      left: 0;
      right: 0;
    }
  }

  &.usa-header--basic {
    .usa-nav {
      @include at-media(desktop) {
        position: relative;
      }
    }

    .jcc-nav-secondary__menu {
      @include at-media(desktop) {
        top: -2.25rem;
      }
    }
  }

  &.usa-header--extended {
    .usa-navbar,
    .usa-nav__inner {
      @include at-media(desktop) {
        @include u-maxw(widescreen);
      }
    }

    .usa-nav__link {
      @include at-media(desktop) {
        @include u-padding-y(0);
      }
    }
  }

  .usa-nav__secondary {
    @include at-media(desktop) {
      bottom: 7rem;
    }
  }
}

.jcc-header--outer {
  @include at-media(desktop) {
    direction: flex;
    flex-flow: row no-wrap;
  }
}

.jcc-header-hat {
  @include u-padding-y(1);
  @include u-text("white");
  @include u-bg(primary-darker);
}

.jcc-header-hat__logo {
  @include u-text("white", no-italic);
  @include u-font-family(serif);

  a {
    @include u-text("white", no-underline, no-italic);
  }
}

.jcc-header-hat__container {
  @include u-maxw(widescreen);
  @include u-display(flex);
  @include u-padding-x(2);
  @include u-margin-x(auto);
  @include u-flex("justify");

  @include at-media(desktop) {
    @include u-padding-x(4);
  }
}

.jcc-nav-secondary__menu {
  @include at-media-max(desktop) {
    display: inline-block;
  }

  @include at-media(desktop) {
    position: absolute;
    top: -7.75rem;
    right: 2rem;
  }

  .jcc-inline-nav__item {
    @include u-margin-right(4);

    &:last-child {
      @include u-margin-right(0);
    }
  }

  a {
    @include u-font(sans, 5);
    @include u-text(no-underline);

    @include at-media(desktop) {
      @include u-text("white");
    }
  }
}

// Mobile Nav
.usa-nav {
  @include at-media-max(desktop) {
    width: 100%;
    top: 43px;
  }
}

.jcc-nav-secondary__menu {
  @include at-media-max(desktop) {
    order: 2;
  }

  .jcc-inline-nav {
    @include at-media-max(desktop) {
      flex-wrap: wrap;
    }

    li {
      @include at-media-max(desktop) {
        width: 50%;
        margin: 0;
      }
    }
  }
}

// Theme
.jcc-header--base {
  .usa-logo a {
    @include u-text(primary-dark);
  }

  .usa-nav__primary button,
  .usa-nav__primary > .usa-nav__primary-item > a {
    @include u-text(primary);
  }

  &.usa-header--extended .usa-nav {
    @include u-bg(primary-lighter);
  }

  .usa-nav__secondary .usa-accordion__button {
    @include u-bg(primary-lighter);
  }

  &.jcc-header--inverted {
    &.usa-header {
      @include u-bg(primary-darker);
    }

    .usa-logo a {
      @include u-text("white");
    }

    .usa-nav__primary button,
    .usa-nav__primary > .usa-nav__primary-item > a {
      @include u-text("white");
    }

    &.usa-header--extended .usa-nav {
      @include u-bg(primary-dark);
    }

    .usa-nav__primary button[aria-expanded="false"] {
      background-image: url(../img/angle-arrow-down-white.svg);
    }
  }
}
