.jcc-steps-section {
  @include section-wrapper;

  .jcc-header-group {
    @include u-padding-bottom(6);
  }

  .jcc-header-group__title {
    @extend .jcc-title;
  }
}

.jcc-steps-section--has-background-color--light,
.jcc-steps-section--has-background-color--dark,
.jcc-steps-section--has-background-color--light--primary,
.jcc-steps-section--has-background-color--dark--primary {
  @include section-wrapper-bg;
}

.jcc-steps-section--has-background-color--dark,
.jcc-steps-section--has-background-color--dark--primary {
  @include dark-background();

  .jcc-step__title {
    @include dark-background-text();
  }

  .jcc-read-more__trigger {
    @include dark-background-link();
  }

  .jcc-read-more__content {
    @include dark-background();
    @include u-border-right("white");
  }
}

.jcc-step__block {
  @include u-margin-bottom(5);
}

.jcc-steps-section--has-background-color--light,
.jcc-steps-section--has-background-color--light--primary {
  @include light-background($light-background-color: primary-lighter);

  .jcc-read-more__trigger {
    @include light-background-link();
  }

  .jcc-read-more__content {
    @include u-bg("white");
  }
}

.jcc-read-more--block {
  .jcc-read-more__trigger {
    width: fit-content;
  }
}

.jcc-steps {
  @include unstyled-list();

  .jcc-step__item {
    @include custom-counter();
    @include custom-counter-line();
    @include add-list-reset;

    @include at-media(desktop) {
      padding-left: 6rem;
    }
  }
}
// Custom ordered list elements
html[dir="rtl"] .jcc-steps {
  @include unstyled-list();

  .jcc-step__item {
    @include custom-counter-rtl();
    @include custom-counter-line-rtl();
    @include add-list-reset;

    @include at-media(desktop) {
      padding-right: 6rem;
    }
  }
}

html[dir="rtl"] .jcc-steps-section {
  @include section-wrapper;

  .jcc-header-group {
    @include u-padding-bottom(6);
  }

  .jcc-header-group__title {
    @extend .jcc-title;
  }
  .jcc-header-group__title:after {
    right: 0;
  }
  @include at-media(desktop) {
    right: 0;
  }
}

html[dir="rtl"] .jcc-read-more__content {
  border-right-style: solid;
  border-right-width: 0.25rem;
  border-left-style: none;
  @include u-border-left("white");
  @include u-border-right("secondary");
}
