.jcc-steps-section {
  @include section-wrapper;

  .jcc-header-group {
    @include u-padding-bottom(6);
  }

  .jcc-header-group__title {
    @include u-text(primary-dark);
    @include has-dash();
  }
}

.jcc-steps-section--has-background-color--light,
.jcc-steps-section--has-background-color--dark,
.jcc-steps-section--has-background-color--light--primary,
.jcc-steps-section--has-background-color--dark--primary {
  @include section-wrapper-bg;
}

.jcc-steps-section--has-background-color--dark,
.jcc-steps-section--has-background-color--dark--primary {
  @include dark-background();

  .jcc-step__title {
    @include dark-background-text();
  }

  .jcc-read-more__trigger {
    @include dark-background-link();
  }

  .jcc-read-more__content {
    @include dark-background();
    @include u-border-left("white");
  }
}

.jcc-steps-section--has-background-color--light,
.jcc-steps-section--has-background-color--light--primary {
  @include u-bg(primary-lighter);
}

.jcc-steps-section__container {
  @include section-container;
}

.jcc-steps {
  @include unstyled-list();

  .jcc-step__item {
    @include custom-counter();
    @include custom-counter-line();
    @include add-list-reset;

    @include at-media(desktop) {
      padding-left: 6rem;
    }
  }
}
