{% set classes = [
  'jcc-steps-section',
  'jcc-steps-section--' ~ steps.background_variant|default('has-background-color--transparent'),
]|merge(steps.classes|default([''])) %}

{% if steps.items|length > 0 %}
  <div class="{{ classes|join(' ')|trim }}"{% if steps.id %} id="{{ steps.id }}"{% endif %}>
    <div class="jcc-steps-section__container">

      {% include '@molecules/text/header-group/header-group.twig' with {
        headergroup: steps.headergroup
      } %}

      <ul class="jcc-steps">
        {% for step in steps.items %}
          <li class="jcc-step__item">
            {% include '@molecules/blocks/step/step.twig' with { step: step } %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
