{% if steps|length > 0 %}
  <div class="jcc-steps-section{% if background_variant %} jcc-steps-section--{{ background_variant }}{% endif %}"{% if id %} id="{{ id }}"{% endif %}>
    <div class="jcc-steps-section__container">

      {% include '@molecules/text/header-group/header-group.twig' with {
        brow: headergroup.brow,
        title: headergroup.title,
        lead: headergroup.lead,
        tag: headergroup.tag
      } %}

      <ul class="jcc-steps">
        {% for step in steps %}
          <li class="jcc-step__item">
            {% include '@molecules/blocks/step/step.twig' with {
              title: step.title,
              excerpt: step.excerpt,
              read_more: step.read_more
            } %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
