{% if steps|length > 0 %}
  <div class="jcc-steps-section jcc-steps-section--{{ background_variant }}">
  <div class="jcc-steps-section__container">
    
    {% include '@molecules/text/header-group/header-group.twig' with {
      brow: headergroup.brow,
      title: headergroup.title,
      lead: headergroup.lead,
      tag: headergroup.tag
    } %}
    
    <ul class="jcc-steps">

      {% for step in steps %}
      <li>
      {% include '@molecules/blocks/step/step.twig' with {
        title: step.title,
        excerpt: step.excerpt,
        read_more_link: step.read_more_link,
        url: step.url,
        url_attributes: step.url_attributes
      } %}
      </li>
      {% endfor %}
      
    </ul>
  </div>
</div>
{% endif %}