.jcc-drawer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding: units(2.5);
  z-index: z("top");

  // Visibility controlled by js on scroll.
  &:not([visible]) {
    opacity: 0;
  }

  &[visible] {
    opacity: 1;
    transition: opacity 1s;
    transition-delay: 1s;
  }
  // Space and wrap drawer items gracefully.
  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: -#{units(1)};

    > * {
      margin: units(1);
    }
  }
}
