<div class="jcc-drawer">
  <div class="jcc-drawer__inner">
    {% if drawer.features %}
      {% for feature in drawer.features %}
        {% if feature.type == 'feedback' %}
          {% include '@molecules/blocks/feedback/feedback.twig' %}
        {% else %}
          {{ feature.embed }}
        {% endif %}
      {% endfor %}
    {% else %}
      {# BEGIN DEPRECATED - Replaced by more scalable approach #}
      {% if drawer.feedback %}
        {{ drawer.feedback }}
      {% endif %}
      {# END #}
    {% endif %}
  </div>
</div>
