<div class="jcc-header--topbar">
  <div class="jcc-header__container--topbar">
    <div class="jcc-header__logo--topbar">
      <a href="{{ header_topbar.home_url|default('/') }}">
      {% include '@atoms/icons/logo.twig' with  {
        logo: header_topbar.logo
      } %}
      </a>
    </div>
    <form{{ attributes.addClass('usa-form', 'jcc-form')}} action="{{ header_topbar.search.form_action|default('/search') }}">
    {% include '@atoms/forms/search-input.twig' with {
      search_input: header_topbar.search.search_input
    }%}
    </form>
    {% include '@atoms/forms/dropbutton.twig' with {
      dropbutton: header_topbar.dropbutton
    } %}
  </div>
</div>
