{% set classes = [
  'jcc-inline-nav',
  inline_nav.contextual_links ? 'contextual-region'
] %}
<ul class="{{ classes|join(' ')|trim }}">
  {{ inline_nav.contextual_links }}
  {% for item in inline_nav.items %}
  <li class="jcc-inline-nav__item">
    <a href="{{ item.url }}">{{ item.name }}</a>
  </li>
  {% endfor %}
</ul>
