.jcc-switchboard {
  @include section-wrapper;
  @include u-padding-bottom(8);

  .jcc-header-group {
    @include u-padding-bottom(4);
  }

  .jcc-header-group__title {
    @include u-text(primary-dark);
    @include has-dash();
  }

  .jcc-breadcrumbs {
    @include u-margin-bottom(4);
    .jcc-breadcrumb__item {
      @include u-font(body, 8);
    }
  }
  .jcc-switchboard__body {
    @include u-margin-bottom(4);
  }

  .jcc-tile__title {
    @include u-font-family(serif);
    @include u-font-size("heading", 10);
  }
}

.jcc-switchboard--has-background-color--light,
.jcc-switchboard--has-background-color--dark,
.jcc-switchboard--has-background-color--light--primary,
.jcc-switchboard--has-background-color--dark--primary {
  @include u-padding-top(8, "!important");
  @include u-padding-bottom(8);

  @media print {
    @include u-padding-y(4);
  }
}

.jcc-switchboard--has-background-color--light,
.jcc-switchboard--has-background-color--light--primary {
  @include light-background($light-background-color: primary-lighter);
}

.jcc-switchboard--has-background-color--dark,
.jcc-switchboard--has-background-color--dark--primary {
  @include dark-background();
  @include u-border-top(accent-warm-dark);
  @include u-border-top("05");
  right .jcc-breadcrumb__item,
  .jcc-breadcrumb__item a {
    color: #fff;
  }
}

.jcc-switchboard__container {
  @include section-container;
  .jcc-switchboard__column-left {
    @include at-media(desktop) {
      @include grid-col(8);
    }
  }
}

.jcc-switchboard--default,
.jcc-switchboard--next {
  .jcc-switchboard__content {
    .jcc-switchboard__tiles {
      @include add-list-reset;
      @include at-media(desktop) {
        @include grid-row;
        @include grid-gap;
      }
    }
  }

  .jcc-switchboard__tile {
    @include u-margin-bottom(2);

    @include at-media(desktop) {
      @include grid-col(4);
    }
  }
}

.jcc-switchboard--next {
  .jcc-header-group {
    margin-top: 40px;
  }
  .jcc-header-group__title {
    @include u-font(heading, 14);
  }
  .jcc-header-group__title:after {
    left: 0;
  }
}

.jcc-switchboard--next-phase {
  .jcc-switchboard__tile {
    @include u-margin-bottom(2);

    @include at-media(desktop) {
      @include grid-col(3);
    }
  }

  .jcc-switchboard__column-right {
    @include at-media(desktop) {
      margin-top: 2em;
    }
    .jcc-switchboard__content {
      .jcc-switchboard__tiles {
        @include add-list-reset;
        @include at-media(desktop) {
          @include grid-row;
          @include grid-gap;
        }
      }
    }
  }
}

.jcc-switchboard--next-right-column {
  .jcc-switchboard__columns {
    @include at-media(desktop) {
      @include grid-row;
      @include grid-gap;
    }
    .jcc-header-group__title:after {
      left: 0;
    }
    .jcc-switchboard__column-left,
    .jcc-switchboard__column-right {
      @include u-width(full);
    }

    .jcc-switchboard__column-left {
      @include at-media(desktop) {
        @include grid-col(8);
      }
    }

    .jcc-switchboard__column-right {
      @include at-media(desktop) {
        @include grid-col(4);
      }
      .jcc-switchboard__tile {
        @include u-margin-bottom(2);

        @include at-media(desktop) {
          @include grid-col(12);
        }
      }
    }
  }
}

.jcc-switchboard__tiles {
  @include add-list-reset;
}
