{% set classes = [
  'jcc-switchboard',
  'jcc-switchboard--' ~ switchboard.background_variant|default('has-background-color--transparent'),
  'jcc-switchboard--' ~ switchboard.layout_variant|default('default'),
]|merge(switchboard.classes|default([''])) %}

<div class="{{ classes|join(' ')|trim }}" {% if switchboard.id %} id="{{ switchboard.id }}" {% endif %}>
  <div class="jcc-switchboard__container">
    {% if switchboard.breadcrumb %}
      {% include '@molecules/navigation/breadcrumbs/breadcrumbs.twig' with {
      breadcrumb: switchboard.breadcrumb
      } %}
    {% endif %}
      <div class="jcc-switchboard__columns">
        <div class="jcc-switchboard__column-left">
          {% if switchboard.headergroup %}
            {% include '@molecules/text/header-group/header-group.twig' with {
            headergroup: switchboard.headergroup
            } %}
          {% endif %}
          {% if switchboard.body %}
            <p class="jcc-switchboard__body">
              {{ switchboard.body }}
            </p>
          {% endif %}
        </div>
        <div class="jcc-switchboard__column-right">
          <div class="jcc-switchboard__content">
            {% if switchboard.items.primary %}
              <ul class="jcc-switchboard__tiles">
                {% for tile in switchboard.items.primary %}
                  <li class="jcc-switchboard__tile">
                    {% include '@molecules/blocks/tile/tile.twig' with {
                      tile : tile
                    } %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}

            {% if switchboard.items.secondary %}
              <ul class="jcc-switchboard__tiles jcc-switchboard__tiles-secondary">
                {% for tile in switchboard.items.secondary %}
                  <li class="jcc-switchboard__tile">
                    {% include '@molecules/blocks/tile/tile.twig' with {
                      tile : tile
                    } %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
