{% set classes = [
    'jcc-switchboard',
    'jcc-switchboard--' ~ switchboard.background_variant|default('has-background-color--transparent'),
    'jcc-switchboard--' ~ switchboard.layout_variant|default('default'),
]|merge(switchboard.classes|default([''])) %}

{% if (switchboard.background_variant == 'has-background-color--dark--primary') or (switchboard.background_variant == 'has-background-color--dark')%}
    {% set button_color = 'inverted' %}
{% else %}
    {% set button_color = 'primary' %}
{% endif %}

<div class="{{ classes|join(' ')|trim }}" {% if switchboard.id %} id="{{ switchboard.id }}" {% endif %}>
    <div class="jcc-switchboard__container">
        {% if switchboard.breadcrumbs %}
            {% include '@molecules/navigation/breadcrumbs/breadcrumbs.twig' with {
                breadcrumb: switchboard.breadcrumbs
            } %}
        {% endif %}
        <div class="jcc-switchboard__columns">
            <div class="jcc-switchboard__column-left">
                {% if switchboard.headergroup %}
                    {% include '@molecules/text/header-group/header-group.twig' with {
                        headergroup: switchboard.headergroup
                    } %}
                {% endif %}
                {% if switchboard.body %}
                    <div class="jcc-switchboard__body">
                        {{ switchboard.body }}
                    </div>
                {% endif %}
            </div>
            <div class="jcc-switchboard__column-right">
                <div class="jcc-switchboard__content">
                    {% if switchboard.items.primary %}
                        <ul class="jcc-switchboard__tiles">
                            {% for tile in switchboard.items.primary %}
                                {% if tile.title %}
                                    <li class="jcc-switchboard__tile">
                                        {% include '@molecules/blocks/tile/tile.twig' with {
                                            tile : tile
                                        } %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if switchboard.items.secondary %}
                        <ul class="jcc-switchboard__tiles jcc-switchboard__tiles-secondary">
                            {% for tile in switchboard.items.secondary %}
                                {% if tile.title %}
                                    <li class="jcc-switchboard__tile">
                                        {% include '@molecules/blocks/tile/tile.twig' with {
                                            tile : tile
                                        } %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if switchboard.footer %}
            <div class="jcc-switchboard__footer">
                <div class="jcc-switchboard__footer-label">{{ switchboard.footer.label }}</div>
                <div class="jcc-switchboard__footer-buttons">
                    {% for button in switchboard.footer.buttons %}
                        {% include '@atoms/buttons/index-button.twig' with {
                            index_button: {
                                style: button_color|default('primary'),
                                text: button.title,
                                url: button.url,
                                icon: icon
                            }
                        } %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
