.jcc-card {
  max-width: 60rem;
}

.jcc-card__brow {
  @include u-margin-bottom(1.5);
}

.jcc-card__title {
  @include responsive-h5($responsive-font-family: "heading");
  @include u-margin-y(1.5);
  @include u-text(normal);
}

.jcc-card--has-icon {
  display: flex;
  position: relative;

  .jcc-card__media {
    @include media-icon();
    @include u-margin-right(3);
  }
}

.jcc-card--has-border {
  @include u-border(1px, primary-vivid);
  @include u-padding(3);
}

.jcc-card__excerpt {
  @extend .usa-prose;
}

.jcc-card__content[aria-hidden="true"] {
  @include u-display(none);

  @include at-media(tablet) {
    @include u-display(block);
  }
}

.jcc-card__img {
  @include aspect-ratio(16, 9);
}

.jcc-card__vid {
  @include aspect-ratio(16, 9);
}
