<div class="jcc-card jcc-card--{{ card_variant }}">
  {% if card_variant == 'has-image' %}
    <div class="jcc-card__media">
      {% include '@atoms/image/image.twig' with { image: img } %}
    </div>
  {% elseif card_variant == 'has-icon' %}
    <div class="jcc-card__media">
      {% include '@atoms/icons/icon.twig' with { icon: icon } %}
    </div>
  {% endif %}

  <div class="jcc-card__body">
    <h3 class="jcc-card__title">{{ title }}</h3>
    {% if excerpt %}
    <div class="jcc-card__excerpt">{{ excerpt }}</div>
    {% endif %}
  </div>
</div>
