<div class="jcc-card {% if card_variant %} jcc-card--{{ card_variant }}{% endif %}">
  {% if img %}
    <div class="jcc-card__media">
      {% include '@atoms/image/image.twig' with { image: img } %}
    </div>
  {% endif %}

  <div class="jcc-card__body">
    <h3 class="jcc-card__title">{{ title }}</h3>
    {% if excerpt %}
    <div class="jcc-card__excerpt">{{ excerpt }}</div>
    {% endif %}
  </div>
</div>
