.jcc-cards-with-list__container {
  @include u-padding-y(4);
  background-color: #f9f9f9;

  > .jcc-header-group {
    @extend .grid-container;
    @include u-text-align(center);
    @include u-overflow(hidden);

    .jcc-header-group__title {
      @include u-font(heading, 12);
      @include has-dash-position($dash-color: secondary-light, $dash-position: left-right);
      @include u-margin-bottom(4);
    }
  }

  > ul {
    @extend .grid-container;
    @include u-padding(0);
    @include u-display(flex);
    @include u-flex-direction(column);
    justify-content: flex-start;

    @include at-media(desktop) {
      @include u-flex-direction(row);
    }

    > li:nth-child(-n + 2) {
      @include card-border(
        $border-color: base-lighter,
        $bg: "white",
        $border-width: "05",
        $shadow: none,
        $radius: "0"
      );
    }

    > li {
      @include u-display(block);
      flex: 1 0;
      @include u-margin-x(2);
      @include u-padding(3);
      @include u-position(relative);

      @include at-media(tablet-lg) {
        @include u-padding-y(1);
      }

      .jcc-card__brow {
        @include u-font(heading, 8);
        @include u-text(italic);
      }

      .jcc-card__title {
        @include u-font(body, 8);
        @include u-line-height(body, 4);
        @include u-margin-y(2);
      }

      > .jcc-cards-with-list__read_more {
        @include u-position(absolute);
        @include u-bottom(1);
        @include u-width(full);
        @include u-text(uppercase);
      }

      ul {
        @include u-padding(0);
        li {
          list-style-type: none;

          .jcc-card__brow {
            @include u-font(heading, 4);
          }

          .jcc-card__title {
            @include u-font(body, 4);
            @include u-margin-y(1);
          }

          .jcc-card__excerpt,
          .jcc-cards-with-list__read_more {
            @include u-display(none);
          }
        }

        li:nth-child(n + 4) {
          @include u-display(none);
        }

        li:nth-child(-n + 2) {
          @include u-border-bottom(base-light);
          @include u-border-width(2px);
          @include u-margin-bottom(1);
          @include u-padding-bottom(1);
        }
      }
    }
  }

  .jcc-cards-with-list__read_more {
    @extend .usa-prose;
  }

  .jcc-cards-with-list__read_more_icon {
    position: absolute;
    bottom: -10px;
    right: 40px;
    @include u-color(secondary-light);

    svg {
      @include u-height(4);
      @include u-width(4);
    }
  }
}
