<div class="jcc-steps-section jcc-steps-section--{{ background_variant }}">
  <div class="jcc-steps-section__container">
    {% include 'molecules-header-group' %}
    <ul class="jcc-steps">
      {% for step in steps %}

      {% include "molecules-step" %}
        
      {% endfor %}
    </ul>
  </div>
</div>