.jcc-options__container {
  @include section-container;
}

.jcc-options {
  @include unstyled-list();
  @include at-media(desktop) {
    @include grid-row;
    @include grid-gap;
  }

  .jcc-options__item {
    @include u-margin-bottom(3);
  }
}

.jcc-options-list {
  .jcc-options__item {
    @include grid-col(10);
  }
}

.jcc-options-list,
.jcc-options-list--has-two-columns {
  .jcc-options {
    @include u-width(full);
    @include at-media(desktop) {
      @include grid-row;
      @include grid-gap;
    }
  }
}

.jcc-options-list--has-two-columns {
  .jcc-options__item {
    @include u-width(full);

    @include at-media(desktop) {
      @include grid-col(6);
    }
  }
}

.jcc-steps-section__container,
.jcc-text-section {
  @include section-container;
  .jcc-options__container {
    @include u-padding-left(0);
    margin-left: -6px;
    .jcc-options__item {
      @include u-padding-left(0);
    }
    .jcc-option {
      padding-left: 0;
      @include at-media(desktop) {
        @include u-padding-left(3);
      }
    }
  }
  .jcc-option {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    @include at-media(desktop) {
      @include u-padding-left(0);
    }
  }
}
