{% set classes = [
  'jcc-options-list',
  'jcc-options-list--' ~ option_list.column_variant|default('')
]|merge(card_section.classes|default([''])) %}
<div class="{{ classes|join(' ')|trim }}">
  <div class="jcc-options__container">

    <ul class="jcc-options">
      {% for option in option_list.options %}
        <li class="jcc-options__item">
          {% include '@molecules/blocks/option/option.twig' with { option: option }  %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
