h1,
h2 {
  @include u-text(normal);
  @include u-line-height("heading", 2);
}

h1,
.heading-h1 {
  @include responsive-h1();
}

h2,
.heading-h2 {
  @include responsive-h2();
}

h3,
.heading-h3 {
  @include responsive-h3();
}

h4,
.heading-h4 {
  @include responsive-h4();
}

h5,
.heading-h5 {
  @include responsive-h5();
}

h6,
.heading-h6 {
  @include responsive-h6();
}
