html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  @include u-margin(0);
  @include u-padding(0);
}

a,
.usa-alert__text a,
.usa-form a.usa-button--unstyled,
a.usa-link,
.usa-footer__secondary-link a {
  @include u-text("blue-cool-60v");

  &:hover {
    @include u-text("cyan-60v");
  }

  &:active,
  &:focus:not(.usa-button) {
    @include u-text("cyan-60v");
  }

  &:visited {
    @include u-text("blue-cool-60v");
  }
}

.sr-only {
  @include sr-only();
}

.usa-prose,
.cke_editable,
.cke_panel_block[title="Paragraph Format"] {
  > h3,
  > h4,
  > h5,
  > h6,
  > p,
  > ul li {
    @include u-measure(6);
  }

  > ul li {
    @include u-margin-bottom(1.5);
  }

  .jcc-title--serif,
  .jcc-subtitle--serif,
  .jcc-card__title,
  .jcc-header-group__title {
    @include u-text(normal);
  }

  h1:not(.cke_panel_grouptitle),
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include u-text(normal);
  }

  h1:not(.cke_panel_grouptitle) {
    @extend .heading-h1;
  }

  h2 {
    @extend .heading-h2;
    @extend .jcc-title;
  }

  h3 {
    @extend .heading-h3;
    @include u-text(primary-dark);
  }

  h4 {
    @extend .heading-h4;
  }

  h5 {
    @extend .heading-h5;
  }

  h6 {
    @extend .heading-h6;
    text-transform: none;
  }
}

.usa-prose--background-color {
  h3 {
    @include u-color("white");
  }
}

.h-dash {
  @include has-dash();
}

.jcc-brow {
  @include u-margin-bottom(2);
  @include u-font(sans, 6);
}

.jcc-title {
  @include u-text(primary-dark);
  @include has-dash();
  @include u-margin-bottom(3);
}

.jcc-lead {
  @include responsive-lead();
  @include u-margin-bottom(2);
  @include u-line-height(body, 3);
}

.t-responsive-lead {
  @include responsive-lead();
}

.t-intro {
  @include t-intro();
}

.t-copy {
  @include t-copy();
}

.t-small {
  @include t-small();
}

.usa-hint {
  @include u-text(gray-50);
}
