.jcc-list-block {
  @include u-padding-y(3);
  @include u-padding-x(4);
  @include card-border();

  @include at-media("desktop") {
    @include u-measure(2);
  }
}

.jcc-list-block__title {
  @include responsive-h5($responsive-font-family: "heading");
}
