$_config_schemes: (
  base: (
    rm-background: "base-lightest",
    rm-border: "base-light",
    rm-border-content: "blue-50",
    rm-border-size: 1px,
    rm-border-size-thick: 0.5,
    rm-border-radius: 0.5rem,
    rm-text-size: 6,
  ),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);

.read-more {
  max-inline-size: 75ch;
}

.read-more__heading {
  @include u-display(flex);
  @include u-border(map-get($_config, rm-border-size), map-get($_config, rm-border));
  @include u-bg(map-get($_config, rm-background));
  @include u-padding-left(2);
  @include u-font-size(body, map-get($_config, rm-text-size));
  @include u-font-weight(bold);
  @include u-color(ink);
  align-items: center;
  justify-content: space-between;
  border-radius: map-get($_config, rm-border-radius);
  line-height: normal;
}

.read-more__action {
  @include u-display(flex);
  @include u-padding(2);
  @include u-padding-right(3);
  @include u-border(0);
  @include u-border-left(map-get($_config, rm-border-size), map-get($_config, rm-border));
  @include u-bg("white");
  @include u-color(primary);
  width: 10ch;
  justify-content: center;
  border-top-right-radius: map-get($_config, rm-border-radius);
  border-bottom-right-radius: map-get($_config, rm-border-radius);
}

.read-more__action::after {
  @include u-position(relative);
  @include u-left(1);
  @include u-font-size(body, 10);
  @include u-font-weight(bold);
  border-top-right-radius: map-get($_config, rm-border-radius);
  border-bottom-right-radius: map-get($_config, rm-border-radius);
  line-height: 0;
  content: "\231F";
  transform: rotate(45deg);
  //transition: all 0.2s ease 0s;
}

.read-more__heading[expanded] > .read-more__action::after {
  top: 0.188rem;
  left: 0.8rem;
  transform: rotate(225deg);
}

.read-more__action:hover {
  @include u-cursor(pointer);
}

.read-more__content {
  @include u-display(none);
  @include u-margin-top(3);
  @include u-padding-x(2);
  @include u-border-left(
    map-get($_config, rm-border-size-thick),
    map-get($_config, rm-border-content)
  );
  @include u-font-size(body, 3);

  p:not(:first-child) {
    @include u-padding-top(2);
  }
}

.read-more__heading[expanded] + .read-more__content {
  @include u-display(block);
}
