<div class="jcc-text-section{% if background_variant %} jcc-text-section--{{ background_variant }}{% endif %}{% if column_variant %}  jcc-text-section--{{ column_variant }}{% endif %}">
  <div class="jcc-text-section__container">
    {% include '@molecules/text/header-group/header-group.twig' with {
        brow: headergroup.brow,
        title: headergroup.title,
        lead: headergroup.lead
    } %}
    {% if column_content_left %}
    <div class="jcc-text-section__content">
      <div class="jcc-text-section__column-left">
        {{ column_content_left }}
      </div>
      <div class="jcc-text-section__column-right">
        {{ column_content_right }}
      </div>
    </div>
    {% endif %}
  </div>
</div>
