{% set classes = [
    'jcc-section-base',
    'jcc-section-base__background--' ~ section_base.background|default('light'),
    'jcc-section-base__layout--' ~ section_base.layout|default('default'),
]|merge(section_base.classes|default([''])) %}

<div class="jcc-scheme-{{ section_base.scheme|default('simple') }}">
<div class="{{ classes|join(' ')|trim }}"{% if section_base.id %} id="{{ section_base.id }}"{% endif %}>

    {% for section in section_base.sections %}
        {% if section.secondary.content %}
            {% set secondary_content = '<div class="jcc-section-base__secondary-content">' ~ section.secondary.content ~ '</div>' %}
        {% endif %}
        <div class="jcc-section-base__container">
            {% include '@molecules/text/header-group/header-group.twig' with {
                headergroup: {
                    brow: section.headergroup.brow,
                    lead: section.headergroup.lead,
                    title: section.headergroup.title,
                    body: section.headergroup.body ~ secondary_content
                }
            } %}

            {% if section.aside.content %}
            <div class="jcc-section-base__aside">
                <div class="jcc-section-base__aside-content">
                {{ section.aside.content }}
                </div>
            </div>
            {% endif %}
        </div>
    {% endfor %}

</div>
</div>