.jcc-video__cover {
  @include u-pin-all();
  @include u-width(full);
  @include u-height(full);
  @include u-margin(0);
  @include u-padding(0);
  @include u-border(0);
  @include u-cursor(pointer);
  @include u-overflow(hidden);
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  text-indent: -999em;
  opacity: 1;
  transition: opacity 800ms, height 0ms;
  transition-delay: 0ms, 0ms;
  z-index: 2;

  .video-active & {
    opacity: 0;
    height: 0;
    transition-delay: 0ms, 800ms;
  }

  &::before,
  &::after {
    @include u-position(absolute);
    content: "";
    top: 50%;
    left: 50%;
    opacity: 0.7;
    transition: opacity 300ms;
  }

  &::before {
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border: 5px solid white;
    border-radius: 100%;
  }

  &::after {
    width: 0;
    height: 0;
    margin: -25px 0 0 -15px;
    border-left: 40px solid white;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      opacity: 1;
    }
  }
}

/* media edit button fix */
.jcc-video__video-container{
  @include u-position(relative);
  @include u-height(0);
}

.jcc-video__video-container-editor{
  @include u-display(flex);
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  height:auto;
  padding-bottom:10px !important;
}

.jcc-video__video-container-editor  > .embed-responsive-item{
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.jcc-video__video-container > .embed-responsive-item{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}