{#
/**
 * Interior Page Demo
 *   Representing https://live-jcc-elcondado.pantheonsite.io/general-information/interpreter-language-services
 */
#}

<div class="jcc-interior-example">
  {% include '@organisms/global/header.twig' with {
    header: interior_example.header
  } %}

  <div>Content</div>

  {% include '@organisms/global/footer.twig' with {
    footer: interior_example.footer
  } %}
</div>
