{% set tag = callout.tag|default('h3') %}
{% set classes = [
  'jcc-callout',
  callout.img ? 'jcc-callout--has-icon' : '',
  callout.variant ? 'jcc-callout__' ~ callout.variant : '',
]|merge(callout.classes|default([''])) %}

<div class="{{ classes|join(' ')|trim }}">
  <div class="jcc-callout__content" >
    {{ callout.content }}
  </div>
</div>
