@import "../../../../../node_modules/slick-carousel/slick/slick.scss";

.jcc-timeline-section {
  @include section-wrapper;
  @include u-position("relative");

  .jcc-header-group {
    @include u-padding-bottom(6);
  }

  .jcc-header-group__title {
    @include u-text(primary-dark);
    @include has-dash();
  }

  .slick-track {
    padding-top: 3rem;
  }
}

.jcc-timeline-section--has-background-color--light,
.jcc-timeline-section--has-background-color--dark {
  @include section-wrapper-bg;
}

.jcc-timeline-section--has-background-color--light {
  @include u-bg("blue-5");
}

.jcc-timeline-section--has-background-color--dark {
  @include dark-background();

  .jcc-timeline {
    .jcc-timeline-item__title {
      @include at-media(tablet) {
        @include timeline-line($timeline-line-border: "gold-20v");
        @include timeline-dot($timeline-dot-bg: "blue-50v", $timeline-dot-border: "gold-20v");
      }
    }

    .jcc-timeline-item__media {
      @include media-icon($icon-circle-bg: "blue-70v");

      @include at-media(tablet) {
        @include u-position("absolute");
        @include u-top(0);
      }
    }
  }

  .jcc-full-modal__trigger,
  .jcc-timeline-item__trigger {
    @include dark-background-link();
  }
}

.jcc-timeline-item__media {
  @include at-media(tablet) {
    @include u-position("absolute");
    @include u-top(0);
  }
}

.jcc-timeline-section__container {
  @include section-container;
}

.jcc-timeline {
  @include unstyled-list();

  @include at-media("tablet") {
    @include grid-row;
    // padding-top: 3rem;
    @include u-overflow-x("auto") @include u-flex("no-wrap");
  }

  li {
    @include u-width(full);
    @include u-padding-bottom(4);

    @include at-media(tablet) {
      @include grid-col(4);
      @include u-padding-bottom(9);

      > * {
        @include u-padding-top(4);
      }
    }

    @include at-media(desktop-lg) {
      @include grid-col(3);
    }
  }

  .jcc-timeline-item__title {
    @include at-media(tablet) {
      @include timeline-line();
      @include timeline-dot();
    }
  }

  .jcc-timeline-item__media {
    @include at-media(tablet) {
      @include u-position("absolute");
      @include u-top(0);
    }
  }
}

// remove line from last timeline item
.slick-slide:last-of-type .jcc-timeline-item__title:after {
  @include u-width(0);
}

.jcc-timeline__label {
  @include sr-only();
}

.jcc-timeline__scroller--left,
.jcc-timeline__scroller--right {
  @include u-bg("gold-30v");
  @include u-position("absolute");
  @include u-bottom(0);
  @include u-display(none);
  top: 3.125rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  z-index: 10;

  &.is-active {
    @include at-media(tablet) {
      @include u-display(block);
    }
  }
}

.jcc-timeline__wrapper {
  @include u-position("relative");
}

.jcc-timeline__scroller--left {
  @include u-left(0);
}
.jcc-timeline__scroller--right {
  @include u-right(0);
}

.jcc-timeline__scroller-icon {
  svg {
    fill: color("ink");
  }
}
