@import "../../../../../node_modules/slick-carousel/slick/slick.scss";

.jcc-timeline-section {
  @include section-wrapper;
  @include u-position(relative);

  .jcc-header-group {
    @include u-padding-bottom(6);
  }

  .jcc-header-group__title {
    @include u-text(primary-dark);
    @include has-dash();
  }
}

.jcc-timeline-section--has-background-color--light,
.jcc-timeline-section--has-background-color--dark,
.jcc-timeline-section--has-background-color--light--primary,
.jcc-timeline-section--has-background-color--dark--primary {
  @include section-wrapper-bg;
}

.jcc-timeline-section--has-background-color--light,
.jcc-timeline-section--has-background-color--light--primary {
  @include u-bg(primary-lighter);

  .jcc-modal__trigger,
  .jcc-timeline-item__trigger {
    @include light-background-link();
  }
}

.jcc-timeline-section--has-background-color--dark,
.jcc-timeline-section--has-background-color--dark--primary {
  @include dark-background();

  .jcc-timeline {
    .jcc-timeline-item__title {
      @include at-media(desktop) {
        @include timeline-line($timeline-line-border: accent-warm);
        @include timeline-dot($timeline-dot-bg: primary-vivid, $timeline-dot-border: accent-warm);
      }
    }

    .jcc-timeline-item__media {
      @include media-icon($icon-circle-bg: primary-dark);

      @include at-media(tablet) {
        @include u-position(absolute);
        @include u-top(0);
      }
    }
  }

  .jcc-modal__trigger,
  .jcc-timeline-item__trigger,
  a {
    @include dark-background-link();
  }
}

.jcc-timeline-section__container {
  @include section-container;
}

.jcc-timeline {
  @include unstyled-list();

  @include at-media(desktop) {
    @include grid-row;
    @include u-overflow-x(auto);
    @include u-flex(no-wrap);
  }

  > li {
    @include u-width(full);
    @include u-padding-bottom(4);

    @include at-media(desktop) {
      @include grid-col(4);

      > * {
        @include u-padding-top(4);
      }
    }

    @include at-media(desktop) {
      @include grid-col(3);
    }
  }

  .jcc-timeline-item {
    @include at-media(desktop) {
      @include u-padding-right(3);
      padding-top: 4rem;
    }
  }

  .jcc-timeline-item__title {
    @include at-media(desktop) {
      @include timeline-line();
      @include timeline-dot();
    }
  }

  .jcc-timeline-item__media {
    @include at-media(desktop) {
      @include u-position(absolute);
      @include u-top(0);
    }
  }
}

// remove line from last timeline item
.jcc-timeline:not(.slick-initialized) li:last-of-type .jcc-timeline-item__title:after,
.slick-slide:last-of-type .jcc-timeline-item__title:after {
  @include u-width(0);
}

.jcc-timeline__label {
  @include sr-only();
}

.jcc-timeline__scroller--left,
.jcc-timeline__scroller--right {
  @include u-bg(accent-warm-dark);
  @include u-position(absolute);
  @include u-bottom(0);
  @include u-display(none);
  top: 2.25rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  z-index: 10;

  &.is-active {
    @include at-media(desktop) {
      @include u-display(block);
    }
  }
}

.jcc-timeline__wrapper {
  @include u-position(relative);
}

.jcc-timeline__scroller--left {
  @include u-left(0);
}
.jcc-timeline__scroller--right {
  @include u-right(0);
}

.jcc-timeline__scroller-icon {
  height: 1.75rem;
  width: 1.75rem;

  svg {
    display: block;
    margin: auto;
    height: 1.75rem;
    width: 1.75rem;
    fill: color(ink);
  }
}
