{% set classes = [
  'jcc-timeline-section',
  'jcc-timeline-section--' ~ timeline.background_variant|default('has-background-color--transparent'),
]|merge(timeline.classes|default([''])) %}

<div class="{{ classes|join(' ')|trim }}"{% if timeline.id %} id="{{ timeline.id }}"{% endif %}>
  <div class="jcc-timeline-section__container">

    {% if timeline.headergroup %}
      {% include '@molecules/text/header-group/header-group.twig' with {
        headergroup: timeline.headergroup
      } %}
    {% endif %}

    <div class="jcc-timeline__wrapper">
      <ul class="jcc-timeline slider" aria-label="timeline" tabindex="0">
        {% for item in timeline.items %}
          <li>
            {% include '@molecules/blocks/timeline-item/timeline-item.twig' with {
              timeline_item: item,
            } %}
          </li>
        {% endfor %}
      </ul>

      {# @todo: Remove these as variables? #}
      <button class="jcc-timeline__scroller--left">
        <span class="jcc-timeline__label">{{ "Scroll Left"|t }}</span>
        <span class="jcc-timeline__scroller-icon">
          {% include '@atoms/icons/icon.twig' with {
            icon: timeline.left_icon|default({
              name: "chevron_left",
              title: "Left"|t,
              decorative: true,
            })
          } %}
        </span>
      </button>

      <button class="jcc-timeline__scroller--right is-active">
        <span class="jcc-timeline__label">{{ "Scroll Right"|t }}</span>
        <span class="jcc-timeline__scroller-icon">
          {% include '@atoms/icons/icon.twig' with {
            icon: timeline.right_icon|default({
              name: "chevron_right",
              title: "Right"|t,
              decorative: true,
            })
          } %}
        </span>
      </button>
    </div>

  </div>
</div>
