<div class="jcc-timeline-section jcc-timeline-section--{{ background_variant }}">
  <div class="jcc-timeline-section__container">  
    
    {% include '@molecules/text/header-group/header-group.twig' with {
      brow: headergroup.brow,
      title: headergroup.title
    } %}   
    
    <ul class="jcc-timeline" aria-label="timeline" tabindex="0">
      
      {% for item in timeline %}
      <li>
      {% include '@molecules/blocks/timeline-item/timeline-item.twig' with {
        title: item.title,
        excerpt: item.excerpt,
        read_more_link: item.read_more_link
      } %}
      </li>
      {% endfor %}
      
    </ul>

    <button class="jcc-timeline__scroller--left"><span class="jcc-timeline__label">Scroll Left</span></button>
    <button class="jcc-timeline__scroller--right is-active"><span class="jcc-timeline__label">Scroll Right</span></button>
  </div>
</div>