@import '../../../node_modules/uswds/src/stylesheets/packages/required';
@import '../../../node_modules/uswds/src/stylesheets/packages/global';
@import '../../../node_modules/uswds/src/stylesheets/base/body';
@import '../../../node_modules/uswds/src/stylesheets/base/accessibility';

// COover image with bleed
@mixin cover-image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;

	img,
	picture {
		object-fit: cover;
		object-position: 50% 50%;
		height: 100%;
		width: 100%;
	}
}

// Responsive embed container
$aspect-height: 9;
$aspect-width: 16;

@mixin embed-container ($height, $width) {
  padding-bottom: percentage($height/$width);
}

// Custom ordered list elements
@mixin custom-counter() {
	counter-increment: step-counter;
	position: relative;

	&::before {
		position: absolute;
		top: -7px;
		right: 0;
		bottom: 0;
		left: -7px;
		padding: .625rem;
		background-color: color('primary');
		border: 3px solid color('white');
		border-radius: 50%;
		color: color('white');
		content: counter(step-counter);
		font-size: 1.125rem;
		height: 3rem;
		line-height: 1.125;
		text-align: center;
		width: 3rem;
	}
}

@mixin custom-counter-line() {
	&:after {
		content: "";
		display: block;
		width: 0;
		height: 100%;
		border: 1px solid color('base-lightest');
		position: absolute;
		top: 0;
		left: 1rem;
		z-index: -1;
	}

	&:last-of-type {
		&:after {
			height: 0;
		}
	}
}

// Timeline elements
@mixin timeline-dot() {
	&:before {
		position: absolute;
		top: -2rem;
		right: auto;
		bottom: auto;
		left: 0;
		background-color: color('primary');
		border: 1px solid color('white');
		border-radius: 50%;
		content: "";
		height: 1rem;
		line-height: 1;
		text-align: center;
		width: 1rem;
		z-index: 2;
	}
}

@mixin timeline-line() {
	&:after {
		position: absolute;
		top: -1.5rem;
		right: auto;
		bottom: auto;
		left: auto;
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		border: 1px solid color('base-lightest');
		z-index: 1;
	}
}

// Unstyled list helper
@mixin unstyled-list() {
	@include u-margin-y(0);
	list-style-type: none;
	padding-left: 0;

	> li {
		margin-bottom: 0;
	}
}

@mixin first-last-spacing() {
	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}

// Aria hidden helper
@mixin accessibly-hidden() {
  &[aria-hidden=true] {
    display: none;
  }
}

// Screen reader only helper
@mixin sr-only() {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

// Print
@mixin print-hidden() {
  @include grid-media($media-print) {
    display: none !important;
  }
}
