@import "uswds-theme-general";
@import "uswds-theme-typography";
@import "uswds-theme-spacing";
@import "uswds-theme-color";
@import "uswds-theme-utilities";
@import "uswds-theme-components";

// Section vertical rhythm and centered block

@mixin section-wrapper {
  @include u-padding-top(6);
  @include u-padding-bottom(6);

  @media print {
    @include u-padding-bottom(3);
  }
}

@mixin section-wrapper-bg {
  @include u-padding-top(6);
  @include u-padding-bottom(6);

  @media print {
    @include u-padding-top(3);
  }
}

@mixin section-container {
  @include grid-container(widescreen);
}

// Cover image with bleed
@mixin cover-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img,
  picture {
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
    width: 100%;
  }
}

// Responsive embed container
$aspect-height: 9;
$aspect-width: 16;

@mixin embed-container($height, $width) {
  padding-bottom: percentage($height/$width);
}

// Custom ordered list elements
@mixin custom-counter() {
  counter-increment: step-counter;
  position: relative;

  &::before {
    @include u-font(heading, 11);
    padding: 0.625rem;
    background-color: color("white");
    border: 3px solid color("gold-30v");
    border-radius: 50%;
    color: color("primary");
    content: counter(step-counter);
    height: 3.5rem;
    line-height: 1.25;
    text-align: center;
    width: 3.5rem;
    display: block;
    z-index: 2;

    @include at-media(desktop) {
      @include u-font(heading, 14);
      position: absolute;
      top: -7px;
      right: 0;
      bottom: 0;
      left: -7px;
      height: 4.6875rem;
      width: 4.6875rem;
    }
  }
}

@mixin custom-counter-line() {
  &:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 3px;
    top: 1.625rem;
    left: 3.5rem;
    background-color: color(accent-warm-dark);

    @include at-media(desktop) {
      top: 2.5rem;
      left: 1.875rem;
      height: 100%;
      width: 3px;
    }
  }

  &:last-of-type {
    @include at-media(desktop) {
      &:after {
        height: 0;
      }
    }
  }
}

// Timeline elements
@mixin timeline-dot($timeline-dot-bg: primary, $timeline-dot-border: primary) {
  &:before {
    position: absolute;
    top: -1.425rem;
    right: auto;
    bottom: auto;
    left: 0;
    background-color: color($timeline-dot-bg);
    border: 2px solid color($timeline-dot-border);
    border-radius: 50%;
    content: "";
    height: 1rem;
    line-height: 1;
    text-align: center;
    width: 1rem;
    z-index: 2;
  }
}

@mixin timeline-line($timeline-line-border: primary) {
  &:after {
    position: absolute;
    top: -1rem;
    right: auto;
    bottom: auto;
    left: auto;
    content: "";
    display: block;
    width: calc(100% + 1.5rem);
    height: 1px;
    border: 1px solid color($timeline-line-border);
    z-index: 1;
  }
}

// Unstyled list helper
@mixin unstyled-list() {
  @include u-margin-y(0);
  list-style-type: none;
  padding-left: 0;

  > li {
    margin-bottom: 0;
  }
}

@mixin first-last-spacing() {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

// Aria hidden helper
@mixin accessibly-hidden() {
  &[aria-hidden="true"] {
    display: none;
  }
}

// Screen reader only helper
@mixin sr-only() {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

// Print
@mixin print-hidden() {
  @include grid-media($media-print) {
    display: none !important;
  }
}

// Type
@mixin responsive-h-mega($responsive-font-family: heading) {
  @include u-font($responsive-font-family, 14); // 40

  @include at-media(desktop) {
    @include u-font($responsive-font-family, 16); // 56
  }

  @media print {
    @include u-font($responsive-font-family, 13); // 36
  }
}

@mixin responsive-h1($responsive-font-family: heading) {
  @include u-font($responsive-font-family, 13); // 36

  @include at-media(desktop) {
    @include u-font($responsive-font-family, 15); // 48
  }

  @media print {
    @include u-font($responsive-font-family, 12); // 32
  }
}

@mixin responsive-h2($responsive-font-family: heading) {
  @include u-font($responsive-font-family, 12); // 32

  @include at-media(desktop) {
    @include u-font($responsive-font-family, 14); // 40
  }

  @media print {
    @include u-font($responsive-font-family, 11); // 28
  }
}

@mixin responsive-h3($responsive-font-family: heading) {
  @include u-font($responsive-font-family, 11); // 28

  @include at-media(desktop) {
    @include u-font($responsive-font-family, 13); // 36
  }

  @media print {
    @include u-font($responsive-font-family, 10);
  }
}

@mixin responsive-h4($responsive-font-family: body) {
  @include u-font($responsive-font-family, 10);

  @include at-media(desktop) {
    @include u-font($responsive-font-family, 11);
  }

  @media print {
    @include u-font($responsive-font-family, 9);
  }
}

@mixin responsive-h5($responsive-font-family: body) {
  @include u-font($responsive-font-family, 9);

  @include at-media(desktop) {
    @include u-font($responsive-font-family, 10); // 24
  }

  @media print {
    @include u-font($responsive-font-family, 8); // 18
  }
}

@mixin responsive-h6($responsive-font-family: body) {
  @include u-font($responsive-font-family, 9);

  @include at-media(desktop) {
    @include u-font($responsive-font-family, 10); // 24
  }

  @media print {
    @include u-font($responsive-font-family, 7); // 18
  }
}

@mixin responsive-lead($responsive-font-family: body) {
  @include u-font($responsive-font-family, 9); // 22

  @include at-media(desktop) {
    @include u-font($responsive-font-family, 10); // 24
  }

  @media print {
    @include u-font($responsive-font-family, 6); // 18
  }
}

@mixin t-intro($responsive-font-family: body) {
  @include u-font($responsive-font-family, 7); // 18

  @media print {
    @include u-font($responsive-font-family, 5); // 16
  }
}

@mixin t-copy() {
  @include u-font(body, 5); // 16

  @media print {
    @include u-font(body, 4); // 16
  }
}

@mixin t-small() {
  @include u-font(body, 4); // 16

  @media print {
    @include u-font(body, 2);
  }
}

@mixin dark-background($dark-background-color: primary) {
  @include u-bg($dark-background-color);
  @include u-text("white");

  .jcc-header-group__title,
  .jcc-title {
    @include u-text("white");
  }

  > a {
    @include u-text(accent-warm-dark);

    &:hover {
      @include u-text(accent-warm);
    }

    &:active,
    &:focus {
      @include u-text(accent-warm);
    }

    &:visited {
      @include u-text(accent-warm-dark);
    }
  }
}

@mixin dark-background-text() {
  @include u-text("white");
}

@mixin dark-background-link() {
  @include u-text(accent-warm-dark);

  &:hover {
    @include u-text(accent-warm);
  }

  &:active,
  &:focus {
    @include u-text(accent-warm);
  }

  &:visited {
    @include u-text(accent-warm-dark);
  }
}

@mixin dark-background-link-button() {
  @include u-text(accent-warm-dark);
}

@mixin media-icon($icon-size: 2rem, $icon-circle-size: 2.5rem, $icon-circle-bg: "gold-5v") {
  height: $icon-circle-size;
  width: $icon-circle-size;
  min-width: $icon-circle-size;
  position: relative;

  img {
    z-index: 2;
    position: relative;
    height: $icon-size;
    width: $icon-size;
  }

  svg {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &:before {
    @include u-bg($icon-circle-bg);
    content: "";
    display: block;
    border-radius: 50%;
    height: $icon-circle-size;
    width: $icon-circle-size;
    left: 0.5rem;
    top: 0.5rem;
    position: absolute;
  }
}

@mixin body-prose() {
  ul {
    @include u-line-height(body, 2);
  }

  li {
    margin-bottom: 0.5rem;
  }
}

@mixin card-border() {
  @include u-bg("white");
  @include u-border(1px);
  @include u-border(base-light);
  @include u-radius(lg);
  @include u-shadow(3);
}

// Adds decorative dash to headers
@mixin has-dash($dash-color: "gold-30v") {
  position: relative;
  padding-bottom: 0.5em;

  &:after {
    background-color: color($dash-color);
    content: "";
    height: 3px;
    width: 3rem;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@mixin centerer() {
  display: flex;
  align-items: center;
  justify-content: center;
}
