@media print {
  a:link:after {
    display: block;
    text-transform: none;
    font-size: 12px;
    // add full URL in front of relative links "
    // content: "https://housing.sfgov.org" attr(href); Update when URL is known
    content: attr(href);
  }

  a[href^="http"]:link:after {
    // if link already starts with http, then just print that
    content: attr(href);
  }

  #js-header_menu--mobile {
    visibility: hidden !important;
  }

  // body {
  //   font: 12px Georgia, "Times New Roman", Times, serif;
  //   text-align: left !important;
  // }

  // h1, .h1 {
  //   font-size: 36px;
  // }

  // h2, .h2 {
  //   font-size: 24px;
  // }

  // h3, .h3 {
  //   font-size: 20px;
  // }

  // h4, .h4 {
  //   font-size: 18px;
  // }

  // h5, .h5 {
  //   font-size: 16px;
  // }

  // small, .t-small {
  //   font-size: 12px;
  // }
}

@media print {
  .show-for-print {
    display: block;
  }

  .jcc-switchboard,
  .jcc-jump-nav {
    display: none;
  }

  .usa-accordion [hidden] {
    display: block !important;
  }

  .jcc-read-more [aria-hidden="true"] {
    display: block !important;
  }

  a[href]:after {
    content: none !important;
  }

  .hide-for-print {
    display: none !important;
  }
}
