/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS 2.1.0
----------------------------------------
COLOR SETTINGS
----------------------------------------
Read more about settings and
USWDS color tokens in the documentation:
https://v2.designsystem.digital.gov/style-tokens/color
----------------------------------------
*/

/*
----------------------------------------
Theme palette colors
----------------------------------------
*/

// Base colors
$theme-color-base-family: "gray";
$theme-color-base-lightest: "gray-2";
$theme-color-base-lighter: "gray-4";
$theme-color-base-light: "gray-20";
$theme-color-base: "gray-40";
$theme-color-base-dark: "gray-60";
$theme-color-base-darker: "gray-70";
$theme-color-base-darkest: "gray-80";
$theme-color-base-ink: "gray-90";

// Primary colors
$theme-color-primary-family: "blue";
$theme-color-primary-lightest: false;
$theme-color-primary-lighter: "blue-5";
$theme-color-primary-light: "blue-30";
$theme-color-primary: "blue-60v";
$theme-color-primary-vivid: "blue-50";
$theme-color-primary-dark: "blue-70v";
$theme-color-primary-darker: "blue-80";
$theme-color-primary-darkest: false;

// Secondary colors
$theme-color-secondary-family: "cyan";
$theme-color-secondary-lightest: false;
$theme-color-secondary-lighter: "blue-cool-5";
$theme-color-secondary-light: "cyan-40";
$theme-color-secondary: "cyan-50";
$theme-color-secondary-vivid: false;
$theme-color-secondary-dark: "cyan-60";
$theme-color-secondary-darker: "cyan-70";
$theme-color-secondary-darkest: false;

// Accent warm colors
$theme-color-accent-warm-family: "gold-vivid";
$theme-color-accent-warm-lightest: false;
$theme-color-accent-warm-lighter: false;
$theme-color-accent-warm-light: "gold-5v";
$theme-color-accent-warm: "gold-20v";
$theme-color-accent-warm-dark: "gold-30v";
$theme-color-accent-warm-darker: "gold-40v";
$theme-color-accent-warm-darkest: false;

// Accent cool colors
$theme-color-accent-cool-family: "blue-cool";
$theme-color-accent-cool-lightest: false;
$theme-color-accent-cool-lighter: "blue-cool-5v";
$theme-color-accent-cool-light: "blue-cool-20v";
$theme-color-accent-cool: "blue-cool-30v";
$theme-color-accent-cool-dark: "blue-cool-40v";
$theme-color-accent-cool-darker: "blue-cool-60v";
$theme-color-accent-cool-darkest: false;

/*
----------------------------------------
State palette colors
----------------------------------------
*/

// Error colors
$theme-color-error-family: "red-vivid";
$theme-color-error-lighter: "red-10v";
$theme-color-error-light: "red-20v";
$theme-color-error: "red-40v";
$theme-color-error-dark: "red-60v";
$theme-color-error-darker: "red-70v";

// Warning colors
$theme-color-warning-family: "yellow-vivid";
$theme-color-warning-lighter: "yellow-5";
$theme-color-warning-light: "yellow-10v";
$theme-color-warning: "yellow-20v";
$theme-color-warning-dark: "yellow-20";
$theme-color-warning-darker: "yellow-40";

// Success colors
$theme-color-success-family: "green-cool-vivid";
$theme-color-success-lighter: "green-cool-5v";
$theme-color-success-light: "green-cool-10v";
$theme-color-success: "green-cool-30v";
$theme-color-success-dark: "green-cool-40v";
$theme-color-success-darker: "green-cool-50v";

// Info colors
$theme-color-info-family: "blue-cool-vivid";
$theme-color-info-lighter: "blue-cool-5";
$theme-color-info-light: "blue-cool-20v";
$theme-color-info: "blue-cool-30v";
$theme-color-info-dark: "blue-cool-40v";
$theme-color-info-darker: "blue-cool-60v";

// Disabled colors
$theme-color-disabled-family: "gray";
$theme-color-disabled-light: "gray-10";
$theme-color-disabled: "gray-20";
$theme-color-disabled-dark: "gray-30";

/*
----------------------------------------
General colors
----------------------------------------
*/

// Links
$theme-link-color: "blue-cool-40v";
$theme-link-visited-color: "blue-cool-60v";
$theme-link-hover-color: "cyan-40v";
$theme-link-active-color: "blue-cool-30v";
