{% if tabs|length > 0 %}
<div class="jcc-section-tabs tabbed">
  <div class="jcc-section-tabs__container">
  
    {% include '@molecules/text/header-group/header-group.twig' with {
        brow: headergroup.brow,
        title: headergroup.title,
        lead: headergroup.lead,
        tag: headergroup.tag
      } %}
  
  <ul>
    {% for tab in tabs %}
    <li>
      <a href="#section{{ loop.index }}">{{ tab.title }}</a>
    </li>
    {% endfor %}
  </ul>
  </div>
  
  {% for tab_panel in tab_panels %}
  <section id="section{{ loop.index }}">
    <div class="jcc-section-tabs__container">
      {{ tab_panel.content }}
    </div>
  </section>
  {% endfor %}
</div>
{% endif %}