// Base Class
.jcc-iframe {
  iframe {
    outline: none;
    min-height: 700px;
  }
}

// Aspect Ratio Style Classes
// If IE11 Support Required Revise:
// height: calc(100vw * ratio_value, e.g., 9/16 = 0.5625)
.jcc-iframe--square {
  iframe {
    aspect-ratio: 1 / 1;
  }
}

.jcc-iframe--video {
  iframe {
    aspect-ratio: 16 / 9;
  }
}

.jcc-iframe--standard {
  iframe {
    aspect-ratio: 4 / 3;
  }
}

.jcc-iframe--classic {
  iframe {
    aspect-ratio: 3 / 4;
  }
}
