/* MOBILE: hide left column completely */
@media screen and (max-width: 1000px) {
  .jcc-switchboard .jcc-switchboard__column-left { display: none !important; }
  .jcc-switchboard .jcc-switchboard__column-right {
    width: 100% !important;
    max-width: 100% !important;
    flex: 1 1 100% !important;
  }
}
