.jcc-address {
  &__address {
    display: flex;
    flex-direction: column;

    .jcc-address--inline & {
      flex-direction: row;
      > div + div {
        margin-left: 1rem;
      }
    }
  }
}
