$_config_schemes: (
  base: (
    brow-color: base-dark,
    title-color: primary-darker,
    hover-title-color: primary-vivid,
    title-link: (
      default: primary,
      hover: primary-dark,
      active: primary-darker,
    ),
    action-button: (
      "jcc-button--secondary",
    ),
    icon-color: primary-light,
  ),
  local: (
    title-link: (
      default: primary-vivid,
    ),
    action-button: (
      "jcc-button--cta-link",
    ),
  ),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);

.usa-card {
  @include u-height(full);
}

.usa-card--hover {
  @include u-text-decoration(no-underline);
}

.usa-card__container {
  @include u-radius(0);
  @include u-padding(3);

  .usa-card--hover & {
    @include u-border-width(1px);
    @include u-radius($theme-card-border-radius);
    @include u-shadow(3);
    @include u-text-decoration(no-underline);
    transition: box-shadow 0.4s;

    &:active,
    &:hover {
      @include u-shadow(none);
    }
  }

  .usa-card--borderless & {
    @include u-padding(0);
    @include u-padding-right(3);
    @include u-border-width(0);
    @include u-bg("transparent");
  }

  .usa-card--media-left & {
    @include at-media(tablet) {
      @include grid-row();
      @include u-flex(no-wrap);
      @include u-flex-direction(row);
      @include u-padding-x(4);
    }
  }
}

.usa-card:not(.usa-card--flag) .usa-card__container > :only-child {
  @include u-padding(0);
}

.usa-card__content {
  @include u-display(flex);
  @include u-flex-direction(column);
  @include u-justify-content(justify);
  @include u-width(full);
  @include u-height(full);
}

.usa-card__heading {
  @include u-color(map-get($_config, title-color));

  .usa-card--hover & {
    @include u-color(map-get($_config, hover-title-color));
  }
  .usa-card--hover:hover & {
    @include u-text-decoration(underline);
    text-decoration-thickness: 2px;
  }

  a {
    @include link-colors(map-get($_config, title-link));
    @include u-text-decoration(no-underline);

    &.ext {
      @extend %jcc-inline-icon-link;

      &::after {
        mask-image: url("../icons/fa/external-link.svg");
      }
    }
  }
}

.usa-card__brow {
  @include u-margin-bottom(1);
  @include u-order(0);
  @include u-color(map-get($_config, brow-color));
  letter-spacing: 0.09px;
}

.usa-card__footer {
  @include u-margin-top(4);

  .usa-card--media-left & {
    @include u-margin-top(0.5);
  }

  a {
    @each $button in map-get($_config, action-button) {
      @extend .#{$button};
    }
  }
}

.usa-card__media {
  @include u-margin-right(5);
  @include u-color(map-get($_config, icon-color));

  .icon {
    width: 80px;
    height: 80px;
  }
}

.usa-card__body {
  .usa-card--hover & {
    @include u-color(ink);
  }
}
