<div class="jcc-option">

  {% if option.title %}
      <h6>{{ option.title }}</h6>
  {% endif %}
  {% if option.content %}
      <div class="jcc-option__content">{{ option.content }}</div>
  {% endif %}
</div>
