{% set tag = option.tag|default('h3') %}

<div class="jcc-option">
  {% if option.title %}
      <{{ tag }} class="jcc-option__title">{{ option.title }}</{{ tag }}>
  {% endif %}
  {% if option.content %}
      <div class="jcc-option__content">{{ option.content }}</div>
  {% endif %}
</div>
