{% include '@molecules/blocks/hero/hero.twig' with { hero: homepage.hero } %}
{% include '@organisms/sections/card-section/card-section.twig' with { 
  headergroup: homepage.headergroup,
  card_section: homepage.card_section 
} %}

{# <div class="jcc-section-wrapper">
  <div class="jcc-section__container">

  </div>
</div>
 #}