//Core theme palette settings for use or reference especially if existing token
$jcc-primary-blue-lightest: "blue-5"; //primary-lighter
$jcc-primary-blue-lighter: "blue-20";
$jcc-primary-blue-light: "blue-30"; //primary-light
$jcc-primary-blue: "blue-60v"; //primary
$jcc-primary-blue-vivid: "blue-50"; //primary-vivid
$jcc-primary-blue-vivid-dark: "blue-50v";
$jcc-primary-blue-dark: "blue-70v";
$jcc-primary-blue-darker: "blue-80v";
$jcc-accent-warm-green-lighter: "mint-cool-40v";
$jcc-accent-warm-green: "mint-cool-60v"; //secondary-dark
$jcc-accent-warm-light: "gold-5v"; //accent-warm-light
$jcc-accent-warm: "orange-10v";
