//Core theme palette settings
$jcc-primary-blue-lightest: "blue-5";
$jcc-primary-blue-lighter: "blue-20";
$jcc-primary-blue-light: "blue-30";
$jcc-primary-blue: "blue-60v";
$jcc-primary-blue-vivid: "blue-50";
$jcc-primary-blue-vivid-dark: "blue-50v";
$jcc-primary-blue-dark: "blue-70v";
$jcc-primary-blue-darker: "blue-80v";
$jcc-accent-warm-green-lighter: "mint-cool-40v";
$jcc-accent-warm-green: "mint-cool-50v";
$jcc-accent-warm-light: "gold-5v";
$jcc-accent-warm: "orange-10v";
