// Temporary location until _global.scss is sorted out.
// Adds decorative dash to headers
@mixin has-dash-position($dash-color: "gold-30v", $dash-position: "below") {
  @if $dash-position == "below" {
    position: relative;
    padding-bottom: 0.5em;

    &:after {
      background-color: color($dash-color);
      content: "";
      height: 3px;
      width: 3rem;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  } @else if $dash-position == "above" {
    position: relative;
    padding-top: 0.5em;

    &:after {
      background-color: color($dash-color);
      content: "";
      height: 3px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  } @else if $dash-position == "left-right" {
    @include u-overflow(hidden);
    &:before,
    &:after {
      background-color: color($dash-color);
      content: "";
      display: inline-block;
      height: 3px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }
    &:before {
      left: -0.5em;
      margin-left: -50%;
    }
    &:after {
      left: 0.5em;
      margin-right: -50%;
    }
  } @else if $dash-position == "left" {
    @include u-overflow(hidden);
    &:before {
      background-color: color($dash-color);
      content: "";
      display: inline-block;
      height: 3px;
      position: relative;
      vertical-align: middle;
      width: 100%;
    }
    &:before {
      left: -0.5em;
      margin-left: -50%;
    }
  } @else if $dash-position == "right" {
    @include u-overflow(hidden);
    &:after {
      background-color: color($dash-color);
      content: "";
      display: inline-block;
      height: 3px;
      position: relative;
      vertical-align: middle;
      width: 100%;
    }
    &:after {
      left: 0.5em;
      margin-right: -50%;
    }
  }
}

.jcc-text-section-aside__container {
  @include section-container;
}

.jcc-text-section-aside {
  @include section-wrapper;

  @include at-media(desktop) {
    @include grid-row;
    @include grid-gap;
  }

  .jcc-text-section-aside__content,
  .jcc-text-section-aside__aside {
    @include u-width(full);
  }

  .jcc-text-section-aside__content {
    @include at-media(desktop) {
      @include grid-col(8);
    }

    .jcc-card__title {
      @include has-dash-position($dash-position: "above");
    }
  }

  .jcc-text-section-aside__aside {
    @include at-media(desktop) {
      @include grid-col(4);
    }

    .jcc-card__title {
      @include has-dash-position($dash-position: "above");
      text-transform: uppercase;
    }
  }
}
