// SCHEME PROPERTIES

$schemes: (
  simple: (
    //font-role-heading: "",
      lead-font-family: "sans",
    //section-background: "",
      reverse-background-color: "primary",
    text-reverse-color: "white",
    link-reverse-color: "accent-warm-light",
    link-reverse-active-color: "accent-warm",
    link-reverse-hover-color: "accent-warm",
    dash-color: "mint-cool-50v",
    reverse-dash-color: "accent-warm-light",
    dash-position: "below",
    card-gap: 0,
    card-margin-bottom: 4
  ),
  professional: (
    //font-role-heading: "",
      lead-font-family: "sans",
    //section-background: "",
      reverse-background-color: "primary",
    text-reverse-color: "white",
    link-reverse-color: "accent-warm-light",
    link-reverse-active-color: "accent-warm",
    link-reverse-hover-color: "accent-warm",
    dash-color: "gold-30v",
    reverse-dash-color: "accent-warm-light",
    dash-position: "below",
    card-gap: 0,
    card-margin-bottom: 4
  )
);

// Generate a style for each scheme

@each $scheme, $map in $schemes {
  //$theme-font-role-heading: map-get($map, font-role-heading);
  $theme-lead-font-family: map-get($map, lead-font-family);
  //$theme-jcc-section-background: map-get($map, section-background);
  $theme-jcc-reverse-background-color: map-get($map, reverse-background-color);
  $theme-text-reverse-color: map-get($map, text-reverse-color);
  $theme-link-reverse-color: map-get($map, link-reverse-color);
  $theme-link-reverse-hover-color: map-get($map, link-reverse-hover-color);
  $theme-link-reverse-active-color: map-get($map, link-reverse-active-color);
  $theme-jcc-dash-color: map-get($map, dash-color);
  $theme-jcc-reverse-dash-color: map-get($map, reverse-dash-color);
  $theme-jcc-dash-position: map-get($map, dash-position);
  $theme-card-gap: map-get($map, card-gap);
  $theme-card-margin-bottom: map-get($map, card-margin-bottom);

  .jcc-scheme-#{$scheme} {
    &.jcc-cards {
      .jcc-header-group {
        &__title {
          @include has-dash-position(
            $dash-color: $theme-jcc-dash-color,
            $dash-position: $theme-jcc-dash-position
          );
        }

        &__lead {
          @include u-font($theme-lead-font-family, 10);
        }
      }

      &.jcc-cards--centered {
        .jcc-header-group {
          &__title {
            @include has-dash-position(
              $dash-color: $theme-jcc-dash-color,
              $dash-position: "below-center",
              $dash-width: 3rem
            );
          }
        }
      }

      &.jcc-cards-background--dark {
        @include background-color(
          $background-color: $theme-jcc-reverse-background-color,
          $background-text-color: $theme-text-reverse-color,
          $background-link-color: $theme-link-reverse-color,
          $background-link-color-hover: $theme-link-reverse-hover-color,
          $background-link-color-active: $theme-link-reverse-active-color
        );

        .jcc-header-group {
          &__title {
            @include has-dash-position(
              $dash-color: $theme-jcc-reverse-dash-color,
              $dash-position: $theme-jcc-dash-position
            );
          }
        }

        &.jcc-cards--centered {
          .jcc-header-group {
            &__title {
              @include has-dash-position(
                $dash-color: $theme-jcc-reverse-dash-color,
                $dash-position: "below-center",
                $dash-width: 3rem
              );
            }
          }
        }
      }

      .jcc-card {
        @include u-margin-bottom($theme-card-margin-bottom);

        &:not(:last-child) {
          @include u-margin-right($theme-card-gap);
        }
      }
    }
  }
}
