<ul class="usa-nav__primary usa-accordion">

  <li class="usa-nav__primary-item">
    <button class="usa-accordion__button usa-nav__link usa-current" aria-expanded="false" aria-controls="basic-nav-section-one"><span>Current section</span></button>
    <ul id="basic-nav-section-one" class="usa-nav__submenu">
      <li class="usa-nav__submenu-item">
        <a href="#" class=""> Navigation link</a>
      </li>
      <li class="usa-nav__submenu-item">
        <a href="#" class=""> Navigation link</a>
      </li>
    </ul>
  </li>

  <li class="usa-nav__primary-item">
    <a class="usa-nav__link" href="#"><span>Simple link</span></a>
  </li>
</ul>