<div class="usa-checkbox">
  <input class="usa-checkbox__input" id="truth" type="checkbox" name="historical-figures-1" value="truth" checked>
  <label class="usa-checkbox__label" for="truth">Sojourner Truth</label>
</div>
