.jcc-card-form {
  @include at-media(desktop) {
    display: flex;
    height: calc(100% + 1rem);
    flex-flow: column nowrap;
  }

  .jcc-card__title {
    margin: 0;
  }

  .jcc-card__content {
    margin-top: 0.5rem;
  }

  .jcc-card__body,
  .jcc-card__content {
    @include at-media(desktop) {
      display: flex;
      height: calc(100% + 1rem);
      flex-flow: column nowrap;
    }
  }

  .jcc-card__footer {
    padding-top: 0.5rem;

    @include at-media(desktop) {
      margin-top: auto;
      padding-top: 0;
    }

    p {
      margin-bottom: 0.5rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    select,
    .usa-select,
    input,
    .usa-input {
      @include u-margin-y(0);
    }
  }
}
