<div class="jcc-section-tabs tabbed">
  <ul>
    {% for tab in tabs %}
    <li>
      <a href="#section1">{{ tab.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% for tab_panel in tab_panels %}
  <section id="section1">
    {{ tab_panel.content }}
  </section>
  {% endfor %}
</div>
