.jcc-breadcrumbs {
  @include add-list-reset;
  @include u-text("gray-60");
}

.jcc-breadcrumb__item {
  @include responsive-lead();
  @include u-padding-right(1);
  display: inline;

  a {
    @include u-text("cyan-40v");

    &:after {
      display: inline-block;
      content: "/";
      margin-left: 0.6275rem;
    }
  }
}
