.jcc-breadcrumbs {
  @include add-list-reset;
  @include u-text(base-dark);
}

.jcc-breadcrumb__item {
  @include responsive-lead();
  @include u-padding-right(1);
  @include u-display(inline);

  a {
    @include u-text(info-dark);
    text-decoration: none;

    &:after {
      @include u-display(inline-block);
      content: "/";
      margin-left: 0.6275rem;
    }
  }
}
