.jcc-breadcrumbs {
  @include add-list-reset;
  @include u-text(base-dark);
}

.jcc-breadcrumb__item {
  @include responsive-lead();
  @include u-padding-right(1);
  @include u-display(inline);

  a {
    @include u-text(info-darker);
    text-decoration: none;

    &:after {
      @include u-display(inline-block);
      content: "/";
      margin-left: 0.6275rem;
    }
  }
}

@if $trial {
  .jcc-breadcrumbs-nav--trialcourt {
    .jcc-breadcrumb__item {
      @include jcc-text-color(primary-blue-dark);

      a {
        @include jcc-text-color(primary-blue-light);
      }
    }
  }
}
