{% if breadcrumbs|length > 0 %}
<nav class="jcc-breadcrumbs-nav">
  <ul class="jcc-breadcrumbs">
    {% for breadcrumb in breadcrumbs %}
    {% set url_attributes = breadcrumb.url_attributes ? breadcrumb.url_attributes : create_attribute() %}
    <li class="jcc-breadcrumb__item">
      
      {% if breadcrumb.url %}
      <a href="{{ breadcrumb.url }}"{{ url_attributes }}>{{ breadcrumb.label }}</a>
      {% else %}
      <span aria-current="location">{{ breadcrumb.label }}</span>
      {% endif %}

    </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}