{% set classes = [
  'jcc-breadcrumbs-nav',
  breadcrumbs.show_back_button ? 'has-back-button',
  breadcrumbs.show_mobile ? 'show-mobile' : 'hide-mobile',
]|merge(breadcrumbs.classes|default([''])) %}

<nav class="{{ classes|join(' ')|trim }}">
    {% include '@atoms/buttons/back-button.twig' with{
      back_button: {
        style: 'unstyled'
      }
    }%}
</nav>
