$_config_schemes: (
  base: (
    primary: (
      border: primary-vivid,
      default-background: primary-lighter,
      default-link: primary-vivid,
      default-link-hover: primary-dark,
      default-link-active: primary-darker,
      alt-background: primary-dark,
      alt-background-text: "white",
    ),
    secondary: (
      default-background: "white",
      default-background-text: primary-darker,
      default-social-icon: primary-vivid,
      alt-background: primary-darker,
      alt-background-text: "white",
    ),
    shoe: (
      border: accent-warm,
    ),
  ),
  local: (),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);
$_primary: map-get($_config, primary);
$_secondary: map-get($_config, secondary);
$_shoe: map-get($_config, shoe);

.usa-footer {
  @include u-margin-top(10);
}

.jcc-footer__container {
  @include grid-container(widescreen);
}

.jcc-footer__row {
  @include at-media(desktop) {
    @include grid-row();
    @include grid-gap();
    @include u-justify-content(justify);
  }
}

.jcc-footer__nav {
  @include at-media(mobile-lg) {
    @include grid-row();
    @include grid-gap(4);
  }
}

.jcc-footer__nav-col {
  @include u-border-top(1px, base-light);

  .jcc-footer--alt & {
    @include u-border-top(map-get($_primary, border));
  }

  &:first-child {
    @include u-border-top(0);
  }

  @include at-media(mobile-lg) {
    @include grid-col(6);
    @include u-border-top(0);
  }

  @include at-media(desktop) {
    width: 20%;
  }
}

.usa-footer__primary-section {
  border-top: 4px solid color(map-get($_primary, border));
  @include u-bg(map-get($_primary, default-background));

  @include at-media(mobile-lg) {
    @include u-padding-top(4);
  }

  .jcc-footer--alt & {
    @include u-bg(map-get($_primary, alt-background));
    @include text-color(map-get($_primary, alt-background-text));
  }
}

.usa-footer__secondary-section {
  @include u-bg(map-get($_secondary, default-background));

  .jcc-footer--alt & {
    @include u-bg(map-get($_secondary, alt-background));
    @include text-color(map-get($_secondary, alt-background-text));
  }
}

.jcc-footer__shoe-section {
  border-top: 4px solid color(map-get($_shoe, border));
}

.usa-footer__primary-content {
  border-top: 0;
}

.usa-footer__primary-link {
  .usa-footer__primary-content--collapsible & {
    @include typeset(body, xs, $theme-body-line-height);

    &::before {
      background-image: none !important;
      mask-image: url("../icons/fa/chevron-down.svg");
      mask-size: 12px;
      mask-position: 0 4px;
      mask-repeat: no-repeat;
      background-color: color($theme-link-color);

      .jcc-footer--alt & {
        background-color: color(map-get($_secondary, alt-background-text));
      }
    }
  }

  .usa-footer__primary-content--collapsible.hidden & {
    &::before {
      mask-image: url("../icons/fa/chevron-right.svg");
      mask-size: 9px;
      mask-position: 4px 3px;
    }
  }
}

// Override Drupal's .hidden styles.
.usa-footer__primary-content--collapsible.hidden {
  @include u-display(block);
}

.usa-footer__secondary-link {
  & + & {
    @include u-padding-top(3);
  }

  a {
    @include link-colors((
      default: map-get($_primary, default-link),
      hover: map-get($_primary, default-link-hover),
      active: map-get($_primary, default-link-active),
    ));

    .jcc-footer--alt & {
      @include link-colors((
        default: "white",
        hover: "white",
        active: "white",
      ));
    }

    &.ext {
      @extend .jcc-button--external-link;
      @include u-display(inline-block);

      .jcc-footer--alt & {
        &::after {
          @include u-bg("white");
        }
      }
    }
  }
}

.usa-footer__logo {
  @include at-media(desktop) {
    @include grid-col(9);
  }
}

.usa-footer__logo-heading {
  @include u-padding-x(0);
  @include typeset(heading, sm, $theme-heading-line-height);
  @include u-font-weight(normal);
  @include u-text(uppercase);
  @include u-color(map-get($_secondary, default-background-text));
  letter-spacing: 1.5px;

  @include at-media(desktop) {
    @include u-font-size(heading, md);
  }

  @include at-media(widescreen) {
    @include u-font-size(heading, lg);
  }

  span {
    @include at-media-max(desktop) {
      @include u-display(block);
      @include u-text-align(center);
    }

    + span {
      @include u-position(relative);

      @include at-media-max(desktop) {
        @include u-margin-top(2);
        @include u-padding-top(2);
      }

      @include at-media(desktop) {
        @include u-margin-left(1.5);
        @include u-padding-left(2.5);
      }

      &::before {
        @include u-position(absolute);
        @include u-display(block);
        @include u-bg(base-light);
        content: "";

        @include at-media-max(desktop) {
          @include u-width(3);
          @include u-height(1px);
          @include u-top(0);
          left: 50%;
          transform: translateX(-50%);
        }

        @include at-media(desktop) {
          @include u-width(1px);
          @include u-left(0);
          height: 20px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.jcc-footer__social-links {
  @include grid-row();
  @include grid-gap(2);
  @include u-justify-content(justify-center);
  @include u-margin-top(3);

  @include at-media(desktop) {
    @include grid-gap(4);
    @include grid-col(3);
    @include u-justify-content(justify-end);
    @include u-margin-top(0);
  }
}

.jcc-footer__social-links-item {
  @include grid-row();
  @include u-align-items(align-center);

  > a {
    @include u-color(map-get($_secondary, default-social-icon));
    @include u-text-decoration(no-underline);
    line-height: 0;
  }

  svg {
    width: 25px;
    height: 25px;

    @include at-media(desktop) {
      width: 35px;
      height: 35px;
    }
  }
}
