$_config_schemes: (
  base: (
    default-background: primary-darker,
    default-background-text: "white",
  ),
  local: (),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);

.jcc-global-bar {
  @include u-padding-top(1);
  @include u-padding-bottom(1);
  @include u-bg(map-get($_config, default-background));
  @include text-color(map-get($_config, default-background-text));

  @include at-media(desktop) {
    @include u-padding-bottom(1);
  }

  a {
    @include u-text-decoration(no-underline);

    &:hover {
      @include u-text-decoration(underline);
    }
  }
}

.jcc-global-bar__container {
  @include grid-container(widescreen);
}

.jcc-global-bar__row {
  @include at-media(desktop) {
    @include grid-row();
    @include grid-gap();
    @include u-justify-content(justify);
  }
}

.jcc-global-bar__logo {
  @include typeset(heading, 2xs, $theme-heading-line-height);
  @include u-font-weight(normal);
  @include u-text(uppercase);
  @include u-text-align(center);
  letter-spacing: 0.75px;

  @include at-media(desktop) {
    @include u-text-align(left);
    flex: 0 0 auto;
  }
}

.jcc-global-bar__nav {
  @include typeset(body, 3xs, $theme-heading-line-height);

  @include at-media(desktop) {
    @include grid-col();
  }
}

.jcc-global-bar__nav-items {
  @include list-reset();
  @include grid-row();

  @include at-media(desktop) {
    @include u-justify-content(justify-end);
  }
}

.jcc-global-bar__nav-item {
  @include grid-col(6);
  @include u-padding-top(2);

  @include at-media(mobile-lg) {
    @include grid-col();
  }

  @include at-media(desktop) {
    @include u-padding-top(0);
    @include u-padding-left(3);
    @include u-flex(auto);
  }
}
