$_config_schemes: (
  base: (
    header: (
      // variants
      masthead-background-default: blue-warm-70v,
      masthead-background-blue-vivid: blue-60v,
      masthead-background-blue: blue-50,
      masthead-background-gray: gray-50,
      masthead-background-gray-warm: gray-warm-50,
      masthead-text: "white",
      masthead-svg: "white",
      masthead-sub-text: blue-50,
      masthead-nav-background: "white",
      masthead-sub-background: "white",
      masthead-sub-background-active: "white",
    ),
    navbar: (
      default-background: "white",
      default-logo: primary-darker,
      alt-background: primary-darker,
      alt-logo: "white",
    ),
    nav: (
      // xxx-top-xxx is the bar/primary items
      default-top-background: primary-lighter,
      default-top-text: primary,
      default-top-arrow: secondary,
      default-top-current-bar: primary-dark,
      default-top-border: primary-light,
      default-top-background-active: primary-dark,
      default-top-text-active: "white",
      default-top-arrow-active: "white",
      alt-top-background: primary-dark,
      alt-top-text: "white",
      alt-top-arrow: "white",
      alt-top-current-bar: "white",
      alt-top-border: primary-light,
      alt-top-background-active: base-lighter,
      alt-top-text-active: ink,
      alt-top-arrow-active: ink,
      // xxx-sub-xxx is the inner/sub items
      default-sub-background: primary-dark,
      default-sub-background-active: primary-dark,
      default-sub-text: "white",
      default-sub-border: primary-vivid,
      default-sub-sub-background: primary-vivid,
      alt-sub-background: base-lighter,
      alt-sub-background-active: base-light,
      alt-sub-text: ink,
      alt-sub-border: base-light,
      alt-sub-sub-background: base-light,
      // section link
      section-link-background: accent-warm,
      section-link-background-hover: accent-warm-dark,
      section-link-text: ink,
    ),
    translate: (
      default-background: primary-lighter,
      default-background-hover: primary-darker,
      default-background-active: primary-dark,
      default-text: primary-darker,
      default-text-hover: "white",
      default-text-active: "white",
      default-icon: primary-dark,
      default-icon-hover: "white",
      default-icon-active: "white",
      default-sub-background: primary-dark,
      default-sub-background-hover: primary-vivid,
      default-sub-text: "white",
      alt-background: base-lighter,
      alt-background-hover: base-light,
      alt-background-active: base-lighter,
      alt-text: ink,
      alt-text-hover: ink,
      alt-text-active: ink,
      alt-icon: primary-dark,
      alt-icon-hover: primary-dark,
      alt-icon-active: primary-dark,
      alt-sub-background: base-lighter,
      alt-sub-background-hover: base-light,
      alt-sub-text: ink,
    ),
    hat: (
      border: accent-warm,
    ),
    search: primary,
  ),
  local: (),
  pro: (),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);
$_header: map-get($_config, header);
$_navbar: map-get($_config, navbar);
$_nav: map-get($_config, nav);
$_translate: map-get($_config, translate);
$_hat: map-get($_config, hat);

// Add the css rule for default & alt
@mixin hc($prop, $map, $key) {
  #{$prop}: color(map-get($map, "default-#{$key}"));

  .jcc-header--alt & {
    #{$prop}: color(map-get($map, "alt-#{$key}"));
  }
}

.jcc-header {
  @include u-position(relative);
  @include u-z(500);
}

.jcc-header__navbar {
  @include hc(background-color, $_navbar, background);

  .usa-navbar {
    @include u-position(relative);
    @include u-border-bottom(0);
    @include u-overflow(hidden);
    height: 60px;

    @include at-media-max(tablet-lg) {
      @include u-padding-x(2);
    }

    @include at-media(tablet-lg) {
      @include u-display(flex);
      @include u-align-items(align-center);
      height: 92px;
    }
  }

  .usa-logo {
    @include u-margin(0);
    line-height: 0;
  }

  .jcc-header__logo {
    @include u-display(inline-flex);
    @include u-align-items(align-center);
    @include hc(color, $_navbar, logo);
    height: 39px;

    @include at-media(tablet-lg) {
      height: 65px;
    }

    svg {
      @include u-width(auto);
      height: 100%;
    }
  }

  .jcc-header__logo + .usa-logo__text {
    @include sr-only();
  }

  .jcc-header__mobile-button-open,
  .jcc-header__mobile-button-close {
    @include button-unstyled;
    @include u-display(flex);
    @include u-position(absolute);
    @include u-justify-content(justify-center);
    @include u-align-items(align-center);
    @include u-right(1);
    @include u-width(6);
    @include u-height(6);
    @include u-cursor(pointer);
    @include hc(color, $_navbar, logo);
    top: 6px;

    @include at-media(tablet-lg) {
      @include u-display(none);
    }

    svg {
      @include u-width(3);
      @include u-height(3);
    }
  }

  .jcc-header__mobile-button-open {
    .usa-js-mobile-nav--active & {
      @include u-display(none);
    }
  }

  .jcc-header__mobile-button-close {
    @include u-display(none);

    .usa-js-mobile-nav--active & {
      @include at-media-max(tablet-lg) {
        @include u-display(flex);
      }
    }
  }
}

.jcc-header__hat {
  border-bottom: 4px solid color(map-get($_shoe, border));

  @include at-media-max(desktop) {
    .jcc-global-bar__nav {
      display: none;
    }
  }
}

.jcc-header__nav {
  .usa-nav {
    @include u-position(relative);
    @include u-top(0);
    @include u-width(full);
    @include u-padding(0);
    @include u-border-width(0);
    @include hc(background-color, $_nav, top-background);

    &.is-visible {
      animation: none;
    }
  }

  .usa-nav__inner {
    @include at-media-max(tablet-lg) {
      @include u-display(flex);
      @include u-flex-direction(column);
    }
  }

  .usa-nav__primary {
    @include at-media-max(tablet-lg) {
      @include u-order(2);
      @include u-margin-top(0);
    }

    .usa-nav__primary-item {
      @include at-media-max(tablet-lg) {
        @include hc(border-top-color, $_nav, top-border);
      }
    }

    // Top level toggle button & simple link
    .usa-nav__link {
      @include u-display(flex);
      @include u-align-items(align-center);
      @include u-padding-x(3);
      @include hc(background-color, $_nav, top-background);
      @include hc(color, $_nav, top-text);
      @include u-font-weight(normal);
      height: 60px;
      background-image: none;
      font-size: 18px;
      letter-spacing: 0.37px;

      @include at-media-max(tablet-lg) {
        @include u-justify-content(justify);
      }

      @include at-media(tablet-lg) {
        height: 90px;
      }

      &:hover,
      &[aria-expanded="true"] {
        background-image: none;

        @include at-media-max(tablet-lg) {
          @include hc(background-color, $_nav, top-background);
        }

        @include at-media(tablet-lg) {
          @include hc(background-color, $_nav, top-background-active);
          @include hc(color, $_nav, top-text-active);
        }

        &::after {
          @include at-media(tablet-lg) {
            @include u-display(none);
          }
        }

        svg {
          @include at-media(tablet-lg) {
            @include hc(color, $_nav, top-arrow-active);
          }
        }
      }

      &:focus {
        @include u-position(relative);
        z-index: 1;
      }

      &[aria-expanded="true"] {
        svg {
          @include at-media-max(tablet-lg) {
            transform: rotate(180deg);
          }
        }
      }

      &.usa-current {
        &::after {
          @include hc(background-color, $_nav, top-current-bar);

          @include at-media-max(tablet-lg) {
            @include u-top(0);
            @include u-bottom(0);
            @include u-left(0);
            @include u-radius(0);
          }
        }
      }

      span {
        padding-right: 3px;
      }

      svg {
        @include u-padding-top(2px);
        @include hc(color, $_nav, top-arrow);
        width: 30px;
        height: 25px;

        @include at-media(tablet-lg) {
          width: 20px;
          height: 15px;
        }
      }
    }

    .usa-nav__submenu {
      @include u-padding(0);

      @include at-media(tablet-lg) {
        @include hc(background-color, $_nav, sub-background);
        width: 18rem;

        &.megamenu {
          @include u-left(0);
          @include u-right(0);
          @include u-width(full);
          padding-left: 90px;
          padding-right: 90px;

          // This was overridden by the .megamenu styles and is
          // needed to stop the menu from flashing on page load.
          html.usa-js-loading & {
            left: -999em;
            right: auto;
          }

          .usa-nav__submenu-inner {
            @include u-display(flex);
            @include grid-gap(6);
          }
        }
      }

      .usa-nav__submenu {
        @include u-position(relative);
        @include u-padding-left(2);
        @include hc(background-color, $_nav, sub-sub-background);

        // Hide tertiary items on wide screens
        @include at-media(tablet-lg) {
          @include u-display(none);
        }
      }
    }

    .usa-nav__submenu-inner {
      @include at-media(tablet-lg) {
        @include u-position(relative);
        @include u-width(full);
      }
    }

    .usa-nav__submenu-items {
      @include list-reset();
      @include u-width(full);
    }

    .usa-nav__submenu-item {
      @include u-margin-top(0);
      @include u-border-top(1px);
      @include hc(border-top-color, $_nav, sub-border);

      a {
        @include u-display(flex);
        @include u-align-items(align-center);
        @include u-padding-x(3);
        @include u-padding-y(1);
        @include hc(background-color, $_nav, sub-background);
        @include hc(color, $_nav, sub-text);
        min-height: 50px;

        &.usa-current {
          @include hc(background-color, $_nav, sub-sub-background);
        }

        &:hover {
          @include hc(background-color, $_nav, sub-sub-background);
          @include u-text-decoration(no-underline);
        }
      }

      .usa-nav__submenu-item {
        @include hc(border-top-color, $_nav, sub-border);
      }
    }

    .jcc-header__submenu-section-item {
      &,
      .jcc-header--alt & {
        a {
          @include u-bg(map-get($_nav, section-link-background));
          @include u-color(map-get($_nav, section-link-text));
          @include u-justify-content(justify-end);

          &:hover {
            @include u-bg(map-get($_nav, section-link-background-hover));
          }
        }

        svg {
          @include u-margin-left(0.5);
          width: 17px;
          height: 17px;
        }
      }
    }

    .jcc-header__translate-nav {
      span {
        flex: 1 0 auto;
      }

      svg.icon-translate {
        @include u-margin-right(1);
        @include hc(color, $_nav, top-text);
        width: 35px;
        height: 35px;
        transform: rotate(0deg);
      }

      @include at-media(tablet-lg) {
        @include u-display(none);
      }
    }
  }

  .usa-nav__secondary {
    @include at-media-max(tablet-lg) {
      @include u-order(1);
      @include u-margin-top(0);
    }

    @include at-media(tablet-lg) {
      @include u-flex-direction(row);
      @include u-justify-content(justify-end);
      @include u-align-items(align-center);
      @include u-margin-top(0);
      bottom: 110px;
    }

    .jcc-header__translate-extra {
      @include u-margin-right(2);
    }

    .jcc-header__translate-nav {
      @include at-media-max(tablet-lg) {
        @include u-display(none);
      }

      @include at-media(tablet-lg) {
        @include u-margin-right(1);
        width: 135px;
      }

      .usa-accordion__button {
        @include u-display(flex);
        @include u-align-items(align-center);
        @include u-padding(1);
        @include u-font-weight(normal);
        @include hc(background-color, $_translate, background);
        @include hc(color, $_translate, text);
        height: 50px;
        background-image: none;
        letter-spacing: 0.37px;

        &[aria-expanded="true"] {
          @include hc(background-color, $_translate, background-active);
          @include hc(color, $_translate, text-active);

          svg {
            @include hc(color, $_translate, icon-active);
          }
        }

        &:hover {
          @include hc(background-color, $_translate, background-hover);
          @include hc(color, $_translate, text-hover);

          svg {
            @include hc(color, $_translate, icon-hover);
          }
        }

        svg {
          @include u-margin-right(1);
          @include hc(color, $_translate, icon);
        }

        .icon-chevron-down {
          display: none;
        }
      }

      .usa-nav__submenu {
        @include u-padding(0);
        @include u-border-top(1px, solid);
        @include hc(border-color, $_translate, sub-background-hover);
        width: 170px;
      }

      .usa-nav__submenu-item {
        @include u-margin-top(0);

        a {
          @include u-display(flex);
          @include u-align-items(align-center);
          @include u-padding-x(3);
          @include u-padding-y(1);
          @include u-text-decoration(no-underline);
          @include hc(background-color, $_translate, sub-background);
          @include hc(color, $_translate, sub-text);
          height: 50px;

          &:hover {
            @include hc(background-color, $_translate, sub-background-hover);
          }
        }
      }
    }
  }
}

.jcc-header__search {
  @include at-media-max(tablet-lg) {
    @include u-margin-y(1);
    @include u-padding-x(3);
  }

  .usa-search {
    @include u-position("relative");

    @include at-media(tablet-lg) {
      @include u-margin-top(0);
    }

    @include at-media(desktop) {
      width: 300px;
    }

    .usa-input {
      @include at-media-max(tablet-lg) {
        @include u-maxw(none);
      }
    }

    .jcc-button--unstyled {
      @include button-unstyled();
      @include u-position(absolute);
      @include u-display(flex);
      @include u-justify-content(justify-center);
      @include u-align-items(align-center);
      @include u-right(0);
      @include u-top(2px);
      @include u-height(6);
      @include u-width(6);
      @include u-color(map-get($_config, search));
      background-image: none;
    }
  }
}

// Body gets this class when mobile menu opened
.usa-js-mobile-nav--active {
  overflow-y: visible;
}

// Adjustments for masthead variant
.jcc-header--masthead {
  @include u-bg(map-get($_header, masthead-background-default));
  @include text-color(map-get($_header, masthead-text));
  padding-bottom: 5.875rem;
  @include at-media(tablet-lg) {
    &.jcc-header--has-body {
      padding-bottom: 3rem;
    }
  }

  .jcc-header__navbar {
    @include u-bg("transparent");
    @include u-margin-bottom(5);
  }

  .jcc-header__nav {
    .usa-nav {
      @include u-bg("transparent");
      margin-bottom: 6.25rem;

      .usa-nav__link {
        @include u-height(auto);
        @include u-bg("transparent");
        @include u-color(map-get($_header, masthead-sub-text));

        &::after {
          @include u-bg(map-get($_header, masthead-nav-background));
          @include at-media(tablet-lg) {
            @include u-margin-x(1);
          }
        }

        &:hover::after {
          content: "";
          display: block;
          position: absolute;
          height: 0.25rem;
        }

        span {
          @include u-color(map-get($_header, masthead-text));
        }
      }

      .usa-nav__submenu-item {
        @include u-border-top(0);

        &:not(:last-child) {
          a {
            @include u-bg(map-get($_header, masthead-sub-background));
            @include u-color(map-get($_header, masthead-sub-text));
          }
        }
      }

      .usa-nav__primary {
        .usa-nav__link {
          &:focus {
            @include u-bg(map-get($_header, masthead-sub-background));

            span {
              @include u-color(map-get($_header, masthead-sub-text));
            }
          }
          &[aria-expanded="false"] {
            svg {
              @include u-color(map-get($_header, masthead-svg));
            }

            @include at-media(tablet-lg) {
              .icon-circle-solid {
                @include u-color(map-get($_header, masthead-svg));
              }
            }
          }
          &[aria-expanded="true"] {
            @include at-media(tablet-lg) {
              .icon-circle-solid {
                @include u-color(map-get($_header, masthead-sub-text));
              }
            }
          }

          span {
            & + svg {
              @include u-margin-left(1);
            }
          }

          .icon-circle-solid {
            @include u-height(1);
            @include u-width(1);
          }
        }
      }

      .jcc-header__translate-nav {
        .usa-nav__link[aria-expanded="true"] {
          svg {
            @include u-color(map-get($_header, masthead-sub-text));
          }
        }
      }

      .usa-nav__secondary {
        bottom: 7rem;

        .usa-nav__submenu {
          @include u-border-top(0);
        }

        button {
          &:hover,
          &:focus {
            @include u-bg(map-get($_header, masthead-sub-background));

            svg {
              @include u-color(map-get($_header, masthead-sub-text));
            }

            span {
              @include u-color(map-get($_header, masthead-sub-text));
            }
          }
        }

        .usa-nav__submenu-item {
          a {
            @include u-bg(map-get($_header, masthead-sub-background));
            @include u-color(map-get($_header, masthead-sub-text));
          }
        }

        svg {
          @include u-color(map-get($_header, masthead-svg));
        }

        .usa-input {
          @include u-border-color("transparent");
        }
      }
    }
  }

  .jcc-header__logo-container--alt-position {
    @include u-width(widescreen);
    @include u-margin-x(auto);

    .usa-logo {
      @include u-display(inline-block);
      @include u-padding-x(0);
      @include u-padding-bottom(2);
      @include at-media(tablet-lg) {
        @include u-padding-x(4);
        @include u-padding-bottom(0);
      }

      .jcc-header__logo {
        @include u-display(inline-flex);
        @include u-margin-bottom(1);
        @include at-media(tablet-lg) {
          @include u-display(block);
        }

        svg {
          height: 1.7rem;
          @include at-media(mobile-lg) {
            @include u-height(6);
          }
          @include u-width(auto);
        }
      }

      .jcc_header__lead {
        @extend h4;
        @include u-text(uppercase, ls-1);
      }
    }
  }

  .usa-logo {
    &[aria-hidden="false"] {
      @include sr-only();
    }
  }

  .jcc-header__body {
    @include u-position(absolute);
    @include u-left(0);
    @include u-right(0);
    @include u-width(widescreen);
    @include u-margin-x(auto);
    @include u-padding-x(4);
    iframe{
      padding-top: 1rem;
      max-height: 75px;
    }
    @include at-media(tablet-lg) {
      @include u-position(relative);
    }
  }

  .jcc-header__mobile-button-open,
  .jcc-header__mobile-button-close {
    @include u-color(map-get($_header, masthead-svg));
  }

  &.mega {
    padding-bottom: 16.563rem;
    @include at-media(tablet-lg) {
      &.jcc-header--has-body {
        padding-bottom: 11rem;
      }
    }

    .jcc-header__logo-container--alt-position {
      .usa-logo {
        .jcc-header__logo {
          @include at-media(tablet) {
            @include u-margin-bottom(2);
          }
          @include at-media(tablet-lg) {
            @include u-margin-bottom(3);
          }

          svg {
            height: 1.7rem;
            @include at-media(tablet) {
              @include u-height(6);
            }
            @include at-media(tablet-lg) {
              @include u-height(8);
            }
          }
        }

        .jcc_header__lead {
          @extend h3;
          @include u-text(ls-2);
        }
      }
    }
  }

  .jcc-header__media {
    @include u-display(block);
    @include u-position(absolute);
    @include u-top(0);
    @include u-right(0);
    @include u-bottom(0);
    @include u-left(0);
    @include u-z(bottom);
    @include u-width(full);
    @include u-height(full);
    @include u-overflow(hidden);

    img,
    picture {
      @include u-width(full);
      @include u-height(full);
      object-fit: cover;
      object-position: 50% 50%;
    }

    &::after {
      @include u-display(inline-block);
      @include u-position(absolute);
      @include u-top(0);
      @include u-left(0);
      @include u-width(full);
      @include u-height(full);
      @include u-bg(map-get($_header, masthead-background-default));
      opacity: 0.7;
      content: "";
    }
  }

  &.blue-vivid {
    @include u-bg(map-get($_header, masthead-background-blue-vivid));

    .jcc-header__media::after {
      @include u-bg(map-get($_header, masthead-background-blue-vivid));
    }
  }

  &.blue {
    @include u-bg(map-get($_header, masthead-background-blue));

    .jcc-header__media::after {
      @include u-bg(map-get($_header, masthead-background-blue));
    }
  }

  &.gray {
    @include u-bg(map-get($_header, masthead-background-gray));

    .jcc-header__media::after {
      @include u-bg(map-get($_header, masthead-background-gray));
    }
  }

  &.gray-warm {
    @include u-bg(map-get($_header, masthead-background-gray-warm));

    .jcc-header__media::after {
      @include u-bg(map-get($_header, masthead-background-gray-warm));
    }
  }
}
