<div id="js-header_menu--mobile"></div>
<div class="jcc-header_menu--desktop slicknav_menu slicknav_menu--desktop">
	<ul id="slick-menu" class="jcc-header_nav slicknav_nav">
	  {% for item in menu_items %}
	    {% set url_attributes = url_attributes ? url_attributes : create_attribute() %}
      <li class="jcc-header_nav__item slicknav_nav__item">
	      <a href="{{ item.url }}"{% if breadcrumb.url_attributes %} {{ url_attributes }}{% endif %}>{{ item.name }}</a>
	    </li>
	    {% endfor %}
	</ul>
</div>