<div class="jcc-timeline-section jcc-flowmap-section--{{ background_variant }}">
  <div class="jcc-timeline-section__container">  
    
    {% include '@molecules/text/header-group/header-group.twig' with {
      brow: headergroup.brow,
      title: headergroup.title
    } %}   
    
    <ul class="jcc-timeline">
      
      {% for item in flowmap %}
      {% include '@molecules/blocks/timeline-item/timeline-item.twig' with {
        title: item.title,
        excerpt: item.excerpt,
        read_more_link: item.read_more_link
      } %}
      {% endfor %}
      
    </ul>
  </div>
</div>