{% set attributes = attributes ? attributes : create_attribute() %}

{% set classes = [
  'usa-button',
  style ? 'usa-button--' ~ style : '',
]|merge(classes|default([''])) %}

<button {{attributes.addClass(classes) }}>
  {{- text -}}
</button>