.jcc-share {
  @include section-wrapper;

  &__item {
    @include u-width(auto);
    @include u-margin-x(1);

    *,
    &,
    &:visited {
      @include u-color(base);
      @include u-text-decoration(no-underline);
    }

    svg {
      @include u-height(6);
      @include u-width(6);
    }

    svg.ext {
      display: none;
    }
  }

  &__button {
    @include u-margin-x(1);
    @include u-padding(0);
    @include u-bg("transparent");
    @include u-border(0);
    @include u-cursor(pointer);

    span {
      @include u-display(inline-block);
      height: 4.1rem;
      width: 4.1rem;
      background-repeat: no-repeat;
      background-position: top center;
      padding: 50px 0 0 0;
      font-color: #2e2e2e;
      @include u-font(sans, 6);
      letter-spacing: 0.1rem;
      font-size: 1.06rem;
      text-align: center;
      color: buttonText;
    }
  }

  &__print {
    background-image: url("../images/graphics/print-new.svg");
    margin-left: 10px;
  }

  &__email {
    //position: relative;
    //top: 2px;
    background-image: url("../images/graphics/email-new.svg");
  }

  &__text {
    background-image: url("../images/graphics/text-new.svg");
  }

  #jcc-share__trigger--text {
    @include u-display(inline-block);

    @include at-media(desktop) {
      @include u-display(none);
    }

    // If tablet viewed in landscape orientation
    @media only screen and (max-device-width: 1280px) and (orientation: landscape) {
      @include u-display(inline-block);
    }
  }
}
