$_config_schemes: (
  base: (
    button: (
      "jcc-button--primary",
    ),
  ),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);

.jcc-cards {
  @include unstyled-list();

  @include at-media(tablet-lg) {
    @include grid-row();
    @include grid-gap(4);
  }

  > li {
    @include u-margin-bottom(4);
  }
}

.jcc-cards--1-cols {
  @include at-media(tablet-lg) {
    > li {
      @include grid-col(10);
      @include grid-offset(1);
    }
  }
}

.jcc-cards--2-50-50-cols {
  @include at-media(tablet-lg) {
    > li {
      @include grid-col(6);
    }
  }
}

.jcc-cards--2-60-40-cols {
  @include at-media(tablet-lg) {
    > li:nth-child(1n) {
      @include grid-col(7);
    }
    > li:nth-child(2n) {
      @include grid-col(5);
    }
  }
}

.jcc-cards--2-75-25-cols {
  @include at-media(tablet-lg) {
    > li:nth-child(1n) {
      @include grid-col(8);
    }
    > li:nth-child(2n) {
      @include grid-col(4);
    }
  }
  @include at-media(desktop) {
    > li:nth-child(1n) {
      @include grid-col(9);
    }
    > li:nth-child(2n) {
      @include grid-col(3);
    }
  }
}

.jcc-cards--3-cols {
  @include at-media(tablet-lg) {
    > li {
      @include grid-col(4);
    }
  }
}

.jcc-cards--4-cols {
  @include at-media(tablet-lg) {
    > li {
      @include grid-col(6);
    }
  }
  @include at-media(desktop) {
    > li {
      @include grid-col(3);
    }
  }
}

.jcc-cards__link {
  @include u-margin-top(4);

  @include at-media(tablet-lg) {
    @include u-text(center);

    &-left {
      @include u-text(left);
    }
  }

  a {
    @include u-margin-right(0);
    @each $button in map-get($_config, button) {
      @extend .#{$button};
    }
  }
}
