<nav>
  <h3>{{ title }}</h3>
  <ul class="usa-sidenav">
    {% for item in scroll_nav %}
    {% set url_attributes = url_attributes ? url_attributes : create_attribute() %}
    <li class="usa-sidenav__item">
      <a href="{{ item.url }}"{{ item.url_attributes }}>{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
