$_config_schemes: (
  base: (
    bottom-border: secondary-lighter,
    item-border: base,
    text: secondary,
    text-size: 6,
    current-text: "white",
    current-background: secondary,
    hover-text: "white",
    hover-background: secondary,
    back-link-text: primary,
    back-link-background: secondary-lighter,
  ),
  local: (),
  pro: (
    text: "blue-50",
    text-size: 5,
    current-text: "ink",
    current-background: "transparent",
    hover-text: "white",
    hover-background:  "blue-50",
  ),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);

.jcc-sub-nav {
  @include u-border-bottom(solid, map-get($_config, bottom-border));
  border-bottom-width: 3px;
}

.jcc-sub-nav__container {
  @include at-media(tablet) {
    @include grid-container(widescreen);
    @include u-display(flex);
  }
}

.jcc-sub-nav__label {
  @include at-media-max(tablet) {
    @include sr-only();
  }

  @include at-media(tablet) {
    @include u-margin-top(1.5);
    @include u-margin-bottom(1.5);
    @include u-padding-top(0.5);
    @include u-padding-right(4);
    @include u-border-right(1px, solid, map-get($_config, item-border));
    @include u-text(uppercase);
    flex-shrink: 0;
    font-size: 15px;
    letter-spacing: 0.75px;
  }
}

.jcc-sub-nav__items {
  @include list-reset();

  @include at-media(tablet) {
    @include grid-row();
  }
}

.jcc-sub-nav__item {
  @include u-position(relative);

  @include at-media-max(tablet) {
    @include u-border-bottom(solid, map-get($_config, bottom-border));
    border-bottom-width: 3px;
  }

  @include at-media(tablet) {
    @include u-padding-right(1px);

    &::after {
      @include u-display(inline-block);
      @include u-position(absolute);
      @include u-width(1px);
      @include u-top(1.5);
      @include u-right(0);
      @include u-border-right(1px, solid, map-get($_config, item-border));
      height: 31px;
      content: "";
    }

    &:last-child {
      &::after {
        @include u-display(none);
      }
    }
  }

  a {
    @include u-display(flex);
    @include u-align-items(align-center);
    @include u-padding-x(3);
    @include u-font-size(body, map-get($_config, text-size));
    @include u-color(map-get($_config, text));
    @include u-text-decoration(no-underline);
    height: 40px;
    letter-spacing: 0.17px;

    @include at-media(tablet) {
      height: 52px;
    }

    &.back-link {
      @include u-bg(map-get($_config, back-link-background));
      @include u-color(map-get($_config, back-link-text));

      @include at-media(tablet) {
        @include u-justify-content(justify-end);
      }

      span {
        @include u-order(2);
      }

      svg {
        @include u-order(1);
      }
    }

    &:hover {
      @include u-bg(map-get($_config, hover-background));
      @include u-color(map-get($_config, hover-text));
    }

    &.usa-current {
      @include u-bg(map-get($_config, current-background));
      @include u-color(map-get($_config, current-text));
    }
  }

  svg {
    @include u-margin-right(0.5);
  }
}

.jcc-sub-nav--sidenav {
  @include u-border-bottom(0);

  .jcc-sub-nav__container {
    @include u-maxw(mobile);
    @include u-minw(15);
    @include u-padding(0);
  }

  .jcc-sub-nav__label {
    @include u-display(none);
  }

  .jcc-sub-nav__items {
    @include u-display(block);
    @include u-width(full);
  }

  .jcc-sub-nav__item {
    &:not(:last-child) {
      @include u-border-bottom(1px, gray-10);
    }

    &:after {
      @include u-border(0);
    }

    a {
      @include u-height(auto);
      @include u-padding-x(1);
      @include u-padding-y(2);
    }
  }

  .jcc-sub-nav--children {
    @include u-border-left(1px, blue-30);
    @include u-margin-left(1);
    @include u-margin-bottom(4);
    @include u-padding-left(2);

    .jcc-sub-nav__item {
      @include u-border(0);

      a {
        @include u-padding-y(0.5);
      }
    }
  }
}
