.jcc-basesidenav {
  border-bottom: 0;
  .jcc-haschildren {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
  }
  .usa-basesidenav__item,
  .usa-sidenav__item{
     border-top: 1px solid color($theme-color-base-light);
    list-style:none;
  }
  a{
    color: color($theme-color-base-ink);
    &.usa-current{
      font-weight: normal;
      &:after {
        top: 0;
        bottom: 0;
        border-radius: 0;
      }
    }
  }
  .usa-basesidenav_sublist{
    padding-left: 0;
    &.menu-level-1{
      background-color: color("gray-2");
      & > li > a {
        padding-left: 2rem;
      }
    }
    .menu-level-2{
      background-color: color("gray-4");
      & > li > a {
        padding-left: 3rem;
      }
    }
    .menu-level-3{
      background-color: color("gray-5");
      & > li > a {
        padding-left: 4rem;
      }
    }
    .menu-level-4{
      background-color: color("gray-10");
      & > li > a {
        padding-left: 5rem;
      }
    }
    a.usa-current:after {
      display: none !important
    }
  }
}
.base-side-nav-variant-tint{
  .jcc-basesidenav {
    .usa-basesidenav_sublist{
      .menu-level-1{
        background-color: color('gray-4');
      }
      .menu-level-2{
        background-color: color($theme-color-primary-lighter);
      }
      .menu-level-3{
        background-color: color('blue-10');
      }
    }
  }
}
.base-side-nav-variant-primary-tint{
  .jcc-basesidenav {
    background-color: color($theme-color-primary-lighter);

    .icon {
      fill: #ffffff;
    }
    a {
      color: color($theme-color-base-ink);
      &.usa-current {
        color: color($theme-color-primary);
      }
    }
    .usa-basesidenav_sublist{
      a {
        color: #ffffff;
        &.usa-current{
          color: color($theme-color-accent-warm-light);
          &:after {
            background-color: color($theme-color-accent-warm-light);
          }
        }
        &:hover {
          background-color: color($theme-color-base-ink);
        }
      }

      &.menu-level-1{
        background-color: color($theme-color-primary-vivid);
      }
      .menu-level-2{
        background-color: color($theme-color-primary);
      }
      .menu-level-3{
        background-color: color($theme-color-primary-dark);
      }
      .menu-level-4{
        background-color: color($theme-color-primary-darker);
      }
    }
  }
}
.base-side-nav-variant-dark{
  .jcc-basesidenav {
    background-color: color($theme-color-base-darkest);
    .icon {
      fill: #ffffff;
    }
    a {
      color: #ffffff;
      &.usa-current{
        color: color($theme-color-accent-warm-light);
        &:after {
          background-color: color($theme-color-accent-warm-light);
        }
      }
      &:hover {
        background-color: color($theme-color-base-ink);
      }
    }
    .usa-basesidenav_sublist{
      &.menu-level-1{
        background-color: color($theme-color-primary-darker);
      }
      .menu-level-2{
        background-color: color($theme-color-primary-dark);
      }
      .menu-level-3{
        background-color: color($theme-color-primary-vivid);
      }
      .menu-level-4{
        background-color: color($theme-color-primary);
      }
    }
  }
}
