<nav class="jcc-breadcrumbs-nav">
  <ul class="jcc-breadcrumbs">
    {% for breadcrumb in breadcrumbs %}
    {% set url_attributes = url_attributes ? url_attributes : create_attribute() %}
    <li class="jcc-breadcrumb__item">
      
      {% if breadcrumb.url %}
      <a href="{{ breadcrumb.url }}"{% if breadcrumb.url_attributes %}{{ url_attributes }}{% endif %}>{{ breadcrumb.name }}</a>
      {% else %}
      <span>{{ breadcrumb.name }}</span>
      {% endif %}

    </li>
    {% endfor %}
  </ul>
</nav>
