{# {% set url_attributes = url_attributes ? url_attributes : create_attribute() %}
 #}
{% if url %}
<nav>
  <ul class="jcc-breadcrumbs">
    {% for crumb in crumbs %}
    <li class="jcc-breadcrumb__item">
      <a href="{{ url }}"{{ url_attributes }}>{{ label }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}