<nav>
  <h3>{{ title }}</h3>
  <ul class="usa-sidenav">
    <li class="usa-sidenav__item">
      <a href="">Scroll link</a>
    </li>
    <li class="usa-sidenav__item">
      <a href="">Scroll link</a>
    </li>
    <li class="usa-sidenav__item">
      <a href="">Scroll link</a>
    </li>
    <li class="usa-sidenav__item">
      <a href="">Scroll link</a>
    </li>
  </ul>
</nav>
