<div class="jcc-find-courts-search-group">
  <div class="jcc-find-courts-search-group__container">
    <label class="usa-label" for="input-type-text">{{ find_courts_search_group.label }}</label>
    <input class="usa-input {% if find_courts_search_group.error %}usa-input--error{% endif %}" id="input-type-text" name="input-type-text" type="text">
    {% include '@atoms/buttons/button.twig' with {
      button: {
        text: find_courts_search_group.button.text
      }
    } %}
    {% if find_courts_search_group.error %}
      <span class="usa-error-message">{{ find_courts_search_group.error }}</span>
    {% endif %}
    {% if find_courts_search_group.helper %}
      <span class="jcc-find-courts-search-group__helper">{{ find_courts_search_group.helper }}</span>
    {% endif %}
  </div>
</div>
