.jcc-datefinder {
  @include u-padding-y(3);
  @include u-padding-x(4);
  @include card-border();

  @include at-media(desktop) {
    @include u-measure(2);
  }

  .usa-label {
    @include u-margin-top(0);
  }
}

.jcc-datefinder__title {
  @include responsive-h4($responsive-font-family: heading);
}

.jcc-datefinder__content {
  @include u-position(relative);
}

.jcc-datefinder__form {
}

.jcc-datefinder__label {
  @include u-display(block);
  @include u-margin-y(1);
}

.jcc-datefinder__input {
  @include u-display(block);
  @include u-width(full);
  @include u-padding(1);
}

.jcc-datefinder__icon {
  // Temp styles
  @include u-color(primary-vivid);
  @include u-text(bold);
  @include u-position(absolute);
  @include u-right(1);
  @include u-display(inline-block);
  @include u-padding-y(05);
  @include u-padding-x(1);
  @include u-color(primary-light);
  pointer-events: none;
  font-size: 1.5rem;

  &:before {
    @include u-bg(accent-warm-light);
    content: "";
    display: block;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    left: 0.75rem;
    top: 0.75rem;
    position: absolute;
  }

  svg {
    z-index: 2;
    position: relative;
  }
}

.jcc-datefinder__adjacent-dates {
  @include u-padding-top(1);
}

.jcc-datefinder__date {
  @include u-font(body, lg);
  @include u-margin-y(1);
}

.jcc-datefinder__form,
.jcc-datefinder__adjacent-dates {
  @include u-margin-bottom(2);
}
