.jcc-datefinder {
  @include u-padding-y(3);
  @include u-padding-x(4);
  @include card-border();

  @include at-media("desktop") {
    @include u-measure(2);
  }

  .usa-label {
    @include u-margin-top(0);
  }
}

.jcc-datefinder__title {
  @include responsive-h4($responsive-font-family: "heading");
}

.jcc-datefinder__content {
  position: relative;
}

.jcc-datefinder__form {
}

.jcc-datefinder__label {
  display: block;
  @include u-margin-y(1);
}

.jcc-datefinder__input {
  display: block;
  @include u-width(full);
  @include u-padding(1);
}

.jcc-datefinder__icon {
  // Temp styles
  pointer-events: none;
  position: absolute;
  right: 8px;
  color: blue;
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-block;
  padding: 4px 8px;
  @include u-color(primary-light);

  &:before {
    @include u-bg("gold-5v");
    content: "";
    display: block;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    left: 0.75rem;
    top: 0.75rem;
    position: absolute;
  }

  svg {
    z-index: 2;
    position: relative;
  }
}

.jcc-datefinder__adjacent-dates {
  @include u-padding-top(1);
}

.jcc-datefinder__date {
  @include u-font("body", "lg");
  @include u-margin-y(1);
}

.jcc-datefinder__form,
.jcc-datefinder__adjacent-dates {
  @include u-margin-bottom(2);
}
