@import "../../../protons/global";
@import "../../node_modules/slicknav/scss/slicknav.scss";

.slicknav_menu {
  display: block;
}

.slicknav_menu.slicknav_menu--desktop {
  display: none;
}

@include at-media("desktop") {
  .slicknav_menu {
    display: none;
  }

  .slicknav_menu.slicknav_menu--desktop {
    display: block;
  }
}
