{#
/**
 * Available variables:
 * - locations - primary variable
 *   - items_pre_rendered: true
 *   - items: array of location items
 *   - classes: array of classes to add to component
 */
#}

{% set classes = [
  'jcc-locations',
]|merge(locations.classes|default([])) %}

{% set content %}
  <ul class="{{ classes|join(' ')|trim }}">
    {% for item in locations.items %}
      <li class="jcc-locations__item">
        {% if locations.items_pre_rendered %}
          {{ item }}
        {% else %}
          {% include "@molecules/location/location.twig" with {
            location: item
          } %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endset %}

{% include "@molecules/section/section.twig" with {
  section: {
    content: content,
  }
} %}
