<header class="jcc-trial-header">
  <div class="jcc-trial-header__container">
    <div class="desktop">

      {% include '@molecules/navigation/header-topbar/header-topbar.twig' with {
        header_topbar: header_trial.header_topbar
      } %}
      {% include '@molecules/navigation/primary-nav/primary-nav.twig' with {
        primary_nav: header_trial.primary_nav
      } %}
    </div>
  </div>

  <div class="mobile">
    <div class="jcc--header__mobile-container">
      <div class="jcc-header__logo">
        {% include '@atoms/icons/logo.twig' with {
          logo : header_trial.mobile.logo
        } %}
      </div>
      {# BEGIN search function #}
      <div class="buttons slicknav">
        <a id="search" tabindex="0" role="button" aria-label="Global site search. Open or close field by using ENTER key now." aria-haspopup="true" class="mobile_button search">
          {% include '@atoms/icons/icon.twig' with {
            icon : header_trial.mobile.search
          } %}
        </a>
        <div id="show-search" class="show-button">
          <form{{ attributes.addClass('usa-form', 'jcc-form')}} action="{{ header_trial.header_topbar.search.form_action|default('/search') }}">
            {% include '@atoms/forms/search-input.twig' with {
              search_input: header_trial.header_topbar.search.search_input
            }%}
          </form>
        </div>
        {# END #}

        {# BEGIN translate options #}
        {% if not header_trial.header_topbar.hide_translation == 1 %}
          <a id="translate" tabindex="0" role="button" aria-label="Change language selection. Open or close menu by using ENTER key now." aria-haspopup="true" class="mobile_button translate">
            {% include '@atoms/icons/icon.twig' with {
              icon : header_trial.mobile.globe
            } %}
          </a>
          <div id="show-translate" class="show-button">
            {% include '@atoms/forms/dropbutton.twig' with {
              dropbutton: header_trial.header_topbar.dropbutton
            } %}
          </div>
        {% endif %}
        {# END #}

        <span id="mobile-menu" class="mobile_button jcc-primary-nav">
          <span id="js-header-trial_menu--mobile" class="usa-accordion"></span>
        </span>
      </div>
    </div>
  </div>
</header>
