.jcc-list-section {
  @include u-margin(0);
  @include u-padding(2);

  nav {
    @include u-margin-y(0);
    @include u-margin-x(auto);
    @include u-maxw(desktop);
    @include u-padding-y(0);
    @include u-padding-x(2);

    ul {
      list-style: none;
      @include u-padding-left(0);

      a {
        @include u-display(block);
        @include u-padding-y(1);
        @include u-padding-x(0);
      }
    }

    > ul {
      list-style: none;
      @include u-padding-left(0);
      flex-wrap: wrap;
      @include u-display(flex);
      @include u-justify-content(justify-start);
      @include u-flex-direction(column);

      > li {
        flex: 1 0 auto;
        @include u-width(full);
        @include u-border-top(1);
        @include u-border-top("solid");
        @include u-border-top($theme-color-accent-cool-dark);

        > a {
          @include u-display(block);
          @include u-padding-y(1);
          @include u-padding-x(0);
          text-transform: uppercase;
          @include u-font-weight(bold);
          @include u-text-decoration(no-strike);
          color: $theme-color-base-darkest;
        }

        > ul {
          > li {
            > ul {
              > li {
                @include u-padding-left(3);
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 32rem) {
    nav {
      > ul {
        @include u-flex-direction(row);

        > li {
          max-width: 44%;
          @include u-margin-top(0);
          @include u-margin-bottom(4);
          @include u-margin-x(1);
        }
      }
    }
  }

  @media screen and (min-width: 64rem) {
    nav {
      > ul {
        flex-direction: row;

        > li {
          max-width: 27%;
          @include u-margin-top(0);
          @include u-margin-bottom(4);
          @include u-margin-x(1);
        }
      }
    }
  }
}
