{% set attributes = create_attribute() %}
{% set classes = [
    'jcc-list-section',
    list_section.lowercase_titles ? 'jcc-list-section--lowercase-titles'
]|merge(list_section.classes|default([''])) %}

<div{{ attributes.addClass(classes) }}>
    {% set contextual = list_section.menu.contextual_links ? 'contextual-region' : '' %}
    <nav class="{{ contextual }}">
        {{ list_section.menu.contextual_links }}
        {% include '@molecules/navigation/menu-links/menu-links.twig' with {
            menu: list_section.menu
        } %}
    </nav>
</div>
