.jcc-feedback {
  &[visible] {
    opacity: 1;
  }

  &[open] {
    @include u-border(1px, base-light);
    @include u-bg("white");
    min-width: 0;
    max-width: 100%;
  }

  .jcc-feedback__dialog {
    @include u-position("absolute");
    border: 0;
    height: 0;
    left: auto;
    overflow: hidden;
    visibility: hidden;
    padding: 0;

    &[open] {
      @include u-display("inline-block");
      @include u-width("full");
      @include at-media("tablet-lg") {
        @include u-position("relative");
        @include u-width("mobile-lg");
      }
      height: calc(100vh - 2vmax);
      overflow: visible;
      visibility: visible;
    }

    .icon-close {
      @include u-height(4);
      @include u-width(4);
      @include u-color("white");
    }

    [data-feedback^="trigger"] {
      appearance: none;
      border: 0;
    }

    .js-webform-webform-buttons label {
      margin: 0 10px 30px 0;
    }

    textarea,
    input {
      margin-bottom: 20px;
    }
  }

  .jcc-feedback__dialog-header {
    @include u-position("relative");
    @include u-minh(8);
    @include u-padding(2);
    @include dark-background();
  }

  .jcc-feedback__dialog-body {
    @include u-padding(3);
  }

  .jcc-feedback__dialog-close {
    @include u-position("absolute");
    @include u-top(1);
    @include u-right(1);
  }

  .jcc-feedback__trigger-container {
    @include u-width("auto");

    button {
      width: inherit;
      margin-right: 0;
      padding-left: 24px;
      padding-right: 15px;
    }
  }

  .icon-expand_more {
    height: 2rem;
    vertical-align: middle;
    width: 2rem;
  }
}
