.jcc-feedback {
  &[visible] {
    opacity: 1;
  }

  &[open] {
    @include u-border(1px, base-light);
    @include u-bg("white");
    @include u-padding(3);
    @include u-radius(lg);
    min-width: 0;
    max-width: 100%;

    .jcc-feedback__trigger-container {
      display: none;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  }

  dialog {
    border: 0;
    display: block;
    height: 0;
    left: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    visibility: hidden;

    &[open] {
      height: auto;
      overflow: visible;
      visibility: visible;
    }

    [data-feedback^="trigger"] {
      appearance: none;
      border: 0;
      text-align: right;

      .icon-close {
        color: #0d7ea2;
        height: 2em;
        width: 2em;
      }
    }

    .js-webform-webform-buttons label {
      margin: 0 10px 30px 0;
    }

    textarea,
    input {
      margin-bottom: 20px;
    }
  }

  .jcc-feedback__dialog-footer {
    text-align: right;
  }

  .jcc-feedback__trigger-container {
    text-align: right;

    button {
      width: inherit;
      margin-right: 0;
      padding-left: 24px;
      padding-right: 15px;
    }
  }

  .icon-expand_more {
    height: 2rem;
    vertical-align: middle;
    width: 2rem;
  }
}
