<div class="usa-prose">
  <blockquote>
    <p>default: Dictumst facilisi urna quisque vulputate integer nulla, gravida metus inceptos donec nisi orci nam, accumsan hendrerit consectetur nisl odio.</p>
  </blockquote>

  <blockquote class="blockquote--alert--warning">
    <h3>alert: Dictumst facilisi urna quisque vulputate integer nulla, gravida metus inceptos donec nisi orci nam, accumsan hendrerit consectetur nisl odio.</h3>
  </blockquote>

  <blockquote class="blockquote--alert--error">
    <h3>alert: Dictumst facilisi urna quisque vulputate integer nulla, gravida metus inceptos donec nisi orci nam, accumsan hendrerit consectetur nisl odio.</h3>
  </blockquote>

  <blockquote class="blockquote--alert--success">
    <h3>alert: Dictumst facilisi urna quisque vulputate integer nulla, gravida metus inceptos donec nisi orci nam, accumsan hendrerit consectetur nisl odio.</h3>
  </blockquote>

  <blockquote class="blockquote--alert--info">
    <h3>alert: Dictumst facilisi urna quisque vulputate integer nulla, gravida metus inceptos donec nisi orci nam, accumsan hendrerit consectetur nisl odio.</h3>
  </blockquote>

  <blockquote class="blockquote--callout">
    <h3>callout: Dictumst facilisi urna quisque vulputate integer nulla, gravida metus inceptos donec nisi orci nam, accumsan hendrerit consectetur nisl odio.</h3>
  </blockquote>

  <blockquote class="blockquote--italic">
    <h3>italic: Dictumst facilisi urna quisque vulputate integer nulla, gravida metus inceptos donec nisi orci nam, accumsan hendrerit consectetur nisl odio.</h3>
  </blockquote>

  <blockquote class="blockquote--box">
    <h3>EXAMPLE box</h3>
    <p>Dictumst facilisi urna quisque vulputate integer nulla, gravida metus inceptos donec nisi orci nam, accumsan hendrerit consectetur nisl odio.</p>
  </blockquote>
</div>
