$_config_schemes: (
  base: (
    default: primary,
    default-hover: primary-dark,
    default-active: primary-darker,
    secondary: secondary,
    secondary-hover: secondary-dark,
    secondary-active: secondary-darker,
    external: secondary,
    external-hover: secondary-dark,
    external-active: secondary-darker,
    inverse: secondary,
    inverse-hover: secondary-dark,
    inverse-active: secondary-darker,
    cta-text: primary,
    cta-text-hover: primary-vivid,
    cta-text-active: primary-dark,
    cta-icon: secondary,
    cta-icon-hover: secondary-light,
    cta-icon-active: secondary-dark,
    inline-icon: primary,
  ),
  local: (),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);

%jcc-button {
  // Using @extend here adds a lot of unexpected css due to other
  // USWDS touching `.usa-button` in one form or another.
  // Specifically, the USWDS `nav-list` mixin uses `a:not(.usa-button)`.
  // @extend .usa-button;

  @include border-box-sizing;
  @include u-display(inline-block);
  @include u-width(full);
  @include u-margin-right(1);
  @include u-padding-y(2);
  @include u-padding-x(4);
  @include u-border-width(0);
  @include u-radius($theme-button-border-radius);
  @include typeset($theme-button-font-family, null, 1);
  @include u-font-weight(normal);
  @include u-font-size(ui, xs);
  @include u-line-height(ui, 2);
  @include u-text-align(center);
  @include u-text-decoration(no-underline);
  @include u-cursor(pointer);
  letter-spacing: 0.17px;
  appearance: none;

  @include at-media(mobile-lg) {
    @include u-width(auto);
  }

  &:not([disabled]):focus,
  &:not([disabled]).usa-focus {
    outline-offset: units(0.5);
  }

  &:hover,
  &.jcc-button--hover {
    border-bottom: 0;
    text-decoration: none;
  }

  &:disabled {
    @include button-disabled;
  }
}

%jcc-button-unstyled {
  @include button-unstyled;
  @include u-padding(0);
  @include link-colors((
    default: $theme-link-color,
    hover: $theme-link-hover-color,
    active: $theme-link-active-color,
  ));
  @include u-bg("transparent");
}

%jcc-button-external {
  &,
  &:visited {
    @include u-display(inline-flex);
    @include u-justify-content(justify-center);
    @include u-align-items(align-center);
    @include u-position(relative);
    @include u-padding-y(1.5);
    @include u-radius(pill);
    @include u-font(sans, xs);
    @include set-text-and-bg(map-get($_config, external), $context: $button-context);
    font-weight: font-weight(normal);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &:hover,
  &.jcc-button--hover {
    @include set-text-and-bg(map-get($_config, external-hover), $context: $button-context);
  }

  &:active,
  &.jcc-button--active {
    @include set-text-and-bg(map-get($_config, external-active), $context: $button-context);
  }

  &::after {
    @include u-display(inline-block);
    @include u-position(relative);
    @include u-width(2);
    @include u-height(2);
    @include u-margin-left(1.5);
    @include u-top(-1px);
    flex-shrink: 0;
    content: "";
    mask-image: url("../icons/fa/external-link.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    @include u-bg("white");
  }

  svg.ext,
  svg.mailto,
  span[class^='fa'],
  span[class*='fa'] {
    display: none;
  }
}

%jcc-inline-icon-link {
  @include u-position(relative);
  @include u-margin-right(2px);

  &:focus {
    z-index: 1;
  }

  &::after {
    @include u-position(relative);
    @include u-display(inline-block);
    @include u-top(1px);
    @include u-margin-left(0.5);
    @include u-bg(map-get($_config, inline-icon));
    flex-shrink: 0;
    width: 17px;
    height: 17px;
    content: "";
    mask-size: contain;
    mask-repeat: no-repeat;
  }

  svg.ext,
  svg.mailto,
  span[class^='fa'],
  span[class*='fa'] {
    display: none;
  }
}

.jcc-button--primary {
  @extend %jcc-button;

  &,
  &:visited {
    @include set-text-and-bg(map-get($_config, default), $context: $button-context);
  }

  &:hover,
  &.jcc-button--hover {
    @include set-text-and-bg(map-get($_config, default-hover), $context: $button-context);
  }

  &:active,
  &.jcc-button--active {
    @include set-text-and-bg(map-get($_config, default-active), $context: $button-context);
  }

  &.jcc-button--unstyled {
    @extend %jcc-button-unstyled;
  }

  &:disabled {
    @include u-text(gray-70);
  }

  &.ext {
    @extend %jcc-button-external;
  }
}

.jcc-button--secondary {
  @extend %jcc-button;

  &,
  &:visited {
    @include set-text-and-bg(map-get($_config, secondary), $context: $button-context);
  }

  &:hover,
  &.jcc-button--hover {
    @include set-text-and-bg(map-get($_config, secondary-hover), $context: $button-context);
  }

  &:active,
  &.jcc-button--active {
    @include set-text-and-bg(map-get($_config, secondary-active), $context: $button-context);
  }

  &.jcc-button--unstyled {
    @extend %jcc-button-unstyled;
  }

  &:disabled {
    @include u-text(gray-70);
  }

  &.ext {
    @extend %jcc-button-external;
  }
}

.jcc-button--unstyled {
  @extend %jcc-button-unstyled;
}

.jcc-button--inverse {
  @extend %jcc-button;

  &,
  &:visited {
    @include set-text-and-bg("white", primary, $context: $button-context);
  }

  &:hover,
  &.jcc-button--hover {
    @include set-text-and-bg(accent-warm, $context: $button-context);
  }

  &:active,
  &.jcc-button--active {
    @include set-text-and-bg(accent-warm-dark, $context: $button-context);
  }

  &.jcc-button--unstyled {
    @extend %jcc-button-unstyled;
    @include link-colors((
      default: $theme-link-reverse-color,
      hover: $theme-link-reverse-hover-color,
      active: $theme-link-reverse-active-color,
    ));
  }

  &:disabled {
    @include u-text(gray-70);
  }

  &.ext {
    @extend %jcc-button-external;
  }
}

.usa-prose a.file:not(.jcc-button--primary):not(.jcc-button--cta-link),
.jcc-button--file-link,
a[data-entity-type="file"],
a[data-entity-type="media"] {
  @extend %jcc-inline-icon-link;

  &::after {
    mask-image: url("../icons/fa/file.svg");
  }
}

a.ext {
  svg.ext,
  span[class^='fa'],
  span[class*='fa'] {
    display: none;
  }
}

a.mailto {
  svg.mailto,
  span[class^='fa'],
  span[class*='fa'] {
    display: none;
  }
}

// This is a plain-text link
.usa-prose a.ext:not(.jcc-button--primary):not(.jcc-button--cta-link),
.jcc-button--external-link {
  @extend %jcc-inline-icon-link;

  &::after {
    mask-image: url("../icons/fa/external-link.svg");
  }
}

// This is a plain-text link
.usa-prose a.mailto:not(.jcc-button--primary):not(.jcc-button--cta-link),
.jcc-button--mailto-link {
  @extend %jcc-inline-icon-link;

  &::after {
    top: 3px;
    mask-image: url("../icons/fa/envelope.svg");
  }
}

a.jcc-button--cta-link {
  @extend %jcc-button;
  @include u-display(flex);
  @include u-flex(justify);
  @include u-align-items(align-center);
  @include u-margin-right(0);
  @include u-padding(0);
  @include u-bg("transparent");
  @include u-font-weight(normal);
  @include u-text(uppercase);
  @include u-text-align(left);
  font-size: font-size('sans', 7);
  letter-spacing: 1.8px;
  text-decoration: none;

  &,
  &:visited {
    @include u-color(map-get($_config, cta-text));
  }

  &:hover,
  &.jcc-button--hover {
    @include u-color(map-get($_config, cta-text-hover));
    text-decoration: none;

    &::after {
      @include u-bg(map-get($_config, cta-icon-hover));
    }
  }

  &:active,
  &.jcc-button--active {
    @include u-color(map-get($_config, cta-text-active));
    text-decoration: none;

    &::after {
      @include u-bg(map-get($_config, cta-icon-active));
    }
  }

  &::after {
    @include u-display(inline-block);
    @include u-width(2.5);
    @include u-height(2.5);
    @include u-margin-left(1.5);
    @include u-bg(map-get($_config, cta-icon));
    flex-shrink: 0;
    content: "";
    mask-image: url("../icons/fa/arrow-right.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
  }

  &.ext {
    &::after {
      @include u-position(relative);
      @include u-top(-1px);
      @include u-width(2.5);
      @include u-height(2.5);
      @include u-margin-left(1.5);
      mask-image: url("../icons/fa/external-link.svg");
    }
  }

  &.file {
    &::after {
      @include u-position(relative);
      @include u-width(2.5);
      @include u-height(2.5);
      @include u-top(-1px);
      mask-image: url("../icons/fa/file.svg");
    }
  }

  svg.ext,
  svg.mailto,
  span[class^='fa'],
  span[class*='fa'] {
    display: none;
  }
}
