$_config_schemes: (
  base: (
    default: "primary",
    default-hover: "primary-dark",
    default-active: "primary-darker",
    secondary: "secondary",
    secondary-hover: "secondary-dark",
    secondary-active: "secondary-darker",
    external: "secondary",
    external-hover: "secondary-dark",
    external-active: "secondary-darker",
    inverse: "secondary",
    inverse-hover: "secondary-dark",
    inverse-active: "secondary-darker",
  ),
  local: (),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);

.usa-button {
  &,
  &:visited {
    @include set-text-and-bg(map-get($_config, default), $context: $button-context);
    @include u-padding-y(2.5);
    @include u-padding-x(4);
    @include u-font-size(ui, xs);
    @include u-line-height(ui, 2);
    letter-spacing: 0.17px;
  }

  &:hover,
  &.usa-button--hover {
    @include set-text-and-bg(map-get($_config, default-hover), $context: $button-context);
  }

  &:active,
  &.usa-button--active {
    @include set-text-and-bg(map-get($_config, default-active), $context: $button-context);
  }

  &:disabled {
    @include u-text(gray-70);
  }
}

.usa-button--secondary {
  &,
  &:visited {
    @include set-text-and-bg(map-get($_config, secondary), $context: $button-context);
  }

  &:hover,
  &.usa-button--hover {
    @include set-text-and-bg(map-get($_config, secondary-hover), $context: $button-context);
  }

  &:active,
  &.usa-button--active {
    @include set-text-and-bg(map-get($_config, secondary-active), $context: $button-context);
  }
}

.usa-button.ext,
.usa-button--external {
  &,
  &:visited {
    @include u-position(relative);
    @include u-padding-right(7);
    @include u-radius(pill);
    @include u-font(sans, xs);
    @include set-text-and-bg(map-get($_config, external), $context: $button-context);
    font-weight: font-weight(normal);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    svg {
      @include u-position(absolute);
      @include u-top(1.5);
      @include u-width(3);
      @include u-height(3);
      @include u-margin-left(1);
      fill: color(get-color-token-from-bg(map-get($_config, external), $context: $button-context));
    }
  }

  &:hover,
  &.usa-button--hover {
    @include set-text-and-bg(map-get($_config, external-hover), $context: $button-context);

    svg {
      fill: color(
        get-color-token-from-bg(map-get($_config, external-hover), $context: $button-context)
      );
    }
  }

  &:active,
  &.usa-button--active {
    @include set-text-and-bg(map-get($_config, external-active), $context: $button-context);

    svg {
      fill: color(
        get-color-token-from-bg(map-get($_config, external-active), $context: $button-context)
      );
    }
  }

  &.usa-button--unstyled {
    @include button-unstyled;

    svg {
      @include u-position(relative);
      @include u-top(1px);
      fill: color($theme-link-color);
    }
  }
}

.usa-button--unstyled {
  @include button-unstyled;
  @include u-padding(0);
}

.usa-button--inverse {
  &,
  &:visited {
    @include set-text-and-bg("white", primary, $context: $button-context);
  }

  &:hover,
  &.usa-button--hover {
    @include set-text-and-bg(accent-warm, $context: $button-context);
  }

  &:active,
  &.usa-button--active {
    @include set-text-and-bg(accent-warm-dark, $context: $button-context);
  }

  &.usa-button--unstyled {
    background-color: transparent;
    @include u-color("white");
  }
}

.usa-button--cta-link {
  &,
  &:visited {
    @include button-unstyled;
    @include u-display(flex);
    @include u-flex(justify);
    @include u-padding(0);
    @include u-text(uppercase);
    @include u-font(sans, sm);
    letter-spacing: 1.8px;
    text-decoration: none;
  }

  &:hover,
  &.usa-button--hover {
    background-color: transparent;
    color: color($theme-link-hover-color);
    text-decoration: none;

    &:after {
      background-color: color($theme-link-hover-color);
    }
  }

  &:active,
  &.usa-button--active {
    background-color: transparent;
    color: color($theme-link-active-color);
    text-decoration: none;

    &:after {
      background-color: color($theme-link-active-color);
    }
  }

  &:after {
    @include u-display(inline-block);
    @include u-width(2.5);
    @include u-height(2.5);
    @include u-margin-left(1.5);
    flex-shrink: 0;
    transform: translateY(2px);
    content: "";
    mask-image: url("../icons/arrow-right.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: color($theme-link-color);
  }
}
