$_button_schemes: (
  base: (
    default: "primary",
    default-hover: "primary-dark",
    default-active: "primary-darker",
    external: "secondary",
    external-hover: "secondary-dark",
    external-active: "secondary-darker",
    inverse: "secondary",
    inverse-hover: "secondary-dark",
    inverse-active: "secondary-darker",
  ),
  local: (
  )
);

$_button: map-merge-by-keys($_button_schemes, base, $_button_schemes, $scheme);


.usa-button {
  @include set-text-and-bg(map-get($_button, default), $context: $button-context);
  @include u-padding-y(2);
  @include u-padding-x(3);
  @include u-line-height("body", 2);
  letter-spacing: 0.17px;

  &:hover,
  &.usa-button--hover {
    @include set-text-and-bg(map-get($_button, default-hover), $context: $button-context);
  }

  &:active,
  &.usa-button--active {
    @include set-text-and-bg(map-get($_button, default-active), $context: $button-context);
  }

  &:disabled {
    @include u-text(gray-70);
  }
}

.usa-button.ext,
.usa-button--external {
  @include u-position("relative");
  @include u-padding-right(7);
  @include u-radius("pill");
  @include u-font("sans", "md");
  @include set-text-and-bg(map-get($_button, external), $context: $button-context);
  font-weight: font-weight("normal");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  svg {
    @include u-position("absolute");
    @include u-top(1);
    @include u-width(3);
    @include u-height(3);
    @include u-margin-left(1);
    fill: color(get-color-token-from-bg(map-get($_button, external), $context: $button-context));
  }

  &:hover,
  &.usa-button--hover {
    @include set-text-and-bg(map-get($_button, external-hover), $context: $button-context);

    svg {
      fill: color(get-color-token-from-bg(map-get($_button, external-hover), $context: $button-context));
    }
  }

  &:active,
  &.usa-button--active {
    @include set-text-and-bg(map-get($_button, external-active), $context: $button-context);

    svg {
      fill: color(get-color-token-from-bg(map-get($_button, external-active), $context: $button-context));
    }
  }

  &.usa-button--unstyled {
    @include button-unstyled;

    svg {
      @include u-position("relative");
      @include u-top(1px);
      fill: color($theme-link-color);
    }
  }
}

.usa-button--inverse {
  @include set-text-and-bg("white", "primary", $context: $button-context);

  &:hover,
  &.usa-button--hover {
    @include set-text-and-bg("accent-warm", $context: $button-context);
  }

  &:active,
  &.usa-button--active {
    @include set-text-and-bg("accent-warm-dark", $context: $button-context);
  }
}

.usa-button--unstyled {
  @include button-unstyled;
  @include u-padding(0);
}

.usa-button--cta-link {
  @include button-unstyled;
  @include u-padding(0);
  @include u-text("uppercase");
  @include u-font("sans", "md");
  letter-spacing: 1.8px;
  text-decoration: none;

  &:hover,
  &.usa-button--hover {
    background-color: transparent;
    color: color($theme-link-hover-color);
    text-decoration: none;

    &:after {
      background-color: color($theme-link-hover-color);
    }
  }

  &:active,
  &.usa-button--active {
    background-color: transparent;
    color: color($theme-link-active-color);
    text-decoration: none;

    &:after {
      background-color: color($theme-link-active-color);
    }
  }

  &:after {
    @include u-display("inline-block");
    @include u-width(2.5);
    @include u-height(2.5);
    @include u-margin-left(1.5);
    transform: translateY(2px);
    content: "";
    mask-image: url("../images/graphics/arrow-right.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: color($theme-link-color);
  }
}
