<h5>Default</h5>
<div>
  {% include "button.twig" with {
    button: {
      type: "button",
      text: "Default",
    }
  } %}
  {% include "button.twig" with {
    button: {
      type: "button",
      text: "Hover",
      state: "hover",
    }
  } %}
  {% include "button.twig" with {
    button: {
      type: "button",
      text: "Active",
      state: "active",
    }
  } %}
  {% include "button.twig" with {
    button: {
      type: "button",
      text: "Focus",
      other: "usa-focus",
    }
  } %}
  {% include "button.twig" with {
    button: {
      type: "button",
      text: "Disabled",
      disabled: true,
    }
  } %}
  {% include "button.twig" with {
    button: {
      type: "button",
      text: "Unstyled button",
      style: "unstyled",
    }
  } %}
</div>

<h5>Secondary color</h5>
<div>
  <button class="usa-button usa-button--secondary">Default</button>
  <button class="usa-button usa-button--secondary usa-button--hover">Hover</button>
  <button class="usa-button usa-button--secondary usa-button--active">Active</button>
  <button class="usa-button usa-button--secondary usa-focus">Focus</button>
  <button class="usa-button usa-button--secondary" disabled>Disabled</button>
  <button class="usa-button usa-button--secondary usa-button--unstyled">Unstyled button</button>
</div>

<h5>Default inverse</h5>
<div class="jcc-background--dark padding-2" style="max-width: fit-content">
  <button class="usa-button usa-button--inverse">Default</button>
  <button class="usa-button usa-button--inverse usa-button--hover">Hover</button>
  <button class="usa-button usa-button--inverse usa-button--active">Active</button>
  <button class="usa-button usa-button--inverse usa-focus">Focus</button>
  <button class="usa-button usa-button--inverse" disabled>Disabled</button>
  <button class="usa-button usa-button--inverse usa-button--unstyled">Unstyled button</button>
</div>

<h5>Default (link)</h5>
<div>
  <a href="#" class="usa-button">Default</a>
  <a href="#" class="usa-button usa-button--hover">Hover</a>
  <a href="#" class="usa-button usa-button--active">Active</a>
  <a href="#" class="usa-button usa-focus">Focus</a>
  {# <a> links don't really "disable" #}
  {# <a href="#" class="usa-button" disabled>Disabled</a> #}
  <a href="#" class="usa-button usa-button--unstyled">Unstyled button</a>
</div>

<h5>External (link)</h5>
<div>
  {% include "button.twig" with {
    button: {
      type: "external",
      text: "Default",
    }
  } %}
  {% include "button.twig" with {
    button: {
      type: "external",
      text: "Hover",
      state: "hover",
    }
  } %}
  {% include "button.twig" with {
    button: {
      type: "external",
      text: "Active",
      state: "active",
    }
  } %}
  {% include "button.twig" with {
    button: {
      type: "external",
      text: "Focus",
      other: "usa-focus",
    }
  } %}
  {# <a> links don't really "disable" #}
  {# {% include "button.twig" with {
    button: {
      type: "external",
      text: "Disabled",
      disabled: true,
    }
  } %} #}
  {% include "button.twig" with {
    button: {
      type: "external",
      text: "Unstyled button",
      style: "unstyled",
    }
  } %}
</div>

<h5>CTA (link)</h5>
<div>
  <a href="#" class="usa-button usa-button--cta-link">Default</a>
  <a href="#" class="usa-button usa-button--cta-link usa-button--hover">Hover</a>
  <a href="#" class="usa-button usa-button--cta-link usa-button--active">Active</a>
  <a href="#" class="usa-button usa-button--cta-link usa-focus">Focus</a>
  {# <a> links don't really "disable" #}
  {# <a href="#" class="usa-button usa-button--cta-link" disabled>Disabled</a> #}
  {# Unstyled is kind of irrelevant #}
  {# <a href="#" class="usa-button usa-button--cta-link usa-button--unstyled">Unstyled button</a> #}
</div>
