/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS 2.12.0
----------------------------------------
COLOR SETTINGS
----------------------------------------
Read more about settings and
USWDS color tokens in the documentation:
https://designsystem.digital.gov/design-tokens/color
----------------------------------------
*/

$test-system-color-tokens: false;

/*
----------------------------------------
Theme palette colors
----------------------------------------
*/

// Base colors
// https://designsystem.digital.gov/design-tokens/color/system-tokens/#gray
$theme-color-base-family: "gray";
$theme-color-base-lightest: "gray-2";
$theme-color-base-lighter: "gray-4";
$theme-color-base-light: "gray-20";
$theme-color-base: "gray-40";
$theme-color-base-dark: "gray-60";
$theme-color-base-darker: "gray-70";
$theme-color-base-darkest: "gray-80";
$theme-color-base-ink: "gray-90";

// Primary colors
// https://designsystem.digital.gov/design-tokens/color/system-tokens/#blue
$theme-color-primary-family: "blue";
$theme-color-primary-lightest: false;
$theme-color-primary-lighter: "blue-5";
$theme-color-primary-light: "blue-30";
$theme-color-primary: "blue-60v";
$theme-color-primary-vivid: "blue-50";
$theme-color-primary-dark: "blue-70v";
$theme-color-primary-darker: "blue-80";
$theme-color-primary-darkest: false;

// Secondary colors
// https://designsystem.digital.gov/design-tokens/color/system-tokens/#cyan
$theme-color-secondary-family: "cyan";
$theme-color-secondary-lightest: false;
$theme-color-secondary-lighter: "blue-cool-5";
$theme-color-secondary-light: "cyan-40";
$theme-color-secondary: "cyan-50";
$theme-color-secondary-vivid: false;
$theme-color-secondary-dark: "cyan-60";
$theme-color-secondary-darker: "cyan-70";
$theme-color-secondary-darkest: false;

// Accent warm colors
// https://designsystem.digital.gov/design-tokens/color/system-tokens/#gold-vivid
$theme-color-accent-warm-family: "gold vivid";
$theme-color-accent-warm-lightest: false;
$theme-color-accent-warm-lighter: false;
$theme-color-accent-warm-light: "gold-5v";
$theme-color-accent-warm: "gold-20v";
$theme-color-accent-warm-dark: "gold-30v";
$theme-color-accent-warm-darker: "gold-40v";
$theme-color-accent-warm-darkest: false;

// Accent cool colors
// https://designsystem.digital.gov/design-tokens/color/system-tokens/#blue-cool
$theme-color-accent-cool-family: "blue-cool";
$theme-color-accent-cool-lightest: false;
$theme-color-accent-cool-lighter: "blue-cool-5v";
$theme-color-accent-cool-light: "blue-cool-20v";
$theme-color-accent-cool: "cyan-30v";
$theme-color-accent-cool-dark: "blue-cool-40v";
$theme-color-accent-cool-darker: "blue-cool-60v";
$theme-color-accent-cool-darkest: false;

/*
----------------------------------------
State palette colors
----------------------------------------
*/

// Error colors
// https://designsystem.digital.gov/design-tokens/color/system-tokens/#red-vivid
$theme-color-error-family: "red-vivid";
$theme-color-error-lighter: "red-10v";
$theme-color-error-light: "red-20v";
$theme-color-error: "red-40v";
$theme-color-error-dark: "red-60v";
$theme-color-error-darker: "red-70v";

// Warning colors
// https://designsystem.digital.gov/design-tokens/color/system-tokens/#yellow
$theme-color-warning-family: "yellow";
$theme-color-warning-lighter: "yellow-5";
$theme-color-warning-light: "yellow-10v";
$theme-color-warning: "yellow-20v";
$theme-color-warning-dark: false;
$theme-color-warning-darker: "yellow-40";

// Success colors
// https://designsystem.digital.gov/design-tokens/color/system-tokens/#green-cool-vivid
$theme-color-success-family: "green-cool-vivid";
$theme-color-success-lighter: "green-cool-5v";
$theme-color-success-light: "green-cool-10v";
$theme-color-success: "green-cool-30v";
$theme-color-success-dark: "green-cool-40v";
$theme-color-success-darker: "green-cool-50v";

// Info colors
// https://designsystem.digital.gov/design-tokens/color/system-tokens/#blue-cool-vivid
$theme-color-info-family: "blue-cool-vivid";
$theme-color-info-lighter: "blue-cool-5v";
$theme-color-info-light: "blue-cool-20v";
$theme-color-info: "blue-cool-30v";
$theme-color-info-dark: "blue-cool-40v";
$theme-color-info-darker: false;

// Disabled colors
// https://designsystem.digital.gov/design-tokens/color/system-tokens/#gray
$theme-color-disabled-family: "gray";
$theme-color-disabled-light: "gray-10";
$theme-color-disabled: "gray-20";
$theme-color-disabled-dark: "gray-30";

// Emergency colors
// https://designsystem.digital.gov/design-tokens/color/system-tokens/#red-warm
$theme-color-emergency: "red-warm-60v";
$theme-color-emergency-dark: "red-warm-80";

/*
----------------------------------------
General colors
----------------------------------------
*/

// Body
$theme-body-background-color: "white";

// Text
$theme-text-color: "ink";
$theme-text-reverse-color: "white";

// Links
$theme-link-color: "secondary";
$theme-link-visited-color: "secondary";
$theme-link-hover-color: "secondary-dark";
$theme-link-active-color: "secondary-darker";
$theme-link-reverse-color: "white";
$theme-link-reverse-hover-color: "white";
$theme-link-reverse-active-color: "white";
