<div class="jcc-text-section jcc-text-section--{{ background_variant }}">
	<div class="jcc-text-section__container">
		{% include 'molecules-header-group' %}
		<div class="jcc-text-section__content jcc-text-section__content--{{ column_variant }}">
			<div class="jcc-text-section__column-left">
				{{ column_content_left|raw }}
			</div>
			<div class="jcc-text-section__column-right">
				{{ column_content_right|raw }}
			</div>
		</div>
	</div>
</div>
