@import "../../../00-protons/global";

.jcc-jump-nav {
  @include u-bg("white");
  @include u-border(1px);
  @include u-border("base-light");
  @include u-radius("lg");
  @include u-shadow(3);

  .usa-sidenav {
    @include u-border-bottom(0);
  }

  .usa-sidenav__item {
    &:last-of-type {
      @include u-border-bottom(0);

      a {
        @include u-radius("lg");
      }
    }
  }
}

.jcc-jump-nav__title {
  @include u-text("ink");
  @include u-text("uppercase");
  @include u-text("ls-3");
  @include u-text("base-light");
  @include u-font("body", "2xs");
  @include u-margin-left(2);
}
