<footer class="jcc-footer">
  <div class="jcc-footer__container">
    <div class="jcc-footer__row">
      <div class="jcc-footer__menu">
        {% if patternlab %}
          {% include '@molecules/navigation/inline-nav/inline-nav.twig' %}
        {% else %}
          {{ content }}
        {% endif %}
      </div>
      <div class="jcc-footer__copyright">
        &#64;
        {{ "now"|date("Y") }}
        {{ footer.copyright_owner }}
      </div>
    </div>
  </div>
</footer>
