<footer class="jcc-footer">
    <div class="jcc-footer__container">
        {% include '@molecules/navigation/footer-nav/footer-nav.twig' %}
        <div class="jcc-footer__copyright grid-col-auto">
            {* @YYYY is dynamically updated via JavaScript ... @2020 Judicial Council of California *}
            {{ footer.copyright_owner }}
        </div>
    </div>
</footer>