$_config_schemes: (
  base: (
    icon: "primary",
  ),
  local: (),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);

.jcc-file-link {
  @include u-display(inline-flex);
  @include u-align-items(align-center);

  span {
    @include u-margin-right(1);
  }

  .icon {
    @include u-position(relative);
    @include u-top(1px);
    @include u-color(map-get($_config, icon));
  }
}

a[data-entity-type="media"] {
  @include u-position(relative);
  @include u-display(inline-flex);
  @include u-align-items(align-center);

  &::after {
    @include u-position(relative);
    @include u-display(inline-block);
    @include u-top(1px);
    @include u-margin-left(1);
    @include u-bg(map-get($_config, icon));
    flex-shrink: 0;
    width: 17px;
    height: 17px;
    content: "";
    mask-image: url("../icons/fa/file.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
  }
}
