{#
/**
 * Available variables:
 * - file_link - primary variable
 *   - text: the visible text on the link
 *   - url: the url of the link
 *   - classes: array of classes to add to component
 */
#}

{% set classes = [
  'jcc-file-link',
]|merge(file_link.classes|default([])) %}

<a class="{{ classes|join(' ')|trim }}" href="{{ file_link.url }}">
  <span>{{ file_link.text }}</span>
  {% include "@atoms/icon/icon.twig" with {
    icon: {
      name: "file",
      set: "fa",
      width: 15,
      height: 15,
    }
  } %}
</a>
