<!-- Example of how to use the a11y-toggle library from http://edenspiekermann.github.io/a11y-toggle/ -->
<button type="button" data-a11y-toggle="target">
  Click me to toggle some content!
</button>
<div id="target" style="padding: 20px; border: 1px solid gray;">
  Here is some toggle-able content.
</div>
