@import "../../../00-protons/global";
@import "../../node_modules/slicknav/scss/slicknav.scss";

.slicknav_menu {
  display: block;

  @include at-media("desktop") {
    display: none;
  }
}

.slicknav_menu.slicknav_menu--desktop {
  display: none;

  @include at-media("desktop") {
    display: block;
  }
}

.slicknav_nav {
  @include at-media("desktop") {
    display: flex;
  }
}

.slicknav_menu {
  @include u-bg("blue-80v");
}
