@import "../../node_modules/slicknav/scss/slicknav.scss";

.slicknav_menu {
  @include u-display('block');

  @include at-media("desktop") {
    @include u-display('none');
  }
}

.slicknav_menu.slicknav_menu--desktop {
  @include u-display('none');

  @include at-media("desktop") {
    @include u-display('block');
  }
}

.slicknav_nav {
  @include at-media("desktop") {
    @include u-display('flex');
  }
}

.slicknav_menu {
  @include u-bg("blue-80v");
}
