<div class="jcc-footer__menu tablet:grid-col">
  <ul class="jcc-footer__nav">
    {% for item in footer_nav.items %}
    <li class="jcc-footer_nav__item">
      <a href="{{ item.url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>