.jcc-filelist {
  @include u-padding-y(3);
  @include u-padding-x(6);
  @include u-border(1px, "primary-vivid");

  @include at-media("desktop") {
    @include u-measure(2);
  }
}

.jcc-filelist__title {
  @include responsive-h4($h-font-family: "heading");
}

.jcc-filelist__list {
  @include add-list-reset;
}

.jcc-filelist__item {
  @include u-padding-y(1);
}

.jcc-filelist__icon {
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
