.jcc-flowmap-step {
  @include u-width(full);

  @include at-media(desktop) {
    @include grid-col(3);

    > * {
      padding-right: 2rem;
    }
  }

  // remove line from last timeline item
  &:last-of-type {
    .jcc-flowmap-step__title {
      &:after {
        width: 0;
      }
    }
  }
}

.jcc-flowmap-step__title {
  position: relative;

  @include at-media(desktop) {
    @include timeline-line();
    @include timeline-dot();
  }
}