/**
 * This stylesheet is for styles you want to include only when the interface is being viewed within Pattern Lab.
 * This is helpful for displaying demo styles for grids, animations, color swatches, etc
 * It's also helpful for overriding context-specific styles like fixed or absolutely positioned elements
 * These styles will not be your production CSS.
 */

.patternLink {
  text-decoration: none;
  display: none;
}

.sg-pattern-category-title {
  font-size: 1.4rem !important;
  color: #222 !important;
  margin: 0 0 0.2rem;
  text-transform: capitalize;
}

.sg-pattern-category-title a {
  transition: color 0.1s ease-out;
}

#sg-patterns {
  box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 0.5em;
}

.sg-colors {
  display: flex;
  flex-wrap: wrap;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;

  li {
    flex: auto;
    padding: 0.3em;
    margin: 0 0.5em 0.5em 0;
    min-width: 5em;
    max-width: 14em;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
}

.sg-swatch {
  display: block;
  height: 4em;
  margin-bottom: 0.3em;
  border-radius: 5px;

  &::before {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: "N/A";
    text-align: center;
    z-index: -1;
  }
}

.sg-label {
  display: block;
  font-size: 90%;
  line-height: 1;
  text-align: center;
}

.sg-pattern-example {
  position: relative;
  overflow: hidden;

  .jcc-full-modal__backdrop,
  .jcc-full-modal__dialog::backdrop {
    display: none;
  }
}

h3.sg-pattern-title {
  font-size: 1.1rem !important;
}

.sg-h5 {
  font-size: 1rem !important;
  line-height: 1 !important;
  margin: 20px 0 10px 0 !important;
  padding: 0 !important;
  text-transform: capitalize !important;
}

.sg-h6 {
  font-size: 0.85rem !important;
  line-height: 1 !important;
  margin: 20px 0 10px 0 !important;
  padding: 0 !important;
  text-transform: capitalize !important;
}

.jcc-schemebar {
  width: 100%;
  display: table;
  padding: 5px 10px;
  box-shadow: 0px 7px 20px -11px rgba(0, 0, 0, 0.49);
  background-color: #323232;
  position: fixed;
  top: 0;
  z-index: 50;

  label {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 12px;
    color: #808080;
    text-transform: uppercase;
  }

  span {
    float: left;
    margin-right: 0.8em;
  }

  .jcc-schemebar__select {
    margin-top: -1px;

    select {
      margin: 0;
      background-color: transparent;
      border: 0;
      color: #808080;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

.jcc-all {
  margin-top: 36px;
}
