.usa-sidenav {
  .jcc-haschildren {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
  }

  .icon {
    float: right;
    position: relative;
    top: -2rem;
    right: 0.6rem;
  }

  .icon-alt {
    top: -1.7rem;
    right: 1.3rem;
  }

  .usa-sidenav__sublist {
    // indent level 5+
    & & & & a {
      padding-left: 5rem;
    }
  }
}
