$_config_schemes: (
  base: (
    aside-title: primary-dark,
    aside-dash-visibility: block,
    aside-title-margin-top: 0,
  ),
  local: (),
  pro: (
    aside-title: gray-warm-90,
    aside-dash-visibility: none,
    aside-title-margin-top: 1,
  ),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);

.jcc-body__content {
  @include at-media(desktop) {
    @include grid-row();
    @include grid-gap(4);
  }
}

.jcc-body__main {
  @include at-media(desktop) {
    @include grid-col(8);
  }

  .jcc-section-heading__lead,
  .jcc-body__main-text {
    @include u-measure(6);
    @include u-maxw(full);
  }

  .align-left {
    @include u-float(left);
    @include u-margin-right(3);
  }

  .align-right {
    @include u-float(right);
    @include u-margin-left(3);
  }

  &:only-child {
    @include at-media(desktop) {
      @include grid-col(12);
    }
  }
}

.jcc-body__main-text {
  @include u-padding-bottom(1);

  .jcc-section-heading__title {
    @include u-width(full);
    @include u-overflow(hidden);
  }
}

.jcc-body__aside {
  @include at-media(desktop) {
    @include grid-col(4);
  }

  .jcc-body__main + & {
    @include at-media-max(desktop) {
      @include u-margin-top(10);
    }
  }
}

.jcc-body__aside-bar {
  @include u-display($dash-color: map-get($_config, aside-dash-visibility));
  @include add-dash($dash-position: "above-center", $dash-width: 100%);
  @include u-padding-top(4);
  @include u-text-align(left);
}

.jcc-body__aside-title {
  @include u-margin-top(map-get($_config, aside-title-margin-top));
  @include u-margin-bottom(4);
  @include u-color(map-get($_config, aside-title));
  @include u-font-size(body, sm);
  @include u-text(uppercase);
  letter-spacing: 3.84615px;
}

.jcc-body__aside-text {
  @include u-color(base-dark);

  p {
    @include typeset(body, xs, 6);
    @include at-media(desktop) {
      @include u-font-size(body, sm);
    }
    @include u-margin-bottom(3);
    @include u-margin-top(2);
  }
  
  h4 {
    @extend .jcc-body__aside-title;
    @include u-margin-bottom(1);
  }

  ul li{
    @include u-margin-top(1);
  }
  
  h4 {
    @extend .jcc-body__aside-title;
  }
}

