$_config_schemes: (
  base: (
    brow-color: "base-darker",
    title-color: "primary",
    title-font-weight: "bold",
  ),
  local: (
    title-color: "primary-vivid",
    title-font-weight: "semibold",
  ),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);

.jcc-tile {
  @include u-position(relative);
  @include u-display(flex);
  @include u-flex(column);
  @include u-height(full);
  @include u-padding-x(3);
  @include u-padding-y(2.5);
  @include u-border(1px, base-light);
  @include u-radius(lg);
  @include u-bg("white");
  @include u-shadow(5);
  @include u-text-decoration(no-underline);
  transition: box-shadow 0.4s;
  cursor: pointer;

  &:active,
  &:hover {
    box-shadow: none;
  }
}

.jcc-tile__brow {
  @include u-margin-bottom(3);
  @include u-order(0);
  @include u-color(map-get($_config, brow-color));
  letter-spacing: 0.09px;
}

.jcc-tile__title {
  @include u-margin-bottom(4);
  @include u-order(1);
  @include u-font-size(heading, md);
  @include u-color(map-get($_config, title-color));
  @include u-font-weight(map-get($_config, title-font-weight));
  letter-spacing: 0.12px;
}
