{#
/**
 * Available variables:
 * - tile - primary variable
 *   - url: url of tile
 *   - title: main text
 *   - brow: text in upper left
 *   - classes: array of classes to add to component
 */
#}

{% set classes = [
  'jcc-tile',
]|merge(tile.classes|default([''])) %}

<a class="{{ classes|join(' ')|trim }}" href="{{ tile.url }}">
  {% if tile.title %}
    <h3 class="jcc-tile__title">{{ tile.title }}</h3>
  {% endif %}

  {% if tile.brow %}
    <p class="jcc-tile__brow">{{ tile.brow }}</p>
  {% endif %}
</a>
