{% set classes = [
  'jcc-explainers-section',
  'jcc-explainers-section--' ~ explainer_section.background_variant|default('has-background-color--transparent'),
  'jcc-explainers-section--' ~ explainer_section.column_variant|default('has-two-columns'),
]|merge(explainer_section.classes|default([''])) %}

<div class="{{ classes|join(' ')|trim }}"{% if explainer_section.id %} id="{{ explainer_section.id }}"{% endif %}>
    {% if explainer_section.headergroup %}
      {% include '@molecules/text/header-group/header-group.twig' with {
        headergroup: explainer_section.headergroup
    } %}
    {% endif %}

    <ul class="jcc-explainers">
      {% for explainer in explainer_section.explainers %}
        <li class="jcc-explainers__item">
          {% include '@molecules/blocks/explainer/explainer.twig' with {
            explainer: explainer
          } %}
        </li>
      {% endfor %}
    </ul>
</div>
