@import "../../../protons/global";

.jcc-tile {
  @include u-radius("lg");
  @include u-border(1px, "primary-vivid");
  @include u-padding-x(3);
  @include u-text("base-darkest");
  @include u-shadow(2);
  position: relative;
  text-align: left;
}

.jcc-tile__title {
  @include h5($h-font-family: "heading");

  a {
    @include u-text("blue-70v");
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.jcc-tile.is-secondary {
  @include u-bg("base-lightest");
}
