@mixin card-border(
  $border-color: base-light,
  $bg: "white",
  $border-width: 1px,
  $shadow: 3,
  $radius: lg
) {
  @include u-bg($bg);
  @include u-border($border-width);
  @include u-border($border-color);
  @include u-radius($radius);
  @include u-shadow($shadow);
}

// Adds decorative dash to headers
// below-center, above-left, above-center, left-right, right
@mixin add-dash(
  $dash-color: secondary,
  $dash-position: "below-center",
  $dash-width: null,
  $inner-spacing: null,
  $inner-color: null
) {
  position: relative;

  &::after,
  &::before {
    @include u-bg($dash-color);
    content: "";
    height: 3px;
  }

  @if $dash-position == "below-center" {
    padding-bottom: 0.8em;

    &::after {
      $dash-width: 100% !default;
      width: $dash-width;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  } @else if $dash-position == "above-left" {
    padding-top: 0.8em;

    &::after {
      $dash-width: 100% !default;
      width: $dash-width;
      position: absolute;
      top: 0;
      left: 0;
    }
  } @else if $dash-position == "above-center" {
    padding-top: 0.8em;
    text-align: center;

    &::before {
      $dash-width: 100% !default;
      width: $dash-width;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  } @else if $dash-position == "left-right" {
    // `left-right` requires a `<span>` to wrap the text
    margin-left: $inner-spacing + 30px;
    margin-right: $inner-spacing + 30px;
    text-align: center;

    &::before {
      $dash-width: 300% !default;
      width: $dash-width;
      position: relative;
      display: block;
      transform: translate(-50%, 24px);
      z-index: 0;
    }

    span {
      position: relative;
      background-color: $inner-color;
      box-shadow: 30px 0 0 $inner-color, -30px 0 0 $inner-color;
      box-decoration-break: clone;
      z-index: 1;
    }
  } @else if $dash-position == "right" {
    // `right` requires a `<span>` to wrap the text
    margin-right: $inner-spacing + 30px;

    &::before {
      $dash-width: 300% !default;
      width: $dash-width;
      position: relative;
      display: block;
      transform: translate(-50%, 24px);
      z-index: 0;
    }

    span {
      position: relative;
      background-color: $inner-color;
      box-shadow: 30px 0 0 $inner-color;
      box-decoration-break: clone;
      z-index: 1;
    }
  }
}
