@mixin card-border(
  $border-color: base-light,
  $bg: "white",
  $border-width: 1px,
  $shadow: 3,
  $radius: lg
) {
  @include u-bg($bg);
  @include u-border($border-width);
  @include u-border($border-color);
  @include u-radius($radius);
  @include u-shadow($shadow);
}

// Adds decorative dash to headers
@mixin has-dash($dash-color: "gold-30v") {
  position: relative;
  padding-bottom: 0.5em;

  &:after {
    background-color: color($dash-color);
    content: "";
    height: 3px;
    width: 3rem;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

// Adds decorative dash to headers with positions:
// below, above, left-right, left, right
@mixin has-dash-position($dash-color: "gold-30v", $dash-position: "below", $dash-width: null) {
  position: relative;

  &:after,
  &:before {
    @include u-bg($dash-color);
    content: "";
    height: 3px;
  }

  @if $dash-position == "below" {
    padding-bottom: 0.5em;

    &:after {
      $dash-width: 3rem !default;
      width: $dash-width;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  } @else if $dash-position == "below-center" {
    padding-bottom: 0.8em;

    &:after {
      $dash-width: 100% !default;
      width: $dash-width;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  } @else if $dash-position == "above" {
    padding-top: 0.8em;

    &:after {
      $dash-width: 100% !default;
      width: $dash-width;
      position: absolute;
      top: 0;
      left: 0;
    }
  } @else if $dash-position == "above-center" {
    padding-top: 0.8em;

    &:before {
      $dash-width: 100% !default;
      width: $dash-width;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  } @else if $dash-position == "left-right" {
    @include u-overflow(hidden);
    &:before,
    &:after {
      $dash-width: 50% !default;
      width: $dash-width;
      display: inline-block;
      position: relative;
      vertical-align: middle;
    }
    &:before {
      left: -0.5em;
      margin-left: -50%;
    }
    &:after {
      left: 0.5em;
      margin-right: -50%;
    }
  } @else if $dash-position == "left" {
    @include u-overflow(hidden);
    &:before {
      $dash-width: 100% !default;
      width: $dash-width;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      left: -0.5em;
      margin-left: -50%;
    }
  } @else if $dash-position == "right" {
    @include u-overflow(hidden);
    &:after {
      $dash-width: 100% !default;
      width: $dash-width;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      left: 0.5em;
      margin-right: -50%;
    }
  }
}
