// Between-width media query
@mixin at-media-between($min, $max) {
  $quoted-min: smart-quote($min);
  $quoted-max: smart-quote($max);
  $our-breakpoints: map-deep-get($system-properties, breakpoints, standard);
  @if map-has-key($our-breakpoints, $quoted-min) {
    @if $theme-respect-user-font-size {
      $min: rem-to-user-em(map-get($our-breakpoints, $quoted-min)) - 0.01em;
    } @else {
      $min: rem-to-px(map-get($our-breakpoints, $quoted-min)) - 1px;
    }
  } @else {
    @warn '`#{$min}` is not a valid USWDS project breakpoint. Valid values: #{map-keys($our-breakpoints)}';
  }
  @if map-has-key($our-breakpoints, $quoted-max) {
    @if $theme-respect-user-font-size {
      $max: rem-to-user-em(map-get($our-breakpoints, $quoted-max)) - 0.01em;
    } @else {
      $max: rem-to-px(map-get($our-breakpoints, $quoted-max)) - 1px;
    }
  } @else {
    @warn '`#{$max}` is not a valid USWDS project breakpoint. Valid values: #{map-keys($our-breakpoints)}';
  }
  @media all and (min-width: #{$min}) and (max-width: #{$max}) {
    @content;
  }
}

// Section vertical rhythm
@mixin section-wrapper($padding-size: 6) {
  @include u-padding-top($padding-size);
  @include u-padding-bottom($padding-size);

  @media print {
    @include u-padding-bottom(3);
  }
}

// Creates a wrapper for a series of rows
@mixin section-container($container-size: widescreen) {
  @include grid-container($container-size);
}
