// Interim Judicial icon styling variant
@mixin media-icon(
  $icon-size: 2rem,
  $icon-container-size: 2.5rem,
  $icon-circle-size: 2.5rem,
  $icon-circle-bg: "gold-5v"
) {
  height: $icon-container-size;
  width: $icon-container-size;
  min-width: $icon-container-size;
  position: relative;

  img {
    z-index: 2;
    position: relative;
    height: $icon-size;
    width: $icon-size;
  }

  svg {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &:before {
    @include u-bg($icon-circle-bg);
    content: "";
    display: block;
    border-radius: 50%;
    height: $icon-circle-size;
    width: $icon-circle-size;
    left: 0.5rem;
    top: 0.5rem;
    position: absolute;
  }
}

// Cover image with bleed
@mixin cover-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img,
  picture {
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
    width: 100%;
  }
}
