// Type

@mixin jcc-h1($font-family: heading) {
  @include typeset($font-family, $theme-h2-font-size, $theme-heading-line-height);
  font-weight: $theme-font-weight-normal;

  @include at-media(desktop) {
    @include typeset($font-family, $theme-h1-font-size, $theme-heading-line-height);
  }
}

@mixin jcc-h2($font-family: heading) {
  @include typeset($font-family, $theme-h3-font-size, $theme-heading-line-height);
  font-weight: $theme-font-weight-normal;

  @include at-media(desktop) {
    @include typeset($font-family, $theme-h2-font-size, $theme-heading-line-height);
  }
}

@mixin jcc-h3($font-family: body) {
  @include typeset($font-family, $theme-h4-font-size, $theme-heading-line-height);
  font-weight: $theme-font-weight-normal;

  @include at-media(desktop) {
    @include typeset($font-family, $theme-h3-font-size, $theme-heading-line-height);
  }
}

@mixin jcc-h4($font-family: body) {
  @include typeset($font-family, $theme-h5-font-size, $theme-heading-line-height);
  font-weight: $theme-font-weight-bold;

  @include at-media(desktop) {
    @include typeset($font-family, $theme-h4-font-size, $theme-heading-line-height);
  }
}

@mixin jcc-h5($font-family: body) {
  @include typeset($font-family, $theme-h6-font-size, $theme-heading-line-height);
  font-weight: $theme-font-weight-bold;

  @include at-media(desktop) {
    @include typeset($font-family, $theme-h5-font-size, $theme-heading-line-height);
  }
}

@mixin jcc-h6($font-family: body) {
  @include typeset($font-family, $theme-h6-font-size, $theme-heading-line-height);
  font-weight: $theme-font-weight-bold;

  @include at-media(desktop) {
    @include typeset($font-family, $theme-h6-font-size, $theme-heading-line-height);
  }
}

@mixin jcc-lead() {
  @include typeset(
    $theme-lead-font-family,
    $theme-lead-font-size,
    $theme-lead-line-height
  );
  font-weight: $theme-font-weight-normal;
  max-width: measure($theme-lead-measure);
}

@mixin jcc-small() {
  @include typeset(
    $theme-body-font-family,
    $theme-small-font-size,
    $theme-body-line-height
  );
  font-weight: $theme-font-weight-normal;
}
