$_config_schemes: (
  base: (
    alt-background: $theme-color-base-lightest,
  ),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);

.jcc-section {
  @include u-padding-top(9);
}

.jcc-section--background-alt {
  @include u-margin-top(10);
  @include u-padding-bottom(8);
  @include u-bg(map-get($_config, alt-background));

  + .jcc-section--background-alt,
  + .jcc-section--background-none {
    margin-top: -5.5rem;
  }
}

.jcc-section--spacing-none {
  @include u-margin-top(0);
  @include u-padding-top(0);
  @include u-padding-bottom(0);
}

.jcc-section--container {
  .jcc-section__inner {
    @include grid-container(widescreen);

    // Adding table trick to avoid overflow in any section
    .usa-table td {
      white-space: normal;
    }
  }
}

.jcc-section__subsections {
  @include grid-row();
  @include grid-gap(6);
}

.jcc-section__subsection--col {
  &-4 {
    @include grid-col(12);
    @include at-media("tablet") {
      @include grid-col(6);
    }
  }

  &-6 {
    @include grid-col(12);
    @include at-media("tablet") {
      @include grid-col(6);
    }
  }
}
