$_config_schemes: (
  base: (
    background: $theme-body-background-color,
    alt-background: $theme-color-base-lightest,
    dash-color: secondary,
  ),
  local: (),
  pro: (
    dash-color: "transparent",
  ),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);

.jcc-section-heading {
  @include u-overflow(hidden);
}

.jcc-section-heading__title {
  @include u-margin-bottom(3);
}

.jcc-section-heading__title--full {
  @include at-media-max(desktop) {
    @include add-dash(
      $dash-position: "above-center",
      $top-spacing: 0,
      $dash-width: 5rem,
      $dash-color: map-get($_config, dash-color)
    );
  }

  @include at-media(desktop) {
    .jcc-section--background-alt & {
      @include add-dash(
        $dash-position: "left-right",
        $inner-spacing: 150px,
        $inner-color: map-get($_config, alt-background),
        $dash-color: map-get($_config, dash-color)
      );
    }

    .jcc-section:not(.jcc-section--background-alt) & {
      @include add-dash(
        $dash-position: "left-right",
        $inner-spacing: 150px,
        $inner-color: map-get($_config, background),
        $dash-color: map-get($_config, dash-color)
      );
    }
  }
}

.jcc-section-heading__title--partial {
  @include at-media-max(desktop) {
    @include add-dash(
      $dash-position: "above-left",
      $dash-width: 5rem,
      $dash-color: map-get($_config, dash-color)
    );
  }

  @include at-media(desktop) {
    .jcc-section--background-alt & {
      @include add-dash(
        $dash-position: "right",
        $inner-spacing: 150px,
        $inner-color: map-get($_config, alt-background),
        $dash-color: map-get($_config, dash-color)
      );
    }

    .jcc-section:not(.jcc-section--background-alt) & {
      @include add-dash(
        $dash-position: "right",
        $inner-spacing: 150px,
        $inner-color: map-get($_config, background),
        $dash-color: map-get($_config, dash-color)
      );
    }
  }
}

.jcc-section-heading__lead {
  @extend .jcc-lead;
  @include u-margin-bottom(5);

  > * {
    max-width: unset;
  }
}

/*Adding css for text cropping from bottom side*/
.jcc-body__main-text .jcc-section-heading__title {
  @include u-line-height(ui, 3);
}