$_config_schemes: (
  base: (
    alt-background: $theme-color-base-lightest,
  ),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);

.jcc-section {
  @include u-padding-top(9);
}

.jcc-section--background-alt {
  @include u-margin-top(10);
  @include u-padding-bottom(8);
  @include u-bg(map-get($_config, alt-background));

  + .jcc-section--background-alt,
  + .jcc-section--background-none {
    margin-top: -5.5rem;
  }
}

.jcc-section--spacing-none {
  @include u-margin-top(0);
  @include u-padding-top(0);
  @include u-padding-bottom(0);
}

.jcc-section--container {
  .jcc-section__inner {
    @include grid-container(widescreen);
  }
}
