{#
/**
 * Available variables:
 * - section - primary variable
 *   - background: background color [default, alt, none]
 *   - container: container to constrain content [container, no-container]
 *   - spacing: top/bottom spacing [default, none]
 *   - heading: the heading (title & lead)
 *   - content: the main content
 *   - id: the html "id" of the section
 *   - attributes: Drupal attributes
 *   - classes: array of classes to add to component
 */
#}

{% set attributes = section.attributes ?? create_attribute() %}
{% if section.id %}
  {% set attributes = attributes.setAttribute('id', section.id) %}
{% endif %}

{% set classes = [
  'jcc-section',
  'jcc-section--' ~ section.container|default('container'),
  'jcc-section--spacing-' ~ section.spacing|default('default'),
  'jcc-section--background-' ~ section.background|default('default'),
]|merge(section.classes|default([])) %}

<section {{attributes.addClass(classes) }}>
  <div class="jcc-section__inner">
    {% if section.heading %}
      {% include "@molecules/section/section-heading.twig" with {
        section_heading: section.heading
      } %}
    {% endif %}

    {% if section.sub_sections %}
      {% set col_width = 12/section.num_cols|default(1) %}
      <div class="jcc-section__subsections">
        {% for sub_section in section.sub_sections %}
          {% if sub_section.width %}
            {% set col_width = sub_section.width %}
          {% endif %}
          <div class="jcc-section__subsection jcc-section__subsection--col-{{ col_width }}">{{ sub_section.content }}</div>
        {% endfor %}
      </div>
    {% else %}
      {{ section.content }}
    {% endif %}
  </div>
</section>
