.jcc-dropdown__Label {
  @include responsive-h4($responsive-font-family: heading);
  @include u-padding-bottom(2);
  @include u-text(italic);
  @include u-display(block);
}

.jcc-dropdown {
  .edd-root,
  .edd-root *,
  .edd-root *::before,
  .edd-root *::after {
    @include u-margin(0);
    @include u-padding(0);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .edd-root {
    @include u-display(inline-block);
    @include u-position(relative);
    @include u-width(full);
    user-select: none;
  }

  .edd-root-disabled {
  }

  .edd-head {
    @include u-position(relative);
    @include u-overflow(hidden);
    @include u-border(2px, primary-darker);
    @include u-bg("white");
  }

  .edd-root-focused .edd-head {
  }

  .edd-root-invalid .edd-head {
  }

  .edd-root:not(.edd-root-disabled):not(.edd-root-open) .edd-head:hover {
    @include u-border(2px, accent-warm);
  }

  .edd-value {
    width: calc(100% - 50px);
    @include u-display(inline-block);
    @include u-text(middle);
    @include u-padding(1);
    @include u-margin(1, 0, 1, 1);
  }

  .edd-arrow {
    // This will be replaced by the proper icon
    @include u-position(absolute);
    width: 18px;
    height: 10px;
    top: calc(50% - 5px);
    right: calc(24px - 9px);
    transition: transform 150ms;
    pointer-events: none;
  }

  .edd-arrow::before {
    // This will be replaced by the proper icon
    content: "";
    @include u-position(absolute);
    @include u-right(0);
    top: -5px;
    width: 13px;
    height: 13px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    transform: rotate(45deg);
    transform-origin: 50% 25%;
  }

  .edd-root-open .edd-arrow {
    // This will be replaced by the proper icon
    transform: rotate(180deg);
  }

  .edd-value,
  .edd-option,
  .edd-group-label {
    @include u-text(no-wrap);
    @include u-overflow(hidden);
    text-overflow: ellipsis;
  }

  .edd-root:not(.edd-root-disabled) .edd-value,
  .edd-option {
    cursor: pointer;
  }

  .edd-select {
    @include u-position(absolute);
    @include u-width(full);
    @include u-top(0);
    left: -100%;
    opacity: 0;
  }

  .edd-root-native .edd-select {
    @include u-left(0);
    @include u-top(0);
    @include u-width(full);
    @include u-height(full);
  }

  .edd-body {
    @include u-border(1px, base-light);
    @include u-position(absolute);
    @include u-left(0);
    @include u-overflow(hidden);
    @include u-margin-y(1);
    @include u-margin-x(0);
    @include u-right(0);
    @include u-bg("white");
    opacity: 0;
    pointer-events: none;
    z-index: 999;
  }

  .edd-root-open .edd-body {
    opacity: 1;
    pointer-events: all;
  }

  .edd-root-open-above .edd-body {
    @include u-bottom("full");
  }

  .edd-root-open-below .edd-body {
    top: 100%;
  }

  .edd-items-list {
    @include u-overflow(auto);
    @include u-maxh(none);
    -webkit-overflow-scrolling: touch;
  }

  .edd-group-label {
    @include u-padding(1);
    @include u-color(primary);
  }

  .edd-group-has-label {
    @include u-border-bottom(1px, base-light);
  }

  .edd-option {
    @include u-padding(1);
  }

  .edd-option-selected {
    @include u-color(primary-light);
  }

  .edd-option-focused:not(.edd-option-disabled) {
    @include u-color(primary-vivid);
  }

  .edd-option-disabled,
  .edd-group-disabled .edd-option {
    cursor: default;
  }
}

.jcc-dropdown--is-jumbo {
  .edd-head,
  .edd-body {
    @include u-font(sans, lg);
  }
  .edd-group-label {
    @include u-padding(3);
  }
  .edd-option {
    @include u-padding(3);
  }
  .edd-value {
    @include u-padding(1.5);
    @include u-margin(1.5, 0, 1.5, 1.5);
  }
}

// We could delete all of these.
// Leaving it here for visual design pass.

.edd-group-has-label .edd-option {
}

.edd-gradient-top,
.edd-gradient-bottom {
}

.edd-gradient-top {
}

.edd-gradient-bottom {
}

.edd-body-scrollable .edd-gradient-top,
.edd-body-scrollable .edd-gradient-bottom {
}

.edd-body-scrollable.edd-body-at-top .edd-gradient-top,
.edd-body-scrollable.edd-body-at-bottom .edd-gradient-bottom {
}
