<div class="jcc-expandable-item">
  <dt class="jcc-expandable-item__excerpt"><button class="jcc-expandable-item__button" data-a11y-toggle="{{ id }}">
    {{ excerpt }}
  </button></dt>

  <dd id="{{ id }}" class="jcc-expandable-item__content">
    {{ content }}
  </dd>
</div>
