.jcc-form {
  &.usa-form {
    max-width: none;
  }

  .usa-checkbox,
  .usa-radio {
    margin-bottom: 0.5rem;
  }
}

.jcc-form--inline {
  .usa-checkbox,
  .usa-radio {
    @include at-media("desktop") {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
}

.jcc-form-group__title {
  @include h4($h-font-family: "heading");
  @include u-text("normal");
  margin-bottom: 1rem;
}

.jcc-form-group__option {
}
