.jcc-form {
  &.usa-form {
    @include u-maxw(none);
  }

  .usa-checkbox,
  .usa-radio {
    @include u-margin-bottom(1);
  }
}

.jcc-form--inline {
  .usa-checkbox,
  .usa-radio {
    @include at-media(desktop) {
      @include u-display(inline-block);
      @include u-margin-right(1);
    }
  }
}

.usa-form.jcc-form--block {
  .usa-button {
    @include u-display(block);
    @include u-width(full);
    @include u-margin-top(0);
    @include u-margin-bottom(1);
  }
}

.jcc-form-group__title {
  @include responsive-h4($responsive-font-family: heading);
  @include u-text(normal);
  @include u-margin-bottom(2);
}
