.summary-results {
  .jcc-header-group {
    @include u-margin-bottom(4);
  }

  .jcc-header-group__title {
    @include responsive-h4($responsive-font-family: "heading");
    @include u-text("normal", "italic");
    @include u-margin-bottom(1);
  }
}
