<form class="usa-form jcc-form{% if align_variant %} jcc-form--{{ align_variant }}{% endif %}">
  <fieldset class="usa-fieldset">
    <legend class="jcc-form-group__title usa-legend{% if sr_only %} sr-only{% endif %}">{{ legend }}</legend>

    <div class="jcc-form-group__options">
    {% for button in button_group %}
      {% include '@atoms/buttons/button.twig' with {
        button: {
          text: button.text,
          style: button.style
        }
      } %}
    {% endfor %}
    </div>

  </fieldset>
</form>

