<form class="usa-form jcc-form{% if align_variant %} jcc-form--{{ align_variant }}{% endif %}">
  <fieldset class="usa-fieldset">
    <legend class="jcc-form-group__title usa-legend{% if sr_only %} sr-only{% endif %}">{{ legend }}</legend>

    <div class="jcc-form-group__options">
    {% for checkbox in checkbox_group %}
      {% include '@atoms/forms/checkbox.twig' with {
        label: checkbox.label,
        id: checkbox.id,
        name: checkbox.name,
        style: checkbox.style
      } %}
    {% endfor %}
    </div>

  </fieldset>
</form>


