<form class="usa-form jcc-form{% if align_variant %} jcc-form--{{ align_variant }}{% endif %}">
  <fieldset class="usa-fieldset">
    <legend class="jcc-form-group__title usa-legend{% if sr_only %} sr-only{% endif %}">{{ legend }}</legend>

    <div class="jcc-form-group__options">
    {% for radio in radio_group %}
      {% include '@atoms/forms/radio.twig' with {
        radio: {
          label: radio.label,
          id: radio.id,
          name: radio.name,
          style: radio.style
        }
      } %}
    {% endfor %}
    </div>

  </fieldset>
</form>
