<div class="jcc-read-more">
  <button class="jcc-read-more__trigger" data-a11y-toggle="target">{{ read_more_link }}</button>

  <div id="target" class="jcc-read-more__content">  
    {{ read_more_content }}
  </div>  

</div>