@import "../../../00-protons/global";

.jcc-header-group {
  > :first-child {
    margin-top: 0;
    padding-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.jcc-header-group__title {
  @include responsive-h2();
}

h3.jcc-header-group__title {
  @include responsive-h3($responsive-font-family: "body");
}

.jcc-header-group__brow {
  @include t-copy();
  @include u-text("uppercase");
  @include u-text("ls-3");
}

.jcc-header-group__lead {
  @include responsive-lead();
  @include u-line-height("body", 3);

  @include at-media("desktop") {
    max-width: 75%;
  }
}

.jcc-header-group__body {
  @include u-font("body", 6);
}
