.jcc-header-group {
  > :first-child {
    @include u-margin-top(0);
    @include u-padding-top(0);
  }

  > :last-child {
    @include u-margin-bottom(0);
    @include u-padding-bottom(0);
  }
}

.jcc-header-group__title {
  @include responsive-h2();
  @include u-margin-bottom(2.5);
  @include u-text(normal);
}

h3.jcc-header-group__title {
  @include responsive-h3($responsive-font-family: body);
  @include u-text(normal);
}

.jcc-header-group__brow {
  @include t-copy();
  @include u-text(uppercase);
  @include u-text(ls-3);
  @include u-margin-bottom(2);
}

.jcc-header-group__lead {
  @include responsive-lead();
  @include u-line-height(body, 3);
  @include u-margin-bottom(1.5);
  @extend .usa-prose;

  @include at-media(desktop) {
    // @include grid-col(8);
  }
}

.jcc-header-group__body {
  @include u-font(body, 6);
  @extend .usa-prose;
}
