{#
/**
 * Landing Page Demo
 *   Representing https://www.santacruz.courts.ca.gov/online-services
 */
#}

<div class="jcc-landing-example">
  {% include '@organisms/global/header.twig' with {
    header: landing_example.header
  } %}

  {% include '@molecules/hero/hero.twig' with {
    hero: landing_example.hero
  } %}

  {% include '@organisms/cards/cards.twig' with {
    cards: landing_example.cards
  } %}

  {% include '@organisms/action-list/action-list.twig' with {
    action_list: landing_example.action_list
  } %}

  {% include '@organisms/offcanvas/offcanvas.twig' with {
    offcanvas: landing_example.offcanvas
  } %}

  {% include '@organisms/global/footer.twig' with {
    footer: landing_example.footer
  } %}

</div>