.jcc-alert::before {
  @if $trial {
    @include u-display("none");
  }
}

.jcc-alert {
  background-image: none;
  @include u-margin-top(0);
  @include u-padding(0);
  @include u-line-height("body", 1);
  display:none;
  &.active{
    display:block;
  }
}

.jcc-alert__body.usa-alert--no-icon {
  background-image: none !important;
}

.usa-alert--error {
  .jcc-alert__body {
    @if $trial {
      background-image: url("../img/alerts/error.svg"),
        -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    } @else {
      background-image: url("../images/error.svg"),
        -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    }
    @include u-padding-left(6);
  }
}

.usa-alert--warning {
  .jcc-alert__body {
    @if $trial {
      background-image: url("../img/alerts/warning.svg"),
        -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    } @else {
      background-image: url("../images/warning.svg"),
        -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    }
    @include u-padding-left(6);
  }
}

.usa-alert--success {
  .jcc-alert__body {
    @if $trial {
      background-image: url("../img/alerts/success.svg"),
        -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    } @else {
      background-image: url("../images/success.svg"),
        -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    }
    @include u-padding-left(6);
  }
}

.usa-alert--info {
  .jcc-alert__body {
    @if $trial {
      background-image: url("../img/alerts/info.svg"),
        -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    } @else {
      background-image: url("../images/info.svg"),
        -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    }
    @include u-padding-left(6);
  }
}

.usa-alert--error {
  .jcc-alert__body {
    @include u-padding-left(6);
  }
}

.jcc-alert__body {
  @include u-display("block");
  @include u-position("relative");
  @include u-maxw("widescreen");
  @include u-margin-y(0);
  @if $trial {
    @include u-margin-x("auto");
  } @else {
    @include u-margin-right("auto");
    margin-left: 13px;
  }
  @include u-padding-y(1.5);
  @include u-padding-right(4);
  background-size: 1.6rem;
  background-repeat: no-repeat;
  background-position: 10px 13px !important;
  @include u-cursor("pointer");
}

.usa-alert .usa-alert__body .jcc-alert__heading {
  @include u-display("inline");
  @include u-margin-bottom(0);
  @include u-font("sans", "md");
  @include u-text("bold");
}

.jcc-alert__text {
  @include u-display("inline");
  @include u-font("sans", "sm");
  @include u-line-height(body, 6);
  p:first-child {
    @include u-display("inline");
  }

  p:not(:first-child) {
    @include u-margin-top(1.5);
    @include u-margin-bottom(0.5);
    @include u-margin-x(0);
  }
}

.jcc-alert__action {
  @include u-padding-top(2);
  @include u-padding-bottom(1);
}

.jcc-alert__close {
  @include u-display("block");
  @include u-position("absolute");
  @include u-top(1);
  @include u-right(0);
  width: 20px;
  height: 20px;
  margin-top: 3px;
  @if $trial {
    background-image: url("../images/icomoon/SVG/close.svg"),
      -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  } @else {
    display: none;
  }
}