.jcc-link-list {
  @include u-padding-x(0);
}

.jcc-link-list__list {
  @include u-padding-left(3);
}

.jcc-link-list__item {
  @include u-padding-y(1);
  @include u-position('relative');
}

.jcc-link-list__icon {
  @include u-position('absolute');
  @include u-left(-24px);
}

.jcc-link-list--files {
  @include u-padding-left(6);
  .jcc-link-list__list {
    @include add-list-reset;
  }
}

.icon {
  @include u-display('inline-block');
  @include u-width(1);
  @include u-height(1);
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
