.jcc-complete {
  @include u-bg(secondary);
  @include u-padding(4);
  @include u-color("white");
  .jcc-complete__row {
    @include grid-row;
    @include grid-gap;
  }

  .jcc-complete__icon {
    @include grid-col(2);
    @include at-media(desktop) {
      @include grid-col(1);
    }
    height: 60px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &.check {
      background-image: url("../../images/check.png");
    }
  }

  .jcc-complete__body {
    @include u-padding-bottom(4);
    @include at-media(desktop) {
      @include u-padding-right(4);
    }
  }

  .jcc-complete__left {
    @include grid-col(10);
    @include at-media(desktop) {
      @include grid-col(7);
    }
  }
  .jcc-complete__right {
    @include grid-col(12);
    @include at-media(desktop) {
      @include grid-col(4);
    }
  }

  .jcc-complete__button {
    @include u-color(primary);
    @include u-bg("white");
    @include u-radius(md);
    @include u-width(full);
    @include u-font(body, 6);
    @include u-padding-left(7);
    @include u-shadow(3);
    padding: 10px 10px 10px 55px;
    position: relative;
    display: block;
    transition: all 0.4s;
    @include at-media(desktop) {
      @include u-padding(1);
      @include u-padding-left(7);
    }
    &:hover {
      transition: all 0.4s;
      @include u-shadow(1);
    }
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      left: 10px;
      top: 10px;
      width: 30px;
      display: block;
      height: 30px;
      background-image: url("../../images/link.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
