<div class="jcc-complete">
  <div class="jcc-complete__row">
  {% if complete.icon  %}
  <div class="jcc-complete__icon {{ complete.icon }}">
  </div>
  {% endif %}
  {% if complete.body  %}
  <div class="jcc-complete__left">
    <div class="jcc-complete__body">
      {{ complete.body }}
    </div>
  </div>
  {% endif %}
  {% if complete.link_button  %}
  <div class="jcc-complete__right">
  <a class="jcc-complete__button">
    {{ complete.link_button }}
  </a>
  </div>
  {% endif %}
</div>
</div>
