.jcc-contact-group {
  label {
    @include u-margin(0);
    @include u-margin-bottom(1);
    @include u-width("full");
    @include u-maxw("none");
  }

  input {
    @include u-margin(0);
    @include u-margin-right(1);
    @include u-float("left");
    flex: 1;
  }

  button {
    @include u-margin(0);
    @include u-padding-y(0);
    @include u-padding-x(2);
    @include u-width("auto");
    height: 2.5rem;
  }
}

.jcc-contact-group__container {
  @include u-display("flex");
  @include u-flex("wrap");
  @include u-position("relative");
}

.jcc-contact-group__helper {
  @include u-text("gray-50");
  @include u-font-size("body", "3xs");
  @include u-margin-top(1);
  @include u-width("full");
}
