.jcc-choice-section {
  @include section-wrapper;
  @include u-padding-bottom(8);
  @include u-padding-top(0);

  .jcc-header-group {
    @include u-padding-bottom(4);
  }

  .jcc-header-group__title {
    @include responsive-h4($responsive-font-family: heading);
    @include u-text(normal, italic);
  }
}

.jcc-choice-section--has-background-color--light,
.jcc-choice-section--has-background-color--light--secondary {
  @include section-wrapper-bg;
  @include light-background($light-background-color: secondary-lighter);
}

.jcc-choice-section__container {
  @include section-container;

  .jcc-form-group__options {
    @include at-media(desktop) {
      max-width: 75%;
    }
  }
}
