{% set classes = [
  'jcc-choice-section',
  'jcc-choice-section--' ~ choice_section.background_variant|default('has-background-color--transparent'),
]|merge(choice_section.classes|default([''])) %}

{% if choice_section.checkbox_group|length > 0 %}
  <div class="{{ classes|join(' ')|trim }}">
    <div class="jcc-choice-section__container">

      {% include '@molecules/text/header-group/header-group.twig' with {
        headergroup: choice_section.headergroup
      } %}

      {% include '@molecules/forms/checkbox-group.twig' with {
        checkbox_group: choice_section.checkbox_group
      } %}

      {% include '@atoms/buttons/button.twig' with {
        button: choice_section.button
      } %}
    </div>
  </div>
{% endif %}
