{% if checkbox_group|length > 0 %}
<div class="jcc-choice-section{% if background_variant %} jcc-choice-section--{{ background_variant }}{% endif %}">
  <div class="jcc-choice-section__container">
  
    {% include '@molecules/text/header-group/header-group.twig' with {
        brow: headergroup.brow,
        title: headergroup.title,
        lead: headergroup.lead,
        tag: headergroup.tag
    } %}
  
    {% include '@molecules/forms/checkbox-group.twig' with {
        checkbox_group: checkbox_group
    } %}

    {% include '@atoms/buttons/button.twig' with {
        text: button.text,
        url: button.url,
        style: button.style
    } %}

  </div>
</div>
{% endif %}