$_config_schemes: (
  base: (
    button-color: "gray-5",
    button-hover-color: "gray-10",
    button-font-color: "black",
    button-font-color-hover: "black",
    border-bottom-color: "transparent",
    border-bottom-width: '0px',
  ),
  local: (),
  pro: (
    button-color: "transparent",
    button-hover-color: "transparent",
    button-font-color: "primary-vivid",
    button-font-color-hover: "primary-dark",
    border-bottom-color: "primary-vivid",
    border-bottom-width: '2px',
  ),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);

.usa-accordion__button {
  @include u-bg(map-get($_config, button-color));
  @include u-text(map-get($_config,button-font-color));
  @include u-border-bottom('2px', solid, map-get($_config, border-bottom-color));
  background-image: none;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    top:15px;
    right: 10px;
    width: 25px;
    height: 25px;
    @include u-bg(map-get($_config,button-font-color));
    -webkit-mask-image: url('../img/usa-icons/remove.svg');
    mask-image: url('../img/usa-icons/remove.svg');
  }
  &[aria-expanded="false"]{
    background-image: none;
    &:after {
      @include u-bg(map-get($_config, button-font-color));
      -webkit-mask-image: url('../img/usa-icons/add.svg');
      mask-image: url('../img/usa-icons/add.svg');
    }
  }

  &:hover {
    @include u-bg(map-get($_config, button-hover-color));
    @include u-text(map-get($_config,button-font-color-hover));
  }
}
