.jcc-hero {
  @include u-position(relative);
  @include u-bg(primary-lighter);

  .jcc-breadcrumbs-nav {
    @include u-display(flex);
  }
}

.jcc-hero--viewport-height {
  @include u-minh("viewport");
}

.jcc-hero--has-background-image {
  @include u-text("white");

  .jcc-hero__media {
    @include cover-image();
  }
}

.jcc-hero--has-background-color--light,
.jcc-hero--has-background-color--dark {
}

.jcc-hero--has-background-color--light {
  @include light-background($light-background-color: secondary-lighter);

  .jcc-breadcrumb__item a {
    @include light-background-link();
  }
}

.jcc-hero--has-background-color--dark {
  @include dark-background();

  .jcc-breadcrumb__item a {
    @include dark-background-link();
  }

  .jcc-hero__title,
  .jcc-breadcrumb__item {
    @include dark-background-text();
  }
}

.jcc-hero__container {
  @include grid-container(widescreen);

  @include at-media(desktop) {
  }
}

.jcc-hero__content {
  @include t-intro();
  @include u-padding-top(10);
  @include u-padding-bottom(6);
  @include u-line-height("body", 6);
  @include u-position(relative);
}

.jcc-hero__title {
  @include responsive-h-mega();
  @include u-line-height("heading", 2);
  @include u-text(primary-darker);
  @include u-margin-y(3);
}

.jcc-hero__lead {
  @include responsive-lead();
  @include u-margin-bottom(2);
  @include u-line-height(body, 3);
}

.jcc-hero--has-one-column {
  .jcc-hero__lead,
  .jcc-body,
  .jcc-hero__column-right {
    @include at-media(desktop) {
      @include u-measure("6");
    }
  }

  .jcc-hero__column-left {
    @include u-margin-bottom(4);
  }
}

.jcc-hero__columns {
  > :last-child {
    @include u-margin-bottom(0);
    @include u-padding-bottom(0);
  }
}

.jcc-hero--has-two-columns-half,
.jcc-hero--has-two-columns-threequarter {
  .jcc-hero__columns {
    @include at-media(desktop) {
      @include grid-row;
      @include grid-gap;
    }
  }
}

.jcc-hero--has-two-columns-half {
  .jcc-hero__column-left,
  .jcc-hero__column-right {
    @include u-width(full);

    @include at-media(desktop) {
      @include grid-col(6);
    }
  }
}

.jcc-hero--has-two-columns-threequarter {
  .jcc-hero__column-left,
  .jcc-hero__column-right {
    @include u-width(full);
  }

  .jcc-hero__column-left {
    @include at-media(desktop) {
      @include grid-col(8);
    }
  }

  .jcc-hero__column-right {
    @include at-media(desktop) {
      @include grid-col(4);
    }
  }
}

.jcc-hero__column-left {
  @include u-margin-bottom(3);

  @include at-media(desktop) {
    @include u-margin-bottom(0);
  }
}

.jcc-hero__column-left,
.jcc-hero__column-right {
  > :last-child {
    @include u-margin-bottom(0);
    @include u-padding-bottom(0);
  }
}

.jcc-hero__body,
.jcc-hero__column-right {
  @extend .usa-prose;
}
