// Disables non-native backdrop
.jcc-full-modal[data-a11y-dialog-native] .jcc-full-modal__backdrop {
  display: none;
}

// Shows the dialog window. This attr is added by the A11yDialog script.
.jcc-full-modal__dialog[open] {
  display: block;
}

// Hides the dialog window. This attr is added by the A11yDialog script.
.jcc-full-modal [aria-hidden="true"] {
  display: none;
}

.jcc-full-modal__backdrop,
.jcc-full-modal__dialog::backdrop {
  // Structural Attributes
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  // Visual Attributes
  background-color: rgba(black, 0.2);
}

.jcc-full-modal__dialog {
  // Structural Attributes
  @include u-padding(2);
  min-height: 80%;
  margin: 5% auto;
  width: 90%;
  max-width: 70rem;
  position: relative;
  box-sizing: border-box;

  @include at-media(desktop) {
    @include u-padding(6);
  }

  // Visual Attributes
  border: 0;
  box-shadow: 8px 8px 32px rgba(black, 0.2);
}

.jcc-full-modal__close-button {
  position: absolute;
  webkit-appearance: none;
  top: 0;
  right: 0;

  @include at-media(desktop) {
    top: 32px;
    right: 32px;
  }
}

.jcc-full-modal__content {
}

.jcc-full-modal__trigger {
  @include button-unstyled;
  @include u-font-size("sans", "md");
  text-decoration: none;
}
