<ul class="jcc-list-group"{% if id %} id="{{ id }}"{% endif %}>

  {% for item in list_group %}
  <li>
    <p><strong>{{ item.title }}</strong></p>
    <p>{{ item.excerpt }}</p>
  </li>
  {% endfor %}
  
</ul>
