.usa-alert {
  @include u-display(none);

  &.active {
    @include u-display(block);
  }

  // Centered/constrained
  &--centered {
    @extend .grid-container-widescreen;

    &::before {
      display: none;
    }
  }
}

.usa-alert__wrapper {
  &--info {
    @include u-bg($theme-color-info-lighter);
  }

  &--success {
    @include u-bg($theme-color-success-lighter);
  }

  &--warning {
    @include u-bg($theme-color-warning-lighter);
  }

  &--error {
    @include u-bg($theme-color-error-lighter);
  }
}

.usa-alert__body {
  @include u-display(block);
  @include u-padding-top(2px);
  @include u-padding-right(8);

  .usa-alert--slim & {
    @include u-padding-top(0.5);
  }
}

.usa-alert__text {
  @include u-margin-bottom(0);
  @include typeset(body, 2xs, 6);
}

.usa-alert__heading {
  @include u-margin-bottom(1);
  @include typeset(body, sm, 2);
  @include u-font-weight(bold);

  .usa-alert--slim & {
    @include u-float(left);
    @include u-margin-right(0.5);
    @include u-margin-bottom(0);
    @include typeset(body, 2xs, 6);
  }
}

.usa-alert__close {
  @include u-display(block);
  @include u-position(absolute);
  @include u-top(2);
  @include u-right(2);
  @include u-cursor(pointer);
  @include add-background-svg("close", "../images/icomoon/SVG");
  width: 30px;
  height: 28px;
  background-size: cover;

  .usa-alert--slim & {
    @include u-top(1);
  }
}
