$_config_schemes: (
  base: (
    alert: (
      // variants
      background-color_info: $theme-color-info-lighter,
      background-color_success: $theme-color-success-lighter,
      background-color_warning: $theme-color-warning-lighter,
      background-color_error: $theme-color-error-lighter,
      border-color_info: $theme-color-info,
      border-color_success: $theme-color-success,
      border-color_warning: $theme-color-warning,
      border-color_error: $theme-color-error,
    ),
  ),
  local: (),
  pro: (
    alert: (
      background-color_info: "white",
      background-color_success: "white",
      background-color_warning: "white",
      background-color_error: "white",
      border-color_info: "white",
      border-color_success: "white",
      border-color_warning: "white",
      border-color_error: "white",
    ),
  ),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);
$_alert: map-get($_config, alert);

// Add the css rule for default & alt
@mixin hc($prop, $map, $key) {
  #{$prop}: color(map-get($map, "default-#{$key}"));
}

.usa-alert {
  @include u-display(none);

  &.active {
    @include u-display(block);
  }

  // Centered/constrained
  &--centered {
    @include u-border-color("transparent");

    @include at-media(desktop) {
      @include grid-container(widescreen);
    }
  }

  &--slim {
    &::before {
      top: 3px;
    }
  }
}

.usa-alert__wrapper {
  &--info,
  .usa-alert--info {
    @include u-bg(map-get($_alert, background-color_info));
    @include u-border-color(map-get($_alert, border-color_info));
  }

  &--success,
  .usa-alert--success {
    @include u-bg(map-get($_alert, background-color_success));
    @include u-border-color(map-get($_alert, border-color_success));
  }

  &--warning,
  .usa-alert--warning {
    @include u-bg(map-get($_alert, background-color_warning));
    @include u-border-color(map-get($_alert, border-color_warning));
  }

  &--error,
  .usa-alert--error {
    @include u-bg(map-get($_alert, background-color_error));
    @include u-border-color(map-get($_alert, border-color_error));
  }
}

.usa-alert__body {
  @include u-display(block);
  @include u-padding-right(8);

  .usa-alert--slim & {
    @include u-padding-y(2px);
  }

  .usa-alert--slim.usa-alert--centered & {
    @include at-media(desktop) {
      @include u-padding-left(2);
    }
  }

  .usa-alert--tall.usa-alert--centered & {
    @include at-media(desktop) {
      @include u-padding-left(4);
    }
  }
}

.usa-alert__text {
  @include u-margin-bottom(0);

  &,
  > p {
    @include typeset(body, 2xs, 6);
    letter-spacing: 0.37px;
  }
}

.usa-alert__heading {
  @include u-margin-bottom(1);
  @include typeset(body, sm, 2);
  @include u-font-weight(bold);
  letter-spacing: 0.37px;

  .usa-alert--slim & {
    @include u-float(left);
    @include u-margin-right(0.5);
    @include u-margin-bottom(0);
    @include typeset(body, 2xs, 6);
  }
}

.usa-alert__close {
  all: unset;
  @include u-display(flex);
  @include u-position(absolute);
  @include u-justify-content(justify-center);
  @include u-align-items(align-center);
  @include u-top(2);
  @include u-right(2);
  @include u-cursor(pointer);
  width: 43px;
  height: 43px;

  .usa-alert--slim & {
    @include u-top(2px);
  }
}

// Drupal Webform exceptions
.webform-submission-form {
  .usa-alert {
    @include u-display(block);
  }
}

// Blockquote
blockquote{
  @include u-display(flex);
}
.blockquote--box {
  display: grid;
}