{#
/**
 * Available variables:
 * - alert - primary variable
 *   - type: type of alert [info, success, warning, error]
 *   - size: vertical size of alert [tall, slim]
 *   - width: horizontal width of alert [full, centered]
 *       full width is 100% wide, and has no max-width on the body
 *       centered width is 100% wide, and does have a max-width on the body
 *   - heading: bolded text at the beginning
 *   - text: the message
 *   - close: show a close button?
 *   - classes: array of classes to add to component
 */
#}

{% set type = alert.type|default('info') %}
{% set size = alert.size|default('tall') %}
{% set width = alert.width|default('full') %}

{% set classes = [
  'usa-alert',
  'usa-alert--' ~ type,
  'usa-alert--' ~ size,
  'usa-alert--' ~ width,
]|merge(alert.classes|default([])) %}

<div class="usa-alert__wrapper usa-alert__wrapper--{{ type }}">
  <div class="{{ classes|join(' ')|trim }}">
    <div class="usa-alert__body">
      <h3 class="usa-alert__heading">{{ alert.heading }}</h3>
      <div class="usa-alert__text">{{ alert.text }}</div>

      {% if alert.close %}
        <div class="usa-alert__close"></div>
      {% endif %}
    </div>
  </div>
</div>
