html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  @include u-margin(0);
  @include u-padding(0);
}

hr {
  @include u-border(0);
  border-bottom: 3px solid color(base-lighter);
}

a {
  @include link-colors((
    default: $theme-link-color,
    hover: $theme-link-hover-color,
    active: $theme-link-active-color,
  ));
}
