html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  @include u-margin(0);
  @include u-padding(0);
}

hr {
  @include u-border(0);
  border-bottom: 3px solid color(base-lighter);
}

a {
  @include link-colors((
    default: $theme-link-color,
    hover: $theme-link-hover-color,
    active: $theme-link-active-color,
  ));
}

blockquote.blockquote {
  &--alert {
    @include u-position(relative);
    @include u-padding-top(2.5);
    @include u-padding-bottom(3);
    @include u-padding-left(9);
    @include u-padding-right(2);
    @include u-bg($theme-color-warning-lighter);

    h5, h6, p {
      @include typeset(body, xs, $theme-body-line-height);
    }

    &::before {
      @include u-position(absolute);
      @include u-top(0);
      @include u-left(0);
      @include u-height(full);
      @include u-bg($theme-color-warning);
      width: 4px;
      content: "";
    }

    &::after {
      @include u-display(block);
      @include u-position(absolute);
      @include u-top(2);
      @include u-left(2.5);
      @include u-width(4);
      @include u-height(4);
      @include add-background-svg("usa-icons/warning");
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
    }
  }
}
