.usa-prose {
  > ul li,
  > ol li {
    @include u-margin-top(1.5);
  }

  h1,
  .jcc-h1 {
    @extend .jcc-h1;
  }

  h2,
  .jcc-h2 {
    @extend .jcc-h2;
    @include u-margin-bottom(3);
  }

  h3,
  .jcc-h3 {
    @extend .jcc-h3;
  }

  h4,
  .jcc-h4 {
    @extend .jcc-h4;
  }

  h5,
  .jcc-h5 {
    @extend .jcc-h5;
  }

  h6,
  .jcc-h6 {
    @extend .jcc-h6;
  }

  > hr {
    @include u-margin-top(5);
  }

  > table {
    @include u-width(full);
    @include u-margin-top(2);
  }

  > blockquote {
    @include u-margin-top(2);
  }

  > .embed-responsive {
    @include u-margin-top(2);
  }
}
