$_config_schemes: (
  base: (
    lead-color: "ink",
    brow-color: base-dark,
  ),
  local: (
    lead-color: "base-darker",
  ),
  pro: (
    brow-color: "gray-warm-90",
    lead-color: "gray-warm-90",
  ),
);

$_config: map-merge-by-keys($_config_schemes, base, $_config_schemes, $scheme);

.jcc-lead {
  @include typeset($theme-lead-font-family, $theme-lead-font-size, $theme-lead-line-height);
  @include u-color(map-get($_config, lead-color));
  @include u-font-weight(normal);
  max-width: measure($theme-lead-measure);

  @include at-media-max(tablet-lg) {
    font-size: font-size($theme-lead-font-family, $theme-lead-font-size) * 0.9;
  }
}

.jcc-small {
  @include typeset($theme-body-font-family, $theme-small-font-size, $theme-body-line-height);
  @include u-font-weight(normal);
}

.jcc-brow {
  @include typeset($theme-body-font-family, 2xs, $theme-body-line-height);
  @include u-color(map-get($_config, brow-color));
  @include u-font-weight(normal);
  @include u-text(uppercase);
  letter-spacing: 2px;
}

.jcc-metadata {
  @include typeset($theme-body-font-family, 4, $theme-body-line-height);
  @include u-color(gray-40);
  @include u-text(uppercase);
  line-height: 3.5;
}
