<div class="jcc-flowmap-section jcc-flowmap-section--{{ background_variant }}">
  <div class="jcc-flowmap-section__container">
    
    {% include 'molecules-header-group' %}
    
    <ul class="jcc-flowmap">
    
      {% for step in flowmap %}
      
      {% include "molecules-flowmapstep" with {
        title: step.title,
        excerpt: step.excerpt,
        read_more_link: step.read_more_link
      } %}
    
      {% endfor %}
    </ul>

  </div>
</div>