// SCHEME PROPERTIES

$schemes: (
  sans: (
          //labels
          //counters
          //counter_size
          //alignment
  ),
  serif: (
  ),
  simple :(

  )
);

// Generate a style for each scheme
@each $scheme, $map in $schemes {
//  $theme-jcc-VALUE: map-get($map, VALUE);


  .step-indicator-base-scheme-#{$scheme} {
  }
}