
			<!--DO NOT REMOVE-->
			{{ patternLabFoot | raw }}
			<script src="../../styleguide/js/styleguide.js?{{ cacheBuster }}" type="text/javascript"></script>
			<script src="../../js/scripts.js?{{ cacheBuster }}" type="text/javascript"></script>
		</div>
	</body>
</html>
